<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
          <a href="/admin" style="text-decoration: none; color: black">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title"> DashBoard </span>
            </span>
          </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
          <span class="breadcrumb__inner">
            <span class="breadcrumb__title">Danh sách hãng</span>
          </span>
        </li>
      </ul>
      <div class="m-1">
        <div class="col-lg-12 mb-4 shadow">
          <div class="card">
            <div class="card-body text-start">
              <button
                class="btn btn-primary"
                data-bs-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
              </button>
              <div class="collapse mt-2" id="collapseExample">
                <div class="card card-body">
                  <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="field__style">
                          <div class="label-field__style">
                            <label for="">Tên hãng sản phẩm</label>
                          </div>
                          <div class="input-field__style">
                            <div class="icon__style-field_input">
                              <i class="fa-regular fa-file-lines"></i>
                            </div>
                            <input
                              type="text"
                              v-model="addBrand.name"
                              placeholder="Nhập tên hãng sản phẩm"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mt-3 text-end">
                        <button
                          type="button"
                          id="close-collapse__brand-style"
                          class="btn btn-secondary m-2"
                          @click="CloseCollapseBrand()"
                        >
                          Đóng
                        </button>
                        <button
                          type="button"
                          class="btn btn-success m-2"
                          @click="AddBrand()"
                        >
                          <i class="fa-regular fa-floppy-disk"></i> Thêm mới
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table__style">
          <div class="col-lg-12 mb-4">
            <div class="card" style="border: none">
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="10px">STT</th>
                      <th class="text-start">Tên hãng</th>
                      <th width="150px">Chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in brands" :key="index">
                      <th scope="row">{{ index + 1 }}</th>
                      <td class="text-start">{{ item.name }}</td>
                      <td>
                        <div class="button__style-fuc">
                          
                          <div class="tool_tip_style_css">
                            <span class="tool_tip_text__style_css">Xóa</span>

                            <button
                              class="btn btn-outline-danger"
                              @click="DeleteBrand(item.brandID)"
                            >
                              <i class="fa-light fa-trash-can"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
  setup() {
    const brands = ref({});
    const addBrand = ref({});
    onMounted(() => {
      GetDataBrand();
    });

    function GetDataBrand() {
      
      axios
        .get("http://localhost:38448/api/HangSanPham/List")
        .then((response) => {
          brands.value = response.data;
          console.log(brands.value);
        })
        .catch((error) => {
          console.log("Lỗi gọi danh sách dữ liệu hãng sản phẩm: " + error);
        });
    }

    function AddBrand() {
      if (!addBrand.value.name) {
          toast.error("Vui lòng nhập tên hãng sản phẩm!");
          return;
      }
      if (!/^[a-zA-Z0-9\s]+$/.test(addBrand.value.name)) {
          toast.error("Tên hãng sản phẩm chỉ được chứa các ký tự chữ cái và số!");
          return;
      }
      if (addBrand.value.name.length < 3) {
          toast.error("Tên hãng sản phẩm phải có ít nhất 3 ký tự!");
          return;
      }
      if (addBrand.value.name.length > 50) {
          toast.error("Tên hãng sản phẩm không được vượt quá 50 ký tự!");
          return;
      }
      axios
        .post("http://localhost:38448/api/HangSanPham/Store", addBrand.value)
        .then(() => {
          toast.success("Thêm mới hãng thành công!")
          GetDataBrand();
          addBrand.value.name = "";
          CloseCollapseBrand();
        })
        .catch(() => {
          toast.error("Thêm mới hãng thất bại!")
        });
    }

    function DeleteBrand(id) {
      axios
        .delete("http://localhost:38448/api/HangSanPham/Delete/" + id)
        .then(() => {
          toast.success("Xóa hãng thành công!")
          GetDataBrand();
        })
        .catch(() => {
          toast.error("Xóa hãng thất bại!")
        });
    }

    function CloseCollapseBrand() {
      const ariaExpanded = document.querySelector(
        "#close-collapse__brand-style"
      );
      ariaExpanded.setAttribute("aria-expanded", "false");
      document.querySelector("#collapseExample").classList.remove("show");
      console.log(ariaExpanded);
    }
    return {
      brands,
      addBrand,
      GetDataBrand,
      CloseCollapseBrand,
      AddBrand,
      DeleteBrand,
    };
  },
};
</script>

<style>
/* @import url("../../../assets/css/tool.tip.css"); */
</style>
