<template>
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Danh mục sản phẩm</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="col-lg-12 mb-4 shadow">
            <div class="card">
                <div class="card-body text-start">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
                    </button>
                    <!-- Modal add category-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <i class="fa-regular fa-list-ol" style="color: red"></i>
                                        Thêm mới danh mục sản phẩm
                                    </h5>
                                    <button type="button" id="btn__close-modal-add-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên danh mục</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="addCategory.name" placeholder="Nhập tên danh mục" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên danh mục seo</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="addCategory.seoTitle" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Trạng thái</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="addCategory.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0">Công khai</option>
                                                                    <option value="1">Chưa công khai</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Phân cấp</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <select v-model="addCategory.parentID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option selected value="0">
                                                                        Cấp cha
                                                                    </option>
                                                                    <option value="1">Cấp con</option>
                                                                    <option value="2">Cấp cháu</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian thêm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="addCategory.createdDate" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian cập nhật</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="addCategory.updatedDate" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-end">
                                                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button type="button" class="btn btn-success m-2" @click="AddCategory(new Date(), new Date())">
                                                            <i class="fa-regular fa-floppy-disk"></i> Thêm
                                                            mới
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10px">STT</th>
                                    <th class="text-start">Tên danh mục</th>
                                    <th width="200px">Ngày tạo</th>
                                    <th width="200px">Trạng thái</th>
                                    <th width="200px">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(danhmuc, index) in category" :key="index">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td class="text-start">{{ danhmuc.name }}</td>
                                    <td>
                                        {{
                          new Date(danhmuc.createdDate).toLocaleDateString(
                            "vi-VN"
                          )
                        }}
                                    </td>
                                    <td v-if="danhmuc.status == 0" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: #27c431"></i>
                                        Công khai
                                    </td>
                                    <td v-if="danhmuc.status == 1" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: red"></i>
                                        Không công khai
                                    </td>
                                    <td>
                                        <div class="button__style-fuc">
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xem chi tiết</span>
                                                <button class="btn btn-outline-info">
                                                    <i class="fa-light fa-eye-evil"></i>
                                                </button>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Chỉnh sửa</span>

                                                <button class="btn btn-outline-warning" @click="GetByIdCategory(danhmuc.cateID)" data-bs-toggle="modal" :data-bs-target="'#editCategory' + danhmuc.cateID">
                                                    <i class="fa-light fa-marker"></i>
                                                </button>
                                                <!-- Modal edit category-->
                                                <div v-if="editCategory" class="modal fade" :id="'editCategory' + danhmuc.cateID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-light fa-pencil" style="color: #d31746"></i>
                                                                    Chỉnh sửa danh mục sản phẩm
                                                                </h5>
                                                                <button type="button" id="btn__close-modal-edit-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <form action="">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Tên danh mục</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="editCategory.name" placeholder="Nhập tên danh mục" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Tên danh mục seo</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="editCategory.seoTitle" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Trạng thái</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <select v-model="editCategory.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0">
                                                                                                    Công khai
                                                                                                </option>
                                                                                                <option value="1">
                                                                                                    Chưa công khai
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Phân cấp</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <select v-model="editCategory.parentID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0">
                                                                                                    Cấp cha
                                                                                                </option>
                                                                                                <option value="1">
                                                                                                    Cấp con
                                                                                                </option>
                                                                                                <option value="2">
                                                                                                    Cấp cháu
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: none">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian thêm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="editCategory.createdDate" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: none">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian cập nhật</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="editCategory.updatedDate" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mt-3 text-end">
                                                                                    <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                                                        Đóng
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-success m-2" @click="UpdateCategory(editCategory.cateID,new Date())">
                                                                                        <i class="fa-regular fa-floppy-disk"></i>
                                                                                        Cập nhật
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xóa</span>
                                                <button class="btn btn-outline-danger" data-bs-toggle="modal" :data-bs-target="'#deleteCategory' + danhmuc.cateID">
                                                    <i class="fa-light fa-trash-can"></i>
                                                </button>
                                                <div class="modal fade" :id="'deleteCategory' + danhmuc.cateID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                                    THÔNG BÁO
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                                    Bạn có chắc chắn muốn xóa danh mục
                                                                    <strong>{{ danhmuc.name }}</strong>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                                    <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                                    Hủy
                                                                </button>
                                                                <button type="button" class="btn btn-primary" @click="DeleteCategory(danhmuc.cateID)">
                                                                    <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                                    Xác nhận
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import {
    onMounted,
    ref
} from "vue";
import axios from "axios";
import {
    toast
} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {

    setup() {
        const category = ref({});
        const addCategory = ref({
            name: null,
            status: 0,
            seoTitle: null,
            parentID: 0,
            createdDate: null,
            updatedDate: null,
        });
        const editCategory = ref({
            name: null,
            status: null,
            seoTitle: null,
            parentID: null,
            createdDate: null,
            updatedDate: null,
        });
        let editDialog = false;
        onMounted(() => {
            GetDataCategory();
        });

        function ResetData() {
            addCategory.value.name = "";
            addCategory.value.status = "";
            addCategory.value.seoTitle = "";
            addCategory.value.parentID = "";
        }

        function GetDataCategory() {
            axios
                .get("http://localhost:38448/api/DanhMucSanPham/List")
                .then((response) => {
                    category.value = response.data;
                })
                .catch((error) => {
                    console.log("Lỗi gọi danh sách dữ liệu danh muc: " + error);
                });
        }

        function AddCategory(createdDate, updatedDate) {
            addCategory.value.createdDate = createdDate;
            addCategory.value.updatedDate = updatedDate;
            // Kiểm tra trường name
            // if (!addCategory.value.name) {
            //     toast.error("Vui lòng nhập tên danh mục!");
            //     return;
            // }
            // if (!/^[a-zA-Z0-9\s]+$/.test(addCategory.value.name)) {
            //     toast.error("Tên danh mục chỉ được chứa các ký tự chữ cái và số!");
            //     return;
            // }
            // if (addCategory.value.name.length < 3) {
            //     toast.error("Tên danh mục phải có ít nhất 3 ký tự!");
            //     return;
            // }
            // if (addCategory.value.name.length > 50) {
            //     toast.error("Tên danh mục không được vượt quá 50 ký tự!");
            //     return;
            // }

            // // Kiểm tra trường seoTitle
            // if (!addCategory.value.seoTitle) {
            //     toast.error("Vui lòng nhập tiêu đề SEO!");
            //     return;
            // }
            // if (!/^[a-zA-Z0-9\s]+$/.test(addCategory.value.seoTitle)) {
            //     toast.error("Tiêu đề SEO chỉ được chứa các ký tự chữ cái và số!");
            //     return;
            // }
            // if (addCategory.value.seoTitle.length < 5) {
            //     toast.error("Tiêu đề SEO phải có ít nhất 5 ký tự!");
            //     return;
            // }
            // if (addCategory.value.seoTitle.length > 100) {
            //     toast.error("Tiêu đề SEO không được vượt quá 100 ký tự!");
            //     return;
            // }

            // // Kiểm tra trạng thái
            // if (addCategory.value.status === null || addCategory.value.status === "") {
            //     toast.error("Vui lòng chọn trạng thái!");
            //     return;
            // }
            axios
                .post(
                    "http://localhost:38448/api/DanhMucSanPham/Store",
                    addCategory.value
                )
                .then(() => {
                    toast.success("Thêm mới danh mục thành công!");
                    GetDataCategory();
                    ResetData();
                    location.reload();
                })
                .catch(() => {
                    toast.error("Thêm mới danh mục thất bại!");

                });
        }

        function DeleteCategory(id) {
            axios
                .delete("http://localhost:38448/api/DanhMucSanPham/Delete/" + id)
                .then(() => {
                    toast.success("Xóa danh mục thành công!");
                    GetDataCategory();
                    location.reload();
                })
                .catch(() => {
                    toast.error("Xóa danh mục thất bại!");

                });
        }

        function GetByIdCategory(id) {
            axios
                .get("http://localhost:38448/api/DanhMucSanPham/GetById/" + id)
                .then((response) => {
                    editCategory.value = response.data;
                    console.log(document.querySelector("#editCategory" + id));
                })
                .catch((error) => {
                    console.log("Loi get by id category: " + error);
                });
        }

        function UpdateCategory(id, updatedDate) {
            editCategory.value.updatedDate = updatedDate;
            // Kiểm tra trường name
            if (!editCategory.value.name) {
                toast.error("Vui lòng nhập tên danh mục!");
                return;
            }
            if (!/^[a-zA-Z0-9\s]+$/.test(editCategory.value.name)) {
                toast.error("Tên danh mục chỉ được chứa các ký tự chữ cái và số!");
                return;
            }
            if (editCategory.value.name.length < 3) {
                toast.error("Tên danh mục phải có ít nhất 3 ký tự!");
                return;
            }
            if (editCategory.value.name.length > 50) {
                toast.error("Tên danh mục không được vượt quá 50 ký tự!");
                return;
            }
            // Kiểm tra trường seoTitle
            if (!editCategory.value.seoTitle) {
                toast.error("Vui lòng nhập tiêu đề SEO!");
                return;
            }
            if (!/^[a-zA-Z0-9\s]+$/.test(editCategory.value.seoTitle)) {
                toast.error("Tiêu đề SEO chỉ được chứa các ký tự chữ cái và số!");
                return;
            }
            if (editCategory.value.seoTitle.length < 5) {
                toast.error("Tiêu đề SEO phải có ít nhất 5 ký tự!");
                return;
            }
            if (editCategory.value.seoTitle.length > 100) {
                toast.error("Tiêu đề SEO không được vượt quá 100 ký tự!");
                return;
            }

            // Kiểm tra trạng thái
            if (editCategory.value.status === null || editCategory.value.status === "") {
                toast.error("Vui lòng chọn trạng thái!");
                return;
            }
            axios
                .put(
                    "http://localhost:38448/api/DanhMucSanPham/Update/" + id,
                    editCategory.value
                )
                .then(() => {
                    toast.success("Cập nhật danh mục thành công!");
                    GetDataCategory();
                    location.reload();
                })
                .catch(() => {
                    toast.error("Cập nhật danh mục thất bại!");
                });
        }
        return {
            category,
            addCategory,
            editCategory,
            editDialog,
            AddCategory,
            DeleteCategory,
            GetByIdCategory,
            UpdateCategory,
        };
    },
};
</script>

<style>
@import url("../../assets/css/style.breadcrumb.css");
</style>
