<template>
<section>
    <section class="home-section">
                <div class="home-content"> 
                    <div class="overview-boxes">
                        <div class="box">
                            <div class="left-side">
                                <div class="box_topic">Tổng đơn hàng</div>
                                <div class="number">{{ orderData }}</div>
                                <div class="indicator">
                                    <i class='bx bx-up-arrow-alt' ></i>
                                    <span class="text">Cập nhật 10' trước</span>
                                </div>
                            </div>
                            <i class="fa-duotone fa-cart-plus" id="order_list"></i>
                        </div>
                        <div class="box">
                            <div class="left-side">
                                <div class="box_topic">Khách hàng</div>
                                <div class="number">{{ khachhangs }}</div>
                                <div class="indicator">
                                    <i class='bx bx-up-arrow-alt' ></i>
                                    <span class="text">Cập nhật 10' trước</span>
                                </div>
                            </div>
                            <i class="fa-light fa-users" id="customer_dash"></i>
                        </div>
                        <div class="box">
                            <div class="left-side">
                                <div class="box_topic">Tổng tiền</div>
                                <div class="number">{{ totalProfit.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</div>
                                <div class="indicator">
                                    <i class='bx bx-up-arrow-alt' ></i>
                                    <span class="text">Cập nhật 10' trước</span>
                                </div>
                            </div>
                            <i class="fa-light fa-sack-dollar" id="total_profit"></i>
                        </div>
                        <div class="box">
                            <div class="left-side">
                                <div class="box_topic">Đơn hàng thành công</div>
                                <div class="number">{{ donHangSuccess }}</div>
                                <div class="indicator">
                                    <i class='bx bx-up-arrow-alt' ></i>
                                    <span class="text">Cập nhật 10' trước</span>
                                </div>
                            </div>
                            <i class='bx bx-list-check cart four' ></i>
                        </div>
                    </div>
                </div> 
        
                <div class="home-pie">
                    <div class="">
                        
                    </div>
                </div>
            </section>
</section>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref } from "vue";

const orderData = ref({})
const khachhangs = ref({})
const donHangSuccess = ref({})
const donHangChiTiet = ref({})
const totalProfit = ref(0)

onMounted(()=>{
    getDataOrder();
    getDataCustomer();
    getDonHangThanhCong();
})

function getDataOrder() {
  axios.get("http://localhost:38448/api/DonHang/List").then((response) => {
    orderData.value = response.data.length;
  });
}

function getDataCustomer(){
    axios.get("http://localhost:38448/api/KhachHang/List")
    .then((response)=>{ 
        khachhangs.value = response.data.length;
    })
    .catch((error)=>{
        console.log("Lỗi load data khách hàng: ", error);
    })
}

function getDonHangThanhCong(){
    axios.get("http://localhost:38448/api/DonHang/DonHangThanhCong/1").then((response) => {
        donHangSuccess.value = response.data.length;
        donHangChiTiet.value = response.data
        donHangChiTiet.value.forEach((item)=>{
            getChiTietDonHang(item.orderID)
        })
  });
}

function getChiTietDonHang(id){
    axios.get("http://localhost:38448/api/ChiTietDonHang/DanhSachOrderID/" + id).then((response)=>{
        console.log(response.data);
        response.data.forEach((item)=>{
            totalProfit.value += (item.price * item.quantity);
            console.log(item.price + " * " + item.quantity + " = " , totalProfit.value);
        })
    })
}
</script>

<style scoped>
/* Home - Section */
.home-section {
    position:fixed;
    background: #f5f5f5;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
    height: 100vh;
    overflow-y: scroll;
	padding-bottom:30px;
}

.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}


.sidebar.active ~ .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
}


.home-section .home-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ccc;
}

.home-section .overview-boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

    .home-section .overview-boxes .box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 14px;
        background: #fff;
        width: calc(100%/4 - 15px);
        border-radius: 12px;
    }

    .home-section .overview-boxes .box_topic {
        font-size: 20px;
        font-weight: 500;
    }

    .home-section .overview-boxes .number {
        font-size: 35px;
        font-weight: 500;
        margin-top: -5px;
        display: inline-block;
    }

    .home-section .overview-boxes .indicator {
        display: flex;
        align-items: center;
    }

    .home-section .overview-boxes .indicator i {
        height: 20px;
        width: 20px;
        background: #8FDACB;
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        margin-right: 5px;
    }

    .home-section .overview-boxes .indicator .text {
        font-size: 12px;
    }

.overview-boxes .box .cart {
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}

i#order_list {
    font-size: 30px;
    color: #4387f6;
    padding: 5px 8px;
}

i#customer_dash {
    font-size: 30px;
    border-radius: 3px;
    color: red;
}

i#total_profit {
    font-size: 30px;
    border-radius: 3px;
    color: yellow;
}
</style>
