<template>
  <div class="">
    <section>
      <side-bar-admin/>
      <div class="home_content">
        <div class="" id="TOP-ADMIN-STYLE">
          <top-admin/>
        </div>
        <div class="">
          <router-view></router-view>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import TopAdmin from '@/components/admins/TopAdmin.vue'
import SideBarAdmin from '../../components/admins/SideBarAdmin.vue'
export default {
  components: { SideBarAdmin, TopAdmin, },
  setup(){
    
  }
  
}
</script>
<style>
  @import url("../../assets/css/view.admin.css");
</style>