<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Danh sách Slide</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="col-lg-12 mb-4 shadow">
            <div class="card">
                <div class="card-body text-start">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
                    </button>
                    <!-- Modal add category-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <i class="fa-regular fa-list-ol" style="color: red"></i>
                                        Thêm mới slide
                                    </h5>
                                    <button type="button" id="btn__close-modal-add-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên Slide</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="addSlide.name" placeholder="Nhập tên Slide" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Trạng thái</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="addSlide.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0">Công khai</option>
                                                                    <option value="1">Chưa công khai</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Ảnh</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="file" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-end">
                                                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button type="button" class="btn btn-success m-2" @click="addNewSlide()">
                                                            <i class="fa-regular fa-floppy-disk"></i> Thêm
                                                            mới
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10px">STT</th>
                                    <th class="text-start">Tên slide</th>
                                    <th width="150px">Ảnh</th>
                                    <th width="200px">Trạng thái</th>
                                    <th width="150px">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in slide" :key="index">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td class="text-start">{{ item.name }}</td>
                                    <td>
                                        <img :src="item.image" style="width: 100px; height: 80px;" alt="">
                                    </td>
                                    <td v-if="item.status == 0" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: #27c431"></i>
                                        Công khai
                                    </td>
                                    <td v-if="item.status == 1" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: red"></i>
                                        Không công khai
                                    </td>
                                    <td>
                                        <div class="button__style-fuc">
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Chỉnh sửa</span>

                                                <button class="btn btn-outline-warning" @click="GetByIdCategory(item.slideID)" data-bs-toggle="modal" :data-bs-target="'#editCategory' + item.slideID">
                                                    <i class="fa-light fa-marker"></i>
                                                </button>
                                                <!-- Modal edit category-->
                                                
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xóa</span>
                                                <button class="btn btn-outline-danger" data-bs-toggle="modal" :data-bs-target="'#deleteCategory' + item.slideID">
                                                    <i class="fa-light fa-trash-can"></i>
                                                </button>
                                                <div class="modal fade" :id="'deleteCategory' + item.slideID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                                    THÔNG BÁO
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                                    Bạn có chắc chắn muốn xóa slide
                                                                    <strong>{{ item.name }}</strong>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                                    <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                                    Hủy
                                                                </button>
                                                                <button type="button" class="btn btn-primary" @click="DeleteSlide(item.slideID)">
                                                                    <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                                    Xác nhận
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
import {
    onMounted,
    ref
} from "vue";
import axios from "axios";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    setup() {
        const slide = ref({});
        const addSlide = ref({});
        onMounted(() => {
            getDataSlide()
        })

        function getDataSlide() {
            axios
                .get("http://localhost:38448/api/Slide/List")
                .then((response) => {
                    slide.value = response.data;
                })
                .catch((error) => {
                    console.log("Lỗi gọi danh sách slide: " + error);
                });
        }

        function addNewSlide() {
            axios
                .post(
                    "http://localhost:38448/api/Slide/Store",
                    addSlide.value
                )
                .then((response) => {
                    console.log(response);
                    location.reload();
                })
                .catch((error) => {
                    console.log("Lỗi thêm mới slide: " + error);
                });
        }

        function DeleteSlide(id) {
      axios
        .delete("http://localhost:38448/api/Slide/Delete/" + id)
        .then((response) => {
          console.log(response);
          location.reload();
        })
        .catch((error) => {
          console.log("Lỗi xóa slide: " + error);
        });
    }
        return {
            slide,
            addSlide,
            getDataSlide,
            addNewSlide,
            DeleteSlide
        }
    }
}
</script>

<style>

</style>