<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Danh sách khách hàng</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10px">STT</th>
                                    <th class="text-start">Tên khách hàng</th>
                                    <th width="200px">Ảnh</th>
                                    <th width="200px">Số điện thoại</th>
                                    <th width="200px">Tuổi</th>
                                    <th width="200px">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(khachhang, index) in khachhangs" :key="index">
                                    <td>{{ index + 1 }}</td>
                                    <td style="text-align: left;">{{ khachhang.name }}</td>
                                    <td>
                                        <img v-if="khachhang.avatar != ''" :src="`${urlImage}${url}`+ khachhang.avatar" alt="" style="width: 120px; height: 90px; object-fit: contain;">
                                        <img v-if="khachhang.avatar == ''" :src="`${urlImage}${url}`+ 'undefined.png'" alt="" style="width: 120px; height: 90px; object-fit: contain;">
                                    </td>
                                    <td>{{ khachhang.phone }}</td>
                                    <td>{{ khachhang.age }}</td>
                                    <td>
                                        <div class="button__style-fuc">
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xem chi tiết</span>
                                                <router-link :to="'khach-hang-chi-tiet/'+ khachhang.accountID">
                                                    <button class="btn btn-outline-info">
                                                    <i class="fa-light fa-eye-evil"></i>
                                                </button>
                                                </router-link>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Chỉnh sửa</span>
                                                <button class="btn btn-outline-warning">
                                                    <i class="fa-light fa-marker"></i>
                                                </button>                                                
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xóa</span>
                                                <button class="btn btn-outline-danger" data-bs-toggle="modal" :data-bs-target="'#deleteCategory' + khachhang.accountID">
                                                    <i class="fa-light fa-trash-can"></i>
                                                </button>
                                                <div class="modal fade" :id="'deleteCategory' + khachhang.accountID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                                    THÔNG BÁO
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                                    Bạn có chắc chắn muốn xóa khách hàng: 
                                                                    <strong>{{ khachhang.name }}</strong>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                                    <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                                    Hủy
                                                                </button>
                                                                <button type="button" class="btn btn-primary" @click="DeleteCustomer(khachhang.accountID)">
                                                                    <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                                    Xác nhận
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
import { onMounted, ref } from 'vue'
import axios from 'axios'
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    setup() {
        const khachhangs = ref({})
        const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
        const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\khachhangs\\"
        onMounted(() => {
            getDataCustomer()
        })

        function getDataCustomer(){
            axios.get("http://localhost:38448/api/KhachHang/List")
            .then((response)=>{ 
                khachhangs.value = response.data;
                console.log(khachhangs.value);
            })
            .catch((error)=>{
                
                console.log("Lỗi load data khách hàng: ", error);
            })
        }

        function DeleteCustomer(id){
            axios.delete("http://localhost:38448/api/KhachHang/Delete/" + id)
            .then((response)=>{ 
                console.log(response);
                toast.success("Xóa tài khoản thành công !", {
                    autoClose: 1000,
                    });
                location.reload();
            })
            .catch((error)=>{
                toast.error("Xóa tài khoản thất bại !", {
                    autoClose: 1000,
                    });
                console.log("Lỗi xóa khách hàng: ", error);
            })
        }
        return {
            khachhangs,
            urlImage,
            url,
            getDataCustomer,
            DeleteCustomer
        }
    }
    
}
</script>

<style>

</style>