<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Thông tin khách hàng</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                      <div class="info__customer pt-4">
                        <div class="row">
                          <div class="col-md-5">
                            <img v-if="dataCustomer.avatar != ''" :src="`${urlImage}${url}` + dataCustomer.avatar" alt="" style="; object-fit: contain; width: 500px; height: 450px; text-align: center; border-radius: 8px; border: 0.5px solid #ccc;">
                            <img v-if="dataCustomer.avatar == ''" :src="`${urlImage}${url}` + 'undefined.png'" alt="" style="object-fit: contain;; width: 500px; height: 450px; text-align: center; border-radius: 8px; border: 0.5px solid #ccc;">
                          </div>
                          <div class="col-md-2" style="text-align: left; padding-left: 20px;">
                            <p>Tên khách hàng</p>
                            <p>Tuổi</p>
                            <p>Số điện thoại</p>
                            <p>Email</p>
                            <p>Địa chỉ</p>
                          </div>
                          <div class="col-md-5" style="text-align: left;">
                            <p>: {{ dataCustomer.name }}</p>
                            <p>: {{ dataCustomer.age }}</p>
                            <p>: {{ dataCustomer.phone }}</p>
                            <p>: {{ dataCustomer.email }}</p>
                            <p>: {{ dataCustomer.address }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="" style="text-align: right; padding-right: 30px;">
                        <button class="btn btn-outline-secondary" @click="backComponent()"><i class="fa-regular fa-hand-point-left" style="color: #4475ca;"></i> Quay lại</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script setup>
import router from "@/router";
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";

  const dataCustomer = ref({})
  const route = useRoute()
  const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
  const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\khachhangs\\"

  onMounted(()=>{
    getByIDCustomer(route.params.id)
  })
  function getByIDCustomer(id){
    axios.get("http://localhost:38448/api/KhachHang/GetByID/" + id).then((response)=>{
      dataCustomer.value = response.data;
      console.log(dataCustomer.value);
    }).catch((error)=>{
      console.log("Lỗi danh sách khách hàng getByID ", error);
    })
  }

  function backComponent(){
        router.push("/admin/khach-hang")
    }
</script>

<style>

</style>