<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
          <a href="/admin" style="text-decoration: none; color: black">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title"> DashBoard </span>
            </span>
          </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
          <span class="breadcrumb__inner">
            <span class="breadcrumb__title">Nhà cung cấp</span>
          </span>
        </li>
      </ul>
      <div class="m-1">
        <div class="col-lg-12 mb-4 shadow">
          <div class="card">
            <div class="card-body text-start">
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#supplierIndex"
              >
                <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
              </button>
              <!-- Modal add category-->
              <div
                class="modal fade"
                id="supplierIndex"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa-regular fa-list-ol" style="color: red"></i>
                        Thêm mới nhà cung cấp
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <div class="card-body">
                          <form action="">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Tên nhà cung cấp</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="text"
                                      v-model="addSupplier.name"
                                      placeholder="Tên nhà cung cấp"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Email</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="email"
                                      v-model="addSupplier.email"
                                      placeholder="Email"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Số điện thoại</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="text"
                                      v-model="addSupplier.phone"
                                      placeholder="0384 400 647"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Địa chỉ</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="text"
                                      v-model="addSupplier.address"
                                      placeholder="Hiến sơn - Đô Lương - Nghệ An"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="mt-3 text-end">
                                <button
                                  type="button"
                                  class="btn btn-secondary m-2"
                                  data-bs-dismiss="modal"
                                >
                                  Đóng
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-success m-2"
                                  @click="AddSupplier()"
                                >
                                  <i class="fa-regular fa-floppy-disk"></i> Thêm
                                  mới
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table__style">
          <div class="col-lg-12 mb-4">
            <div class="card" style="border: none">
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="10px">STT</th>
                      <th class="text-start">Nhà cung cấp</th>
                      <th width="200px">Email</th>
                      <th width="200px">Số điện thoại</th>
                      <th class="text-start">Địa chỉ</th>
                      <th width="150px">Chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in supplier" :key="index">
                      <th scope="row">{{ index + 1 }}</th>
                      <td class="text-start">{{ item.name }}</td>
                      <td>{{ item.email }}</td>
                      <td>0{{ item.phone }}</td>
                      <td class="text-start">{{ item.address }}</td>
                      <td>
                        <div class="button__style-fuc">
                          <div class="tool_tip_style_css">
                            <span class="tool_tip_text__style_css"
                              >Chỉnh sửa</span
                            >
                            <button
                              @click="GetByIdSupplier(item.supplierID)"
                              class="btn btn-outline-warning"
                              data-bs-toggle="modal"
                              :data-bs-target="'#editCategory' +item.supplierID"
                            >
                              <i class="fa-light fa-marker"></i>
                            </button>
                            <!-- Modal edit category-->
                            <div
                class="modal fade"
                :id="'editCategory' +item.supplierID"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa-regular fa-list-ol" style="color: red"></i>
                        Thêm mới nhà cung cấp
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <div class="card-body">
                          <form action="">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Tên nhà cung cấp</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="text"
                                      v-model="editSupplier.name"
                                      placeholder="Tên nhà cung cấp"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Email</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="email"
                                      v-model="editSupplier.email"
                                      placeholder="Email"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Số điện thoại</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="text"
                                      v-model="editSupplier.phone"
                                      placeholder="0384 400 647"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field__style">
                                  <div class="label-field__style">
                                    <label for="">Địa chỉ</label>
                                  </div>
                                  <div class="input-field__style">
                                    <div class="icon__style-field_input">
                                      <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input
                                      type="text"
                                      v-model="editSupplier.address"
                                      placeholder="Hiến sơn - Đô Lương - Nghệ An"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="mt-3 text-end">
                                <button
                                  type="button"
                                  class="btn btn-secondary m-2"
                                  data-bs-dismiss="modal"
                                >
                                  Đóng
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-success m-2"
                                  @click="SupplierUpdate(item.supplierID)"
                                >
                                  <i class="fa-regular fa-floppy-disk"></i> Cập nhật
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                          </div>
                          <div class="tool_tip_style_css">
                            <span class="tool_tip_text__style_css">Xóa</span>
                            <button
                              class="btn btn-outline-danger"
                              data-bs-toggle="modal"
                              :data-bs-target="
                                '#deleteSupplier' + item.supplierID
                              "
                            >
                              <i class="fa-light fa-trash-can"></i>
                            </button>
                            <div
                              class="modal fade"
                              :id="'deleteSupplier' + item.supplierID"
                              tabindex="-1"
                              aria-labelledby="exampleModalLabel"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5
                                      class="modal-title"
                                      id="exampleModalLabel"
                                    >
                                      <i
                                        class="fa-regular fa-bell-on"
                                        style="color: #eacb06"
                                      ></i>
                                      THÔNG BÁO
                                    </h5>
                                    <button
                                      type="button"
                                      class="btn-close"
                                      data-bs-dismiss="modal"
                                      aria-label="Close"
                                    ></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>
                                      <i
                                        class="fa-regular fa-triangle-exclamation"
                                        style="color: #d51515"
                                      ></i>
                                      Bạn có chắc chắn muốn xóa danh mục
                                      <strong>{{ item.name }}</strong>
                                    </p>
                                  </div>
                                  <div class="modal-footer">
                                    <button
                                      type="button"
                                      class="btn btn-secondary"
                                      id="close__modal-delete-category-style"
                                      data-bs-dismiss="modal"
                                    >
                                      <i
                                        class="fa-light fa-trash-can-xmark"
                                        style="color: #fcfcfc"
                                      ></i>
                                      Hủy
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-primary"
                                      @click="DeleteSupplier(item.supplierID)"
                                    >
                                      <i
                                        class="fa-sharp fa-regular fa-thumbs-up"
                                        style="color: #f2f3f1"
                                      ></i>
                                      Xác nhận
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
import { onMounted, ref } from "vue";
import axios from "axios";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
  name: "SupplierIndex",

  setup() {
    const supplier = ref({});
    const addSupplier = ref({});
    const editSupplier = ref({});
    const dialogAdd = ref(false);
    const dialogEdit = ref(false);
    onMounted(() => {
      GetDataSupplier();
    });

    function GetDataSupplier() {
      axios
        .get("http://localhost:38448/api/NhaCungCap/List")
        .then((response) => {
          supplier.value = response.data;
        })
        .catch((error) => {
          console.log("Lỗi gọi danh sách nhà cung cấp: " + error);
        });
    }

    function AddSupplier() {
      // Kiểm tra trường name
      if (!addSupplier.value.name) {
          toast.error("Vui lòng nhập tên nhà cung cấp!");
          return;
      }
      if (!/^[a-zA-Z0-9\s]+$/.test(addSupplier.value.name)) {
          toast.error("Tên nhà cung cấp chỉ được chứa các ký tự chữ cái và số!");
          return;
      }
      if (addSupplier.value.name.length < 3) {
          toast.error("Tên nhà cung cấp phải có ít nhất 3 ký tự!");
          return;
      }
      if (addSupplier.value.name.length > 50) {
          toast.error("Tên nhà cung cấp không được vượt quá 50 ký tự!");
          return;
      }
      if (!addSupplier.value.phone) {
        toast.error("Vui lòng nhập số điện thoại!", { autoClose: 2000 })
        return
      } else if (!/^\d{10}$/.test(addSupplier.value.phone)) {
        toast.error("Số điện thoại không hợp lệ!", { autoClose: 2000 })
        return
      }

      if (!addSupplier.value.email) {
        toast.error("Vui lòng nhập email!", { autoClose: 2000 })
        return
      } else if (!/\S+@\S+\.\S+/.test(addSupplier.value.email)) {
        toast.error("Email không hợp lệ!", { autoClose: 2000 })
        return
      }

      if (!addSupplier.value.address) {
        toast.error("Vui lòng nhập địa chỉ!", { autoClose: 2000 })
        return
      } else if (!/\S+@\S+\.\S+/.test(addSupplier.value.address)) {
        toast.error("Địa chỉ không hợp lệ!", { autoClose: 2000 })
        return
      }
      axios
        .post("http://localhost:38448/api/NhaCungCap/Store", addSupplier.value)
        .then(() => {
          toast.success("Thêm mới nhà cung cấp thành công!")
          GetDataSupplier();
          location.reload();
        })
        .catch(() => {
          toast.error("Thêm mới nhà cung cấp thất bại!")

        });
    }

    function DeleteSupplier(id) {
      axios
        .delete("http://localhost:38448/api/NhaCungCap/Delete/" + id)
        .then(() => {
          toast.success("Xóa nhà cung cấp thành công!")
          location.reload();
        })
        .catch(() => {
          toast.error("Xóa nhà cung cấp thất bại!")

        });
    }

    function GetByIdSupplier(id){
      axios.get("http://localhost:38448/api/NhaCungCap/GetById/" +id).then((response)=>{
        editSupplier.value = response.data;
      }).catch(()=>{
        console.log("Lỗi getbyid supplier");
      })
    }

    function SupplierUpdate(id){
      // Kiểm tra trường name
      if (!editSupplier.value.name) {
          toast.error("Vui lòng nhập tên nhà cung cấp!");
          return;
      }
      if (!/^[a-zA-Z0-9\s]+$/.test(editSupplier.value.name)) {
          toast.error("Tên nhà cung cấp chỉ được chứa các ký tự chữ cái và số!");
          return;
      }
      if (editSupplier.value.name.length < 3) {
          toast.error("Tên nhà cung cấp phải có ít nhất 3 ký tự!");
          return;
      }
      if (editSupplier.value.name.length > 50) {
          toast.error("Tên nhà cung cấp không được vượt quá 50 ký tự!");
          return;
      }
      if (!editSupplier.value.phone) {
        toast.error("Vui lòng nhập số điện thoại!", { autoClose: 2000 })
        return
      } else if (!/^\d{10}$/.test(editSupplier.value.phone)) {
        toast.error("Số điện thoại không hợp lệ!", { autoClose: 2000 })
        return
      }

      if (!editSupplier.value.email) {
        toast.error("Vui lòng nhập email!", { autoClose: 2000 })
        return
      } else if (!/\S+@\S+\.\S+/.test(editSupplier.value.email)) {
        toast.error("Email không hợp lệ!", { autoClose: 2000 })
        return
      }

      if (!editSupplier.value.address) {
        toast.error("Vui lòng nhập địa chỉ!", { autoClose: 2000 })
        return
      } else if (!/\S+@\S+\.\S+/.test(editSupplier.value.address)) {
        toast.error("Địa chỉ không hợp lệ!", { autoClose: 2000 })
        return
      }
      axios.put("http://localhost:38448/api/NhaCungCap/Update/" +id, editSupplier.value).then(()=>{
        toast.success("Cập nhật dữ liệu thành công!");
        location.reload();
      }).catch(()=>{
        toast.error("Cập nhật dữ liệu thất bại")
      })
    }
    return {
      supplier,
      addSupplier,
      editSupplier,
      dialogAdd,
      dialogEdit,
      GetDataSupplier,
      AddSupplier,
      DeleteSupplier,
      GetByIdSupplier,
      SupplierUpdate
    };
  },
};
</script>

<style>
@import url("../../../assets/css/style.breadcrumb.css");
@import url("../../../assets/css/tool.tip.css");
</style>
