<template>
<div class="sidebar active__style-side-bar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-c-plus-plus'></i>
                <div class="logo_name">VLXD88</div>
            </div>
            <i class='bx bx-menu' id="btn__style-side-bar" @click="ShowHideSideBar()"></i>
        </div>
        <ul class="nav_list">
            <!-- active-a__style-side-bar -->
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/dash-board"  >
                    <i class='bx bx-grid-alt' ></i>
                    <span class="link_name">Dashboard</span>
                </router-link>
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/khach-hang">
                    <i class='bx bx-user' ></i>
                    <span class="link_name">Khách hàng</span>
                </router-link>
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/category">
                    <i class='bx bx-chat'></i>
                    <span class="link_name">Danh mục sản phẩm</span>
                </router-link>                
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/brand">
                    <i class="fa-light fa-bandage"></i>
                    <span class="link_name">Hãng sản phẩm</span>
                </router-link>
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/supplier">
                    <i class="fa-light fa-igloo"></i>
                    <span class="link_name">Nhà cung cấp</span>
                </router-link>
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/san-pham">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_name">Sản phẩm</span>
                </router-link> 
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="">
                    <i class='bx bx-folder' ></i>
                    <span class="link_name">Bình luận sản phẩm</span>
                </router-link>
                    
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/menu">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_name">Menu</span>
                </router-link> 
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/slide">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_name">Slide</span>
                </router-link> 
            </li>
            <li class="">
                <router-link class="a__style-side-bar" to="/admin/nhom-tin">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_name">Danh sách tin</span>
                </router-link> 
            </li>
            <li class="">
                <router-link to="/admin/don-hang" class="a__style-side-bar">
                    <i class='bx bx-cart' ></i>
                    <span class="link_name">Đơn hàng</span>
                </router-link>
            </li>
            
        </ul>
        
    </div>  
</template>

<script>
import { onMounted } from 'vue';

export default {
    setup() {
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);

        onMounted(() => {
            // ToggleButtonSideBar()
        })

        function ToggleButtonSideBar() {
            const linkSideBar = $$(".a__style-side-bar");
            linkSideBar.forEach((item) => {
                item.addEventListener("click", () => {
                    $(".a__style-side-bar.active-a__style-side-bar").classList.remove("active-a__style-side-bar");
                    item.classList.add("active-a__style-side-bar");
                })
            })
        }

        function ShowHideSideBar(){
            let sidebar = document.querySelector(".sidebar");
            sidebar.classList.toggle("active__style-side-bar");
        }
        return {
            ShowHideSideBar,
            ToggleButtonSideBar
        }
    }
}
</script>

<style>
    @import url(../../assets/css/style.admin.css);
</style>