<template>
  <header class="header-top__style">
      <div class="icon__header-top">
        <i class="fa-light fa-envelope"></i>
        <span class="count-notice-email">3</span>
      </div>
      <div class="icon__header-top">
        <i class="fa-light fa-bells"></i>
        <span class="count-notice-notification">5</span>
      </div>
      <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
                    <div class="project_info">
                        <div class="name"><span>Thanhky30</span></div>
                        <div class="role">Admin</div>
                    </div>
                </div>
            </div>
        </div>
  </header>
</template>

<script>
export default {

}
</script>

<style>
  @import url("../../assets/css/main.admin.css");
</style>