<template>
    <div class="footer">
          <div class="container">
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <h2 class="heading-footer"> Thương hiệu đi cùng chất lượng Shop88QB</h2>
                <p class="text-footer">Copyright@2022 Cửa hàng bán vật liệu xây dựng Shop88QB</p>
                <p class="text-footer">Chứng nhận ĐKKD số: 0384 400 647 do sở KH & ĐT TP.Hà Nội cấp</p>
                <p class="text-footer">Địa chỉ: Hiến Sơn - Đô Lương - Nghệ An</p>
                <p class="text-footer">Điện thoại: 0989 689 789 - Email: Shop88qb@gmail.com</p> 
              </div>
              <div class="col-sm-6">
                <h2 class="heading-footer"> Nhận ưu đãi của cửa hàng</h2>
                <div class="form_footer">
                  <input class="input-email_footer" type="text" placeholder="Nhập email của bạn">
                <button class="btn_footer">Nhận Voucher</button>
                </div>
              </div>
            </div>
            <hr style="color: aliceblue;">
            <p class="name_footer-shop">Cửa hàng bán vật liệu xây dựng Shop88QB</p>
          </div>
        </div>
</template>

<script>
export default {

}
</script>

<style>

</style>