<template>
<div class="app">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="img-logo col-xl-3 align-self-center">
                    <a href="/" class="logo"> Shop88QB </a>
                    <a href="/" class="slogan">Thiên đường mua sắm</a>
                </div>
                <div class="col-xl-6 align-self-center">
                    <div class="theme-search">
                        <div class="header-search">
                            <form action="" class="">
                                <input type="text" class="search-input" placeholder="Tìm kiếm sản phẩm..." />
                                <ion-icon name="search-outline" class="btn-search"></ion-icon>
                            </form>
                        </div>
                        <div class="contact-phone">
                            <p>Tư vấn hỗ trợ</p>
                            <a href="#"> 0384400647</a>
                        </div>
                        <div class="contact-account-header">
                            <p>Xin chào!</p>
                            <router-link to="/dang-nhap" v-if="checkLogin == null">Đăng nhập</router-link>
                            <router-link to="/account" v-if="checkLogin != null" @click="ClickAccount()">{{ checkLogin }}</router-link>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 align-self-center">
                    <div class="group-account">
                        <li>
                            <a href="#" title="Sản phẩm yêu thích" class="wishlist_header">
                                <ion-icon name="heart-outline" class="icon__wishlist_header"></ion-icon>
                                <span class="headerWishlistCount">0</span>
                            </a>
                        </li>
                        <li class="cart_drop">
                            <a title="Giỏ hàng" class="icon_cart" @click="showCartRight()">
                                <ion-icon name="cart-outline" class="icon__icon_cart"></ion-icon>
                                <span class="headerCartlistCount" v-if="totalCart != null">{{ totalCart }}</span>
                                <span class="headerCartlistCount" v-if="totalCart == null">0</span>
                            </a>
                        </li>
                        <li class="campare">
                            <a href="#" class="icon-campare">
                                <ion-icon name="shuffle-outline" class="icon__icon-campare"></ion-icon>
                                <span class="headerComparelistCount">0</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { onMounted, ref, watch } from 'vue';
import {useStore} from "../../stores/index.js"
import router from '@/router/index.js';
import {
    toast
} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    setup (){
        const checkLogin = ref({})
        const store = useStore();
        const totalCart = ref({})
        onMounted(()=>{
            getDataCheckLogin()
            getDataTotalCartQuantity()
        })

        watch(store.$state.statusCart,()=>{
            getDataTotalCartQuantity()
        })

        watch(store.$state.statusNumberCart,()=>{
            getDataTotalCartQuantity()
        })

        function getDataTotalCartQuantity(){
            totalCart.value = localStorage.getItem("totalQuantity");
            console.log();
        }

        function getDataCheckLogin(){
                checkLogin.value = null
            if(localStorage.getItem("account") != null){
                checkLogin.value = JSON.parse(localStorage.getItem("account")).name;
            }
        }

        watch(store.$state.ValueLogin,() => {
            getDataCheckLogin()
        });

        function showCartRight(){
            if(localStorage.getItem("account") != null){
                    router.push("/account").then(()=>{
                    localStorage.setItem("accountClient","cartOrder")
                    location.reload()
                })
            }else {
                toast.error("Bạn vui lòng đăng nhập tài khoản")
                router.push("dang-nhap")
            }
            
        }

        function ClickAccount(){
            router.push("/account").then(()=>{
                    location.reload()
                    localStorage.setItem("accountClient","account")
                })
            
            
        }

        return {
            checkLogin,
            getDataCheckLogin,
            showCartRight,
            totalCart,
            ClickAccount
        }
    }
};
</script>

<style>
@import url(../../assets/css/style.css);

.cart_drop:hover {
    cursor: pointer;
}
</style>
