<template>
    <div class="nav_main">
        <div class="container">
        <div class="row">
            <div class="col-xl-3">
            <div class="title-menu">
                <router-link to="/trang-chu">
                <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
                Danh mục sản phẩm
                </router-link>
                <ul class="list-menu-header">
                <li class="nav-header_item">
                    <a href="" class="nav-header_link nav-header_linkPhone">Gạch Ceramic & Porcelain
                    <ion-icon name="caret-forward-outline" class="icon__nav-header_link"></ion-icon>
                    </a>
                    <div class="sub-menu_1">
                    <ul class="ul-content_right1">
                        <li class="li-content_right1">
                        <a href="" class="a-content_right1 nav_link__content_right1-size">Kích thước lớn</a>
                        <ul class="ul-content_right2">
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 60 x 120</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 100 x 100</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 80 x 80</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 60 x 60</a>
                            </li>
                        </ul>
                        </li>
                        <li class="li-content_right1">
                        <a href="" class="a-content_right1 nav_link__content_right1-size">Kích thước vừa</a>
                        <ul class="ul-content_right2">
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 40 x 80</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 40 x 40</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 30 x 60</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 30 x 30</a>
                            </li>
                        </ul>
                        </li>
                        <li class="li-content_right1">
                        <a href="" class="a-content_right1 nav_link__content_right1-size">Kích thước nhỏ</a>
                        <ul class="ul-content_right2">
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 30 x 30</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 25 x 25</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 20 x 80</a>
                            </li>
                            <li class="li-content_right2">
                            <a href="" class="a-content_right2">Gạch 20 x 20</a>
                            </li>
                        </ul>
                        </li>
                        <li class="li-content_right1">
                        <a href="" class="a-content_right1 nav_link__content_right1-space">Không gian</a>
                        
                        </li>
                    </ul>
                    </div>
                </li>
                <li class="nav-header_item">
                    <a href="" class="nav-header_link nav_header_linkLaptop">Ngói Màu
                    <ion-icon name="caret-forward-outline" class="icon__nav-header_link"></ion-icon>
                    </a>
                </li>
                <li class="nav-header_item">
                    <a href="" class="nav-header_link nav-link_phoneComponents">Sơn màu</a>
                </li>
                <li class="nav-header_item">
                    <a href="" class="nav-header_link nav-link_glassBrick"> Gạch kính</a>
                </li>
                <li class="nav-header_item">
                    <a href="" class="nav-header_link nav-link_sanitary_equipment"> Thiết bị vệ sinh</a>
                </li>
                </ul>
            </div>
            </div>
            <div class="col-xl-8">
            <div class="bg-header-nav">
                <ul class="header-nav_ul">
                <li class="header-nav_item">
                    <router-link to="/trang-chu" class="header-nav_link">Trang chủ</router-link>
                </li>
                <li class="header-nav_item"  >
                    <router-link to="/gioi-thieu" class="header-nav_link">Giới thiệu</router-link>
                </li>
                <li class="header-nav_item"  >
                    <router-link to="/danh-sach-san-pham" class="header-nav_link">Sản phẩm </router-link>
                    
                </li>
                <li class="header-nav_item"  >
                    <router-link to="/tin-tuc" href="" class="header-nav_link">Tin tức</router-link>
                </li>
                <li class="header-nav_item"  >
                    <router-link to="/lien-he" class="header-nav_link">
                        Liên hệ
                    </router-link>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
@import url(../../assets/css/style.css);
</style>