<template>
    <section id="">
      <div class="product">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="sidebar-product">
                <h4 class="title_sidebar-product">
                  <ion-icon name="menu-outline" class="icon_sidebar-product"></ion-icon> Danh mục
                </h4>
                <div class="category_sidebar__account">
                  <ul>
                    <li class="active__item-account-sidebar" id="account__style-active" @click="ItemAccountClick('account')">
                      <p>Tài khoản</p>
                    </li>
                    <li @click="ItemAccountClick('cartOrder')" id="cart-order__style-active">
                      <p>Danh sách giỏ hàng</p>
                    </li>
                    <li @click="ItemAccountClick('order')" id="order__style-active">
                      <p>Danh sách đơn hàng</p>
                    </li>
                    <li>
                      <p @click="LogOutAccount()">Đăng xuất</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-9" v-if="itemValueAccountPara === 'account'">
              <form class="wrapper bg-white mt-sm-5">
                <h4 class="pb-4 border-bottom">Tài khoản của tôi</h4>
                <div class="d-flex align-items-start py-3 border-bottom">
                    <img :src="`${urlImage}${url}`+customer.avatar" class="img" alt="" style="width: 85px; height: 85px;">
                  <!-- <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="" style="width: 85px; height: 85px;"> -->
                  <div class="pl-sm-4 pl-2 ml-3" id="img-section" style="margin-left: 10px;">
                    <b>Ảnh đại diện</b>
                    <p>Kích thước ảnh dưới 1MB</p>
                    <input type="file" class="custom-file-input" @change="onFileUpload()">
                  </div>
                </div>
                <div class="py-2">
                  <div class="row py-2">
                    <div class="col-md-6">
                      <label for="firstname">Họ và tên</label>
                      <input type="text" class="bg-light form-control" placeholder="" v-model="customer.name">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                      <label for="lastname">Số điện thoại</label>
                      <input type="text" class="bg-light form-control" placeholder="" v-model="customer.phone">
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="col-md-6">
                      <label for="email">Email</label>
                      <input type="text" class="bg-light form-control" placeholder="" v-model="customer.email">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3" style="position: relative;">
                      <label for="phone">Mật khẩu</label>
                      <input type="password" class="bg-light form-control" id="password" placeholder="" v-model="customer.password">
                      <span class="icon-hidePass">
                        <ion-icon id="icon-eye-off" @click="hideEye()" name="eye-outline"></ion-icon>
                      </span>
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="col-md-6">
                      <label for="sex">Địa chỉ</label>
                      <input type="text" class="bg-light form-control" placeholder="" v-model="customer.address">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                      <label for="age">Tuổi</label>
                      <input type="text" class="bg-light form-control" placeholder="" v-model="customer.age">
                    </div>
                  </div>
                  <div class="py-3 pb-4 border-bottom">
                    <button class="btn__style-css btn_update_data" @click="UpdateAccount(1)">Cập nhật</button>
                    <button class="btn__style-css btn_cancel" @click="backComponent()">Thoát</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-9" v-if="itemValueAccountPara === 'order'">
              <order-client-view/>
            </div>
            <div class="col-md-9" v-if="itemValueAccountPara === 'cartOrder'">
              <cate-view/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </template>
  
  <script>
  import axios from 'axios';
  import { useRouter } from 'vue-router';
  import { useStore } from "../../stores/index.js"
  import { onMounted, ref } from 'vue'
  import OrderClientView from './OrderClientView.vue';
  import CateView from './CateView.vue';
  
  export default {
    components: { OrderClientView, CateView },
    setup() {
        const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
        const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\khachhangs\\"
      const router = useRouter()
      const store = useStore();
      const customer = ref({})
      const spanIcon = document.getElementsByClassName("icon-hidePass")
      const itemValueAccountPara = ref('account')
  
      onMounted(() => {
        GetById(parseInt(JSON.parse(localStorage.getItem("account")).ID))
      })
  
      function hideEye() {
        const ipnElement = document.getElementById("password");
        const curentType = ipnElement.getAttribute('type');
        ipnElement.setAttribute('type', curentType === 'password' ? 'text' : 'password')
      }
  
      function LogOutAccount() {
        localStorage.clear();
        store.SetStatusLogin(false);
        router.push("/dang-nhap").then(() => {
        location.reload();
        store.$state.statusCart.status = !store.$state.statusCart.status;
      });
      }
  
      function GetById(id) {
        document.querySelectorAll(".category_sidebar__account ul li").forEach((item) => {
          item.classList.remove("active__item-account-sidebar");
        })
        itemValueAccountPara.value = localStorage.getItem("accountClient")
        if(itemValueAccountPara.value == 'account'){
          document.getElementById("account__style-active").classList.add("active__item-account-sidebar")
        }else if(itemValueAccountPara.value == 'order'){
          document.getElementById("order__style-active").classList.add("active__item-account-sidebar")
        }else{
          document.getElementById("cart-order__style-active").classList.add("active__item-account-sidebar")

        }
        axios.get("http://localhost:38448/api/KhachHang/GetById/" + id)
          .then((response) => {
            customer.value = response.data;
          })
          .catch((error) => {
            console.log("Loi get by id Khách Hàng: " + error);
          });
      }
  
      function ItemAccountClick(para) {
        localStorage.setItem("accountClient", para)
        itemValueAccountPara.value = para;
        document.querySelectorAll(".category_sidebar__account ul li").forEach((item) => {
          item.classList.remove("active__item-account-sidebar");
        })
        event.target.parentNode.classList.add("active__item-account-sidebar")
      }
  
      function UpdateAccount(sex) {
        event.preventDefault()
        let id = JSON.parse(localStorage.getItem("account")).ID
        customer.value.sex = sex;
        let formData = new FormData();
        let fileInput = document.querySelector('input[type="file"]');
        if (fileInput.files.length > 0) {
          formData.append("fileUpload", customer.value.avatar);
        }else {
          formData.append("image", customer.value.avatar)
        }
        formData.append("name", customer.value.name);
        formData.append("phone", customer.value.phone);
        formData.append("email", customer.value.email);
        formData.append("password", customer.value.password);
        formData.append("address", customer.value.address);
        formData.append("age", customer.value.age);
        formData.append("sex", sex);
  
        axios.put(
          "http://localhost:38448/api/KhachHang/UpdateImage/" + id,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          }
        )
          .then((response) => {
            console.log("update success" + response.data);
            let data = {
                name: "",
                email: "",
                ID: ""
            }
            data.name = response.data.name;
              data.email = response.data.email;
              data.ID = response.data.accountID;
            localStorage.setItem("account", JSON.stringify(data))
            location.reload();
          })
          .catch((error) => {
            console.log("Lỗi update category: " + error);
          });
      }
  
      function onFileUpload() {
        console.log(event.target.files[0]);
        customer.value.avatar = event.target.files[0];
      }

      function backComponent(){
        router.push("/trang-chu")
      }
  
      return {
        customer,
        hideEye,
        LogOutAccount,
        GetById,
        itemValueAccountPara,
        ItemAccountClick,
        UpdateAccount,
        onFileUpload,
        urlImage,
        url,
        backComponent
      }
    }
  }
  </script>

<style scoped>
.product {
    margin: 20px 0;

}

.sidebar-product {
    width: 100%;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.title_sidebar-product {
    font-size: 18px;
    color: rgb(47, 47, 47);
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
}

.icon_sidebar-product {
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3px;
}

.title_sidebar-product::after {
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.title_sidebar-product::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.category_sidebar__account {
    margin: 0;
}

.category_sidebar__account>ul {
    margin-bottom: 0;
}

.category_sidebar__account>ul>li {
    list-style: none;
    display: block;
    text-align: left;

}

.category_sidebar__account>ul>li:hover {
    background-color: #ccc;
    cursor: pointer;
}

.active__item-account-sidebar {
    background: var(--primary-color);
}

.active__item-account-sidebar>a {
    color: #fff !important;
    font-weight: 500;

}

.category_sidebar__account>ul>li>p:hover {
    color: #000 !important; 

}

.category_sidebar__account>ul>li>p {
    text-decoration: none;
    color: #000 !important;
    font-size: 15px;
    display: block;
    padding: 10px;
    margin: 0;
}

.show_selection-checkbox {
    /* display: inline-block; */
    padding-left: 10px;
}

.list-choose {
    display: inline;
}

.title_show-checkbox {
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 0px;
    color: blue;
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    text-transform: uppercase;
}

.btn_xoa {
    border: none;
    outline: none;
    background-color: blue;
    float: right;
    margin-right: 10px;
    color: #fff;
    padding: 3px 8px;
    border-radius: 2px;
    font-size: 14px;
}

.icon_show-checkbox {
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.value_checkbox {
    font-size: 13px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 3px 7px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    opacity: 0.8;

    line-height: 15px;
    margin-left: 2px;
}

.value_checkbox:hover {
    opacity: 1;
    cursor: pointer;
}

.close-value_checkbox {
    font-size: 10px;
}

.sidebar-product>h5 {
    font-size: 14px;
    padding: 10px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.selection_checkbox {
    padding: 0 10px;
    margin: 0 10px;
    height: 100px;
    overflow: hidden;
}

.selection_checkbox:hover {
    overflow-y: scroll;
    transition: ease 0.3s all;
}

.input_checkbox {
    display: inline;
}

.selection_checkbox label {

    display: inline-block;
    width: 90%;
    margin: 0;
    font-size: 13px;
    color: rgb(103, 103, 103);

}

#style-1::-webkit-scrollbar {
    width: 8px;
    padding-right: 10px;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: var(--primary-color);
}

.arrange {
    width: 100%;
    height: 40px;
    background-color: #dfe1e6;
}

.title-arrange {
    line-height: 30px;
    margin: 0;
    display: inline-block;
}

.title-arrange>p {
    font-size: 14px;
    padding: 5px 10px;
}

.arrange-name {
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.arrange-name>p {
    font-size: 14px;
    color: rgb(52, 52, 52);
    padding: 5px 10px;
    margin: 0;
}

.arrange-name.active_arrage {
    background-color: var(--primary-color);
    border-radius: 3px;
    display: inline-block;
    line-height: 20px;
}

.arrange-name.active_arrage>p {
    margin: 0;
    color: #fff;
    padding: 5px 10px;
}

.card {
    position: relative;
    margin-bottom: 20px;
    height: 296px;
    margin: 20px 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card:hover .card-body {
    cursor: pointer;
}

.card:hover .icon_product-add {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    opacity: 1;

}

.card:hover .btn_product-view {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}

.card:hover .favorite-product {
    background-color: var(--primary-color);
}

.card-body {
    padding: 10px;
}

.percent-discount_product {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 212, 36, 0.9);
}

.number_discount_product {
    display: inline-block;
}

.percent-discount_product::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 0px 15px 20px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
}

.favorite-product {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    color: #fff;
}

.img_height {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.product_img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;

}

.card-text {
    text-align: left;
    line-height: 15px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 5px 0;
}

.product_price {
    display: flex;
    justify-content: space-between;

}

.card-number_cost {
    font-size: 12px;
    text-decoration-line: line-through;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--primary-color);
}

.card-number_price {
    color: var(--primary-color);
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.btn_product-add {
    display: inline-block;
    /* width: 30%; */
    outline: none;
    border: none;
}

.btn_product-view {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 3px 15px;
    color: blue;
    text-decoration: none;
    color: #ccc;
}

.icon_product-add {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    padding: 3px 15px;
    display: block;
    border-radius: 5px;
    padding-top: 5px;
    background-color: var(--primary-color);
    opacity: 0.3;
}

/* Col-md -9 */
.wrapper {
    padding: 0px 50px;
    border: 1px solid #ddd;
    margin: 0px !important;
    min-width: 600px;
    text-align: left;
}

h4 {
    text-align: center;
    letter-spacing: -1px;
    font-weight: 400;
    padding-top: 10px;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

#img-section p,
#deactivate p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}

#img-section b,
#img-section button,
#deactivate b {
    font-size: 14px;
}

label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.form-control {
    border-radius: 4px;
}

input[placeholder] {
    font-weight: 500;
}

#password {
    position: relative;
}

.icon-hidePass {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 0 5px;
}

.icon-eye-off {
    font-size: 15px;

}

.icon-hidePass:hover {
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #0779e4;
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus {
    outline: none;
}

.button {
    background-color: #fff;
    color: #0779e4;
}

.button:hover {
    background-color: #0779e4;
    color: #fff;
}

.btn-primary {
    background-color: #0779e4;
}

.danger {
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}

.danger:hover {
    background-color: #e20404;
    color: #fff;
}

@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px;
    }

    #deactivate {
        line-height: 18px;
    }
}

.btn__style-css {
    background: transparent;
    color: black;
    opacity: 1;
    border-radius: 3px;
    border: 0.5px solid #ccc;
    padding: 5px 8px;
    font-family: -webkit-body;
    font-weight: 600;
    font-size: 15px;
}

.btn_update_data {
    margin-right: 10px;
}

.btn_update_data:hover {
    background: #0779e4;
}

.btn__cancel:hover {
    background: #f8f9fa;
}

.custom-file-input {
    color: transparent;
    opacity: 1;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Tải ảnh lên';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
</style>
