<template>
  <section>
    <div class="OrderTable__style">
      <div class="row">
        
        
        <div class="col-md-12">
            <div class="div_right-order">
                <div class="title__order">
                    <h4>Thông tin sản phẩm giỏ hàng</h4>
                </div>
                <div class="">
                    <div class="OrderTable__style">
                        <table style="width: 100%;" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Số lượng</th>
                                <th>Giá trị</th>
                                <th>Thành tiền</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(cart, index) in dataCart" :key="index">
                                <td>{{ index + 1 }}</td>
                                <td style="text-align: left; text-transform: uppercase; font-size: 13px;"><router-link :to="'/chi-tiet-san-pham/' + cart.productID" class="row_link-style-css">{{ cart.productName }}</router-link></td>
                                <td>
                                <img :src="`${urlImage}${url}` + cart.image" alt="" style="width: 30px;">
                                </td>
                                <td><input type="number" :value="cart.quantity" min="1" class="input__number-cart-quantity" @change="inputChange(cart.cartID)"></td>
                                <td class="text-right">{{ cart.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</td>
                                <td>{{ (cart.quantity * cart.price).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</td>
                                <td>
                                    <button class="btn__delete-cart" @click="deleteDataCart(cart.cartID)"><i class="fa-regular fa-trash-can"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="">
                        </div>
                        </div>
                </div>
            </div>
            <div class="" style="text-align: right;">
                <button v-if="dataCart && dataCart.length > 0" class="btn__order-product" @click="ThanhToan()">Thanh toán</button>
            </div>
        </div>
    </div>
    </div>
  </section>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref, watch } from "vue";
import {useStore} from "./../../stores/index.js"
import { useRouter } from "vue-router";
const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
const dataCart = ref(null)
const store = useStore();
const updateCart = ref({})
const router = useRouter()
onMounted(()=>{
    getDataCart();
})

function getDataCart(){
    store.$state.statusCart.status = !store.$state.statusCart.status
    if(localStorage.getItem("account") != null){
        axios.get("http://localhost:38448/api/GioHang/TimKiemAccount/"+JSON.parse(localStorage.getItem('account')).ID).then((response)=>{
            dataCart.value = response.data;
            console.log(dataCart.value.length);
            
        })
    }else {
        dataCart.value = null
    }
}

function inputChange(id){
    const inputValue = event.target.value;
    axios.get("http://localhost:38448/api/GioHang/GetById/" + id).then((response) => {
        if (response.data != "") {
            updateCart.value = response.data;
            console.log(updateCart.value);
            updateCart.value.quantity = inputValue;
            axios.put("http://localhost:38448/api/GioHang/Update/" + id, updateCart.value).then((response) => {
                console.log(response);
                store.$state.statusCart.status = !store.$state.statusCart.status
                getDataCart()
            })
        }
    })
}

function deleteDataCart(id){
    axios.delete("http://localhost:38448/api/GioHang/Delete/" +id) 
    .then((response) => {
        console.log(response);
        store.$state.statusCart.status = !store.$state.statusCart.status
    })
}

function ThanhToan(){
    router.push("don-hang")
}

watch(store.$state.statusCart,()=>{
    getDataCart()
})
</script>

<style scoped>
.title__order > h4 {
    font-size: 1.4rem;
}

.field__input-order {
    border: 0.5px solid #ccc;
    width: 100%;
    margin: 5px auto;
    border-radius: 5px;
}

.field__input-order > label {
    text-align: left;
    display: block;
    font-size: 13px;
    font-style: italic;
    padding: 3px 5px;
}

.field__input-order > input {
    width: 100%;
    font-size: 13px;
    padding: 0 5px;
    border-radius: 3px;
    outline: none;
    border: none;
}

button.btn__order-product {
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
}

button.btn__order-product:hover {
    background: #eb3e32;
    color: #fff;
}

.btn__delete-cart {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.btn__delete-cart:hover {
    background: red;
    color: #fff;
}

.input__number-cart-quantity {
    width: 45px;
    text-align: center;
    border-radius: 2px;
    outline: none;
    border: 0.5px solid #ccc;
}

.row_link-style-css {
  text-decoration: none;
  color: #000;
}

.row_link-style-css:hover {
  color: #eb3e32;
}
</style>