<template>
  <section>
    <div class="container pt-2 mt-3">
        <div style=" padding-left: 12px; text-align: justify;" v-html="tintuc.detail"></div>

    </div>
  </section>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRoute, } from "vue-router";

const tintuc = ref({})
const route = useRoute()

onMounted(()=>{
  getTinTuc(route.params.id)
})

function getTinTuc(id){
    axios.get("http://localhost:38448/api/Tin/GetById/" + id).then((response)=>{
      tintuc.value = response.data
    })
}
</script>

<style>

</style>