<template>
<section class="mt-2">
   <div class="container">
    <div class="row">
        
        <div class="col-md-3">
            <div class="div_left-order">
                <div class="title__order">
                    <h4>Thông tin khách hàng</h4>
                </div>
                <div class="form__order-info-customer">
                    <form action="">
                        <div class="field__input-order">
                            <label for="">Họ tên</label>
                            <input type="text" v-model="dataCustomer.name" disabled>
                        </div>
                        <div class="field__input-order">
                            <label for="">Địa chỉ</label>
                            <input type="text" v-model="dataCustomer.address" >
                        </div>
                        <div class="field__input-order">
                            <label for="">Số điện thoại</label>
                            <input type="text" v-model="dataCustomer.phone" >
                        </div>
                        <div class="field__input-order">
                            <label for="">Email</label>
                            <input type="text" v-model="dataCustomer.email" disabled>
                        </div>
                        <div class="field__input-order">
                            <label for="">Thanh toán</label>
                            <input type="text" value="Thanh toán khi giao hàng (COD)" disabled>
                        </div>
                        <div class="">
                            <button class="btn btn-outline-primary" @click="UpdateAccount()">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="div_right-order">
                <div class="title__order">
                    <h4>Thông tin sản phẩm giỏ hàng</h4>
                </div>
                <div class="">
                    <div class="OrderTable__style">
                        <table style="width: 100%;" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Số lượng</th>
                                <th>Giá trị</th>
                                <th>Thành tiền</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(cart, index) in dataCart" :key="index">
                                <td>{{ index + 1 }}</td>
                                <td style="text-align: left; text-transform: uppercase; font-size: 13px;"> <router-link :to="'/chi-tiet-san-pham/' + cart.productID" class="row_link-style-css"> {{ cart.productName }} </router-link></td>
                                <td>
                                <img :src="`${urlImage}${url}` + cart.image" alt="" style="width: 30px;">
                                </td>
                                <td><input type="number" :value="cart.quantity" min="1" class="input__number-cart-quantity" @change="inputChange(cart.cartID)"></td>
                                <td class="text-right">{{ cart.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</td>
                                <td>{{ (cart.quantity * cart.price).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</td>
                                <td>
                                    <button class="btn__delete-cart" @click="deleteDataCart(cart.cartID)"><i class="fa-regular fa-trash-can"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
            <div class="" style="text-align: right;">
                <button v-if="dataCart && dataCart.length > 0" class="btn__order-product" @click="addOrderProduct()">Đặt hàng</button>
            </div>
        </div>
    </div>
   </div>
</section>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref, watch } from "vue";
import {useStore} from "./../../stores/index.js"
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
import { useRouter } from "vue-router";
const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
const dataCart = ref(null)
const dataCustomer = ref({})
const store = useStore();
const sumPrice = ref({})
const updateCart = ref({})
const addOrder = ref({
    orderDate: new Date(),
    status: 0,
    discount: 0,
    accountID: ""
})
const orderDetailAdd = ref({
    orderID: "",
    productID: "",
    productName: "",
    price: "",
    quantity: ""
})
const listOrder = ref({})
const router = useRouter();
const checkAddOrder = ref({
    name: null,
    phone: null,
    address: null
})
onMounted(()=>{
    getDataCart();
    getDataCustomer();
})

function getDataCart(){
    store.$state.statusCart.status = !store.$state.statusCart.status
    if(localStorage.getItem("account") != null){
        axios.get("http://localhost:38448/api/GioHang/TimKiemAccount/"+JSON.parse(localStorage.getItem('account')).ID).then((response)=>{
            dataCart.value = response.data;
            dataCart.value.forEach((item)=>{
                    sumPrice.value += parseInt(item.price) * parseInt(item.quantity);
                })
        })
    }else {
        dataCart.value = null
    }
}

function getDataCustomer(){
    store.$state.statusCart.status = !store.$state.statusCart.status
    if(localStorage.getItem("account") != null){
        axios.get("http://localhost:38448/api/KhachHang/GetById/" + JSON.parse(localStorage.getItem('account')).ID).then((response)=>{
            dataCustomer.value = response.data;
            checkAddOrder.value.address = response.data.address
            checkAddOrder.value.name = response.data.name
            checkAddOrder.value.phone = response.data.phone
            console.log(dataCustomer.value);
        })
    }else {
        dataCustomer.value = null;
    }
}

function inputChange(id){
    const inputValue = event.target.value;
    axios.get("http://localhost:38448/api/GioHang/GetById/" + id).then((response) => {
        if (response.data != "") {
            updateCart.value = response.data;
            console.log(updateCart.value);
            updateCart.value.quantity = inputValue;
            axios.put("http://localhost:38448/api/GioHang/Update/" + id, updateCart.value).then((response) => {
                console.log(response);
                store.$state.statusCart.status = !store.$state.statusCart.status
                getDataCart()
            })
        }
    })
}

function deleteDataCart(id){
    axios.delete("http://localhost:38448/api/GioHang/Delete/" +id) 
    .then((response) => {
        console.log(response);
        store.$state.statusCart.status = !store.$state.statusCart.status
    })
}

function addOrderProduct(){
    if(dataCart.value != null && checkAddOrder.value.address != '' && checkAddOrder.value.phone != ''){
        addOrder.value.accountID = JSON.parse(localStorage.getItem('account')).ID
        axios.post("http://localhost:38448/api/DonHang/Store", addOrder.value).then(()=>{
            axios.get("http://localhost:38448/api/DonHang/List").then((response)=>{
                listOrder.value = response.data;
                let listID = [];
                let maxID = null;
                listOrder.value.forEach((item)=>{
                    listID.push(item.orderID)
                })
                maxID = Math.max(...listID)
                sessionStorage.setItem("OrderIDRouter", maxID);
                addOrderDetail(maxID);
                router.push("/thong-tin-chi-tiet-don-hang/"+maxID).then(()=>{
                    location.reload()
                })
                toast.success("Thêm mới đơn hàng thành công !", {
                    autoClose: 1000,
                    });
                removeRangeCart(JSON.parse(localStorage.getItem('account')).ID)
            })
        })
        .catch((error)=>{
            console.log("Lỗi thêm mới đơn hàng", error);
        })
    }else {
        console.log(dataCart.value);
        console.log(checkAddOrder.value);
        toast.error("Thông tin khách hàng cần điền đầy đủ !", {
            autoClose: 1000,
            });
    }
}

function addOrderDetail(id){
    dataCart.value.forEach((item)=>{
        orderDetailAdd.value.orderID = id;
        orderDetailAdd.value.productID = item.productID 
        orderDetailAdd.value.productName = item.productName;
        orderDetailAdd.value.price = item.price;
        orderDetailAdd.value.quantity = item.quantity     
        axios.post("http://localhost:38448/api/ChiTietDonHang/Store", orderDetailAdd.value).then(()=>{
            console.log("Thêm mới chi tiết đơn hàng thành công");
        }).catch((error)=>{
            console.log("Thêm mới thất bại", error);
        })
    }) 
}

function removeRangeCart(id){
    axios.delete("http://localhost:38448/api/GioHang/RemoveRange/" + id).then((response)=>{
        console.log(response);
            store.$state.statusCart.status = !store.$state.statusCart.status
    })
}

watch(store.$state.statusCart,()=>{
    getDataCart()
})

function UpdateAccount() {
        event.preventDefault()
        let id = JSON.parse(localStorage.getItem("account")).ID
        let formData = new FormData();
        dataCustomer.value.sex = 1;
        formData.append("name", dataCustomer.value.name);
        formData.append("phone", dataCustomer.value.phone);
        formData.append("email", dataCustomer.value.email);
        formData.append("password", dataCustomer.value.password);
        formData.append("address", dataCustomer.value.address);
        formData.append("age", dataCustomer.value.age);
        axios.put(
          "http://localhost:38448/api/KhachHang/UpdateImage/" + id,
          formData
        )
          .then((response) => {
            console.log("update success" + response.data);
            let data = {
                name: "",
                email: "",
                ID: ""
            }
            data.name = response.data.name;
            data.email = response.data.email;
            data.ID = response.data.accountID;
            localStorage.setItem("account", JSON.stringify(data))
            console.log(response.data.address);
            checkAddOrder.value.address = response.data.address
            checkAddOrder.value.name = response.data.name
            checkAddOrder.value.phone = response.data.phone
              toast.success("Cập nhật tài khoản thành công !", {
                  autoClose: 1000,
                });
                  
            // location.reload();
          })
          .catch((error) => {
            console.log("Lỗi update category: " + error);
          });
      }
</script>

<style scoped>
.title__order > h4 {
    font-size: 1.4rem;
}

.field__input-order {
    border: 0.5px solid #ccc;
    width: 100%;
    margin: 5px auto;
    border-radius: 5px;
}

.field__input-order > label {
    text-align: left;
    display: block;
    font-size: 13px;
    font-style: italic;
    padding: 3px 5px;
}

.field__input-order > input {
    width: 100%;
    font-size: 13px;
    padding: 0 5px;
    border-radius: 3px;
    outline: none;
    border: none;
}

button.btn__order-product {
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
}

button.btn__order-product:hover {
    background: #eb3e32;
    color: #fff;
}

.btn__delete-cart {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.btn__delete-cart:hover {
    background: red;
    color: #fff;
}

.input__number-cart-quantity {
    width: 45px;
    text-align: center;
    border-radius: 2px;
    outline: none;
    border: 0.5px solid #ccc;
}

.row_link-style-css {
  text-decoration: none;
  color: #000;
}

.row_link-style-css:hover {
  color: #eb3e32;
}
</style>
