<template>
  <section>
    <div class="container">
      <div class="m-4">
        <h4>Giới thiệu SHOP88QB</h4>
      <span style="text-align: justify;">
        <p>
          -  Lĩnh vực hoạt động của công ty là sản xuất, mua bán gạch, xi măng, sắt thép, …
        </p>
        <p>
          -  Tính đến nay, Công ty có gần 20 năm kinh doanh trong lĩnh vực vật liệu xây dựng. Lúc đầu Công ty là một cửa hàng kinh doanh vật liệu xây dựng, dần dần cửa hàng đã khẳng định được vị trí của mình trên thị trường. Nắm bắt được xu thế phát triển của thị trường vật liệu xây dựng, cửa hàng Hữu Sang ngày càng mở rộng quy mô và quyết định thành lập nên Công Ty Trách Nhiệm Hữu Hạn Sản Xuất Thương Mại Sắt Thép Hữu Sang vào cuối năm 2007.
        </p>
        <p>
          -  Hiện tại, Công ty là nguồn cung ứng vật liệu xây dựng cho các doanh nghiệp và cửa hàng vật liệu xây dựng lớn nhỏ ở trong thành phố và các tỉnh thành lân cận thành phố Hồ Chí Minh như Đồng Nai, Bình Dương, Bình Phước, Tây Ninh, Long An và đặc biệt là các tỉnh miền Tây.
        </p>
        <p>
          -Người đại diện theo pháp luật là bà Hồ Thi Thanh Sang, sinh ngày 12 tháng 02 năm 1974, dân tộc Kinh, quốc tịch Việt Nam.
        </p>
        <h5>Lĩnh vực hoạt động của Công ty vật liệu xây dựng</h5>
        <p>Lĩnh vực hoạt động chính của công ty là sản xuất, mua bán và phân phối gạch men, xi măng, sắt thép.</p>
        <h5>Cơ cấu tổ chức của Công ty</h5>
        <h6>Sơ đồ tổ chức</h6>
        <img src="https://vietkhoaluan.com/wp-content/uploads/2021/07/SO-DO-TO-CHUC-CONG-TY-VAT-LIEU-XAY-DUNG.png" alt="">
        <h5>Chức năng của từng bộ phận trong công ty</h5>
        <p>Nhân sự tuyển dụng được bố trí theo từng mục đích cụ thể và mỗi công việc đều có tầm quan trọng cho những công việc tiếp theo. Thành công của mỗi cá nhân tùy thuộc vào nhiều khía cạnh, nhưng điều cơ bản là mỗi người phải nhận thức được rõ ràng công việc của mình và hoàn thành nó một cách xuất sắc. Thành công sẽ đến khi người ta nhận thức điểm mạnh của họ ở đâu. Thật vậy, mỗi vai trò trong sơ đồ tổ chức nhân sự của công ty Hữu Sang được định nghĩa một cách rõ ràng với những mục tiêu cụ thể:</p>
        <h5>Giám đốc</h5>
        <p>-  Giám Đốc công ty TNHH Vật liệu xây dựng Hữu Sang hiện nay là bà Hồ Thi Thanh Sang, sinh ngày 12 tháng 02 năm 1974, dân tộc Kinh, quốc tịch Việt Nam.<br/>
        - Là người điều hành hoạt động kinh doanh hàng ngày của công ty, chịu trách nhiệm trước Hội đồng thành viên về việc thực hiện các quyền và nhiệm vụ công ty.<br/>
        - Tổ chức thực hiện các quyết định của Hội đồng thành viên. Tổ chức thực hiện kế hoạch kinh doanh và phương án đầu tư của công ty.
        Ban hành quy chế quản lý nội bộ công ty.Bổ nhiệm, miễn nhiệm, cách chức các chức danh quản lý trong công ty, trừ các chức danh thuộc thẩm quyền của Hội đồng thành viên.<br/>
        - Ký kết hợp đồng nhân danh công ty, trừ trường hợp thuộc thẩm quyền của Chủ tịch Hội đồng thành viên.<br/>
        - Kiến nghị phương án cơ cấu tổ chức công ty.<br/>
        - Kiến nghị phương án sử dụng lợi nhuận hoặc xử lý lỗ trong kinh doanh. Tuyển dụng lao động.<br/>
        - Các quyền và nhiệm vụ khác được quy định trong hợp đồng lao động mà giám đốc ký với công ty theo quyết định của Hội đồng thành viên.</p>
        <h5>Phó Giám Đốc</h5>
        <p>-  Phó Giám Đốc hiện tai của công ty là ông Trần Doãn Nhật Quang.</p>
        <p>-  Phó Giám Đốc là người dưới quyền Giám đốc, giúp việc cho giám đốc trong quản lý điều hành các hoạt động của công ty theo sự phân công của giám đốc. Phó giám đốc được phân công phụ trách một số mãng, lĩnh vực như: kinh doanh, nhận sự, hành chính, đầu tư, đối nội đối ngoại. Phó giám đốc chủ động và tích cực triển khai, thực hiện nhiệm vụ được phân công và chịu trách nhiệm trước Giám đốc về hiệu quả các hoạt động của công ty.</p>
        <h5>Phòng kinh doanh</h5>
        <p>-  Nhân viên phòng kinh doanh là những người trực tiếp mang doanh thu về cho công ty, góp phần lớn vào sự phát triển của doanh nghiệp. Nhân sự trong phòng kinh doanh luôn phải chịu áp lực khá cao do phải đáp ứng doanh số của công ty đề ra. Cụ thể phòng kinh doanh đảm nhiệm các công việc sau :</p>
        <p>   + Lập các kế hoạch Kinh doanh và triển khai thực hiện</p>
        <p>   + Giao dịch trực tiếp với hệ thống Khách hàng, hệ thống nhà phân phối</p>
        <p>   +  Thực hiện hoạt động bán hàng nhằm mang lại Doanh thu cho Doanh nghiệp</p>
        <p>   + Phối hợp với các bộ phận liên quan như Kế toán, Quản lý kho… nhằm mang đến các dịch vụ đầy đủ nhất cho Khách hàng.</p>
        <h5>Phòng nhân sự</h5>
        <p>Nhân viên phòng nhân sự đảm nhiệm các công việc :</p>
        <p>-  Tuyển dụng lao động, bố trí sắp xếp quản lý lao động</p>
        <p>-  Phụ trách công tác thi đua, khen thưởng, kỷ luật của toàn Công ty</p>
      </span>
      </div>
    </div>
  </section>
</template>

<script>
export default {

}
</script>

<style>

</style>