<template>
  <div class="" style="position: relative;">
    <div class="cartmain">
          <div class="container">
            <section class="cart">
              <ion-icon name="close-outline" class="icon-close-cart" @click="CloseCart()"></ion-icon>
                <h2>Giỏ hàng của bạn</h2>
                <form action="">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="cart in dataCart" :key="cart">
                                <td style="display: flex ;align-items: center; "><img :src="`${urlImage}${url}`+cart.image" alt="" style="width: 50px; margin-right: 5px;" ><span class="title" style="font-size: 13px;">{{ cart.productName }}</span></td>
                                <td><p><span class="prices" style="font-size: 14px;">{{ cart.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span></p></td>
                                <td><input @change="inputChange(cart.cartID)" class="input__number-cart" style="width: 50px; outline: none; text-align: center;"  type="number" :value="cart.quantity" min="1"></td>
                                <td style="cursor: pointer;"><span class="delete" @click="deleteDataCart(cart.cartID)">Xóa</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="price-total">
                        <p style="font-weight: bold;">Tổng tiền: <span>{{ sumPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </span><sup></sup></p>
                    </div>
                    <router-link to="/don-hang"  style="text-decoration: none;" v-if="dataCart != null"><button class="btn_muahang" @click="showCartRight()">Thanh toán</button> </router-link>
                </form>
            </section>
          </div>
      </div>
    <!-- Header -->
        <header-client/>
        <menu-client/>

    <!-- Body -->
    <div class="" style="min-height: calc(100vh - 180px);">
        <router-view/>
    </div>
    <footer-client/>
  </div>
</template>

<script>
import FooterClient from '@/components/clients/FooterClient.vue'
import HeaderClient from '../../components/clients/HeaderClient.vue'
import MenuClient from '../../components/clients/MenuClient.vue'
import { onMounted, ref, watch } from 'vue'
import axios from 'axios'
import {useStore} from "../../stores/index.js"
export default {
  components: { HeaderClient, MenuClient, FooterClient },
  setup(){
    const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
    const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"

    const dataCart = ref({})
    const sumPrice = ref(0)
    const updateCart = ref({})
    const store = useStore();
    const totalQuantity = ref(0)

    onMounted(()=>{
        getDataCart()
    })

    function CloseCart(){
      document.querySelector(".cart").style.right="-500px";
    }

    watch(store.$state.statusCart,()=>{
        getDataCart()
    })

    function getDataCart(){
        if(localStorage.getItem("account") != null){
            axios.get("http://localhost:38448/api/GioHang/TimKiemAccount/" + JSON.parse(localStorage.getItem("account")).ID).then((response)=>{
                dataCart.value = response.data;
                sumPrice.value = 0
                totalQuantity.value = 0
                console.log("Xin chào HN 1")
                dataCart.value.forEach((item)=>{
                    sumPrice.value += parseInt(item.price) * parseInt(item.quantity);
                    totalQuantity.value += parseInt(item.quantity)
                })
                localStorage.setItem("totalQuantity", totalQuantity.value)
                store.$state.statusNumberCart.status = !store.$state.statusNumberCart.status
            })
        }else {
            dataCart.value = null;
            sumPrice.value = 0
        }
    }

    function deleteDataCart(id){
        axios.delete("http://localhost:38448/api/GioHang/Delete/" +id) 
        .then((response) => {
            console.log(response);
            store.$state.statusCart.status = !store.$state.statusCart.status
        })
    }

    function inputChange(id){
        const inputValue = event.target.value;
        axios.get("http://localhost:38448/api/GioHang/GetById/" + id).then((response) => {
                if (response.data != "") {
                    updateCart.value = response.data;
                    updateCart.value.quantity = inputValue;
                    axios.put("http://localhost:38448/api/GioHang/Update/" + id, updateCart.value).then(() => {
                        store.$state.statusCart.status = !store.$state.statusCart.status
                    })
                }
            })
    }

    function showCartRight(){
            document.querySelector(".cart").style.right="-500px";
        }

    return {
      CloseCart,
      getDataCart,
      dataCart,
      urlImage,
      url,
      deleteDataCart,
      sumPrice,
      inputChange,
      updateCart,
      showCartRight,
      totalQuantity
    }
  }
}
</script>

<style>
  .cartmain{
    /* display: none; */
    /* padding:20px 0 ;
    margin-bottom: 50px; */
}

.cart h2{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
    border-bottom: solid 2px #eb3e32;
    padding-bottom: 20px;
    line-height: 1.4;
}

.cart {
  width: 500px;
  margin: auto;
  text-align: left;
  padding-top: 15px;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100vh;
  background: #ccc;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px
}

.cart h2 {
    margin-bottom: 20px;
}

.cart table {
    width: 100%;
}

.cart table thead tr th:first-child {
    text-align: left;
}

.cart table tr {
    border: 1px solid #ddd;
}

.cart table tr th {
    padding: 8px 15px;
}

.cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;

}

.cart table thead tr th:last-child {
    text-align: right;
}

.cart table tbody tr td:last-child {
    text-align: right;
}

.price-total {
    text-align: right;
    padding: 10px 20px;
}

.price-total>p {
    color: var(--primary-color);
}

.cart .btn_muahang {
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
    text-align: right;
}

.icon-close-cart {
  position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

/* ---------------------- */
/* .cart {
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    overflow-y: scroll;
    background-color: rgb(230, 175, 175);
    padding: 12px 20px;

} */
</style>