<template>
  <section>
    <div class="contact">
            <div class="container">
                <h3>Điền thông tin vào Form</h3>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="contact-left">
                            <h1>Shop88QB</h1>
                            <h4>Thiên đường mua sắm Điện thoại - Laptop</h4>
                            <div class="top-columns">
                                <li><ion-icon name="call-outline"></ion-icon> 0384 400 647</li>
                                <li><ion-icon name="mail-outline"></ion-icon> Shop88qb@gmail.com.vn</li>
                                <li><ion-icon name="flag-outline"></ion-icon> Hiến Sơn - Đô Lương - Nghệ An</li>
                            </div>
                            <div class="bottom-row">
                                <li><ion-icon name="logo-facebook"></ion-icon></li>
                                <li><ion-icon name="logo-instagram"></ion-icon></li>
                                <li><ion-icon name="logo-twitter"></ion-icon></li>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="contact-right">
                            <div class="form-input">
                                <div class="input-write">
                                    <label for="">Họ</label>
                                    <input type="text" class="input_contact" >
                                </div>
                                <div class="input-write">
                                    <label for="">Tên</label>
                                    <input type="text" class="input_contact">
                                </div>
                                <div class="input-write">
                                    <label for="">Email</label>
                                    <input type="text" class="input_contact">
                                </div>
                                <div class="input-write">
                                    <label for="">Số điện thoại</label>
                                    <input type="text" class="input_contact">
                                </div>
                                <div class="text-message">
                                    <label for="">Nội dung</label>
                                    <textarea  name="comment" form="usrform"></textarea>
                                </div>
                            </div>
                            <button class="btn-sendMessage">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30206.444168296817!2d105.40392487135573!3d18.851313181888152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139de3c80793565%3A0x4a54dfb723d38ead!2zSGnhur9uIFPGoW4sIMSQw7QgTMawxqFuZyBEaXN0cmljdCwgTmdoZSBBbiwgVmlldG5hbQ!5e0!3m2!1sen!2sus!4v1650835923715!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  </section>
</template>

<script>

</script>

<style scoped>
.contact {
    margin: 20px 0;
    
    padding-bottom: 30px;
}

.contact h3 {
    color: var(--primary-color);
    font-size: 20px;
    text-align: center;
    padding: 20px 0 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-left {
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(341deg, #AB1E13 13%, #655E41 31%, rgba(144, 66, 66, 0.66) 52%, #A9883D 67%, #133F84 93%);
}

.contact-left>h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #fff;padding-bottom: 20px;
}

.contact-left>h4 {
    font-size: 15px;
    text-align: center;
    color: #d3cec7;
}

.top-columns {
    padding-left: 30px;
}

.top-columns>li {
    list-style: none;
    padding: 5px 0 15px 0;
    font-size: 16px;
    color: #d3cec7;
}

.top-columns>li ion-icon {
    font-size: 20px;
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-row>li {
    list-style: none;
    padding: 5px 0 15px 0;
    color: var(--primary-color);
    padding: 7px 12px;
    font-size: 16px;
}

.bottom-row>li:hover {
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    color: #d3cec7;
    background-color: var(--primary-color);
}

.form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-write {
    margin-left: 10px;
    padding: 15px 0;
}

.input-write > label, .text-message >label {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #999ab5;
    text-align: left;
}

.input_contact {
    width: 350px;
    display: block;
    outline: none;
    padding: 5px 8px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(59, 57, 57);
    border: none;
    border-bottom: 2px solid #ccc;
}
.text-message {
    margin: 15px 8px;
    width: 100%;
}

.text-message>textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
}

.btn-sendMessage {
    padding: 5px 30px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
}
</style>