<template>
<div class="" id="list-product__style-client">
    <div class="product">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="sidebar-product">
                        <h4 class="title_sidebar-product">
                            <ion-icon name="menu-outline" class="icon_sidebar-product"></ion-icon> Danh mục
                        </h4>
                        <div class="category_sidebar">
                            <ul v-for="cate in category" :key="cate">
                                <li @click="TimKiemSanPhamTheoDanhMucSanPham(cate.cateID)"><p>{{ cate.name }}</p></li>
                            </ul>
                        </div>
                        <hr>
                        <h5>Thương hiệu</h5>
                        <div class="category_sidebar" >
                            <ul v-for="brand in brands" :key="brand">
                                <li @click="TimKiemTheoHangSanPham(brand.brandID)">
                                    <p>{{ brand.name }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-9">
                    <div class="arrange">
                        <div class="title-arrange">
                            <p>Sắp xếp theo:</p>
                        </div>
                        <div class="arrange-name active_arrage" id="all_arrange-name">
                            <p @click="getDataProduct()">Tất cả</p>
                        </div>
                        <div class="arrange-name" >
                            <p @click="SapXepSanPhamAZTenSP()">Từ A <ion-icon name="arrow-forward-outline"></ion-icon> Z</p>
                        </div>
                        <div class="arrange-name" @click="SapXepSanPhamZATenSP()">
                            <p>Từ Z <ion-icon name="arrow-forward-outline"></ion-icon> A</p>
                        </div>
                        <!-- <ion-icon name="funnel-outline"></ion-icon> -->
                    </div>
                    <!-- Tất cả sản phẩm -->
                    <div class="product-content" v-if="statusProduct == 'all'">
                        <div class="row">
                            <div class="col-sm-3" v-for="(sanpham, index) in dataProduct.slice(0,9)" :key="index">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div class="percent-discount_product">Giảm <p class="number_discount_product">5</p>%</div> -->
                                        <div class="favorite-product">
                                            <ion-icon name="heart-outline" class="active_heart"></ion-icon>
                                        </div>
                                        <div class="img_height">
                                            <img class="product_img" :src="`${urlImage}${url}` + sanpham.image" alt="">
                                        </div>
                                        <p class="card-text">{{ sanpham.name }}</p>
                                        <div class="product_price">
                                            <p class="card-number_cost">{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                            <p class="card-number_price">{{ sanpham.promotionPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </p>
                                        </div>
                                        <div class="btn_selection">
                                            <button href="#" class="btn_product-add" @click="addProductCart(sanpham.productID,sanpham.image, sanpham.name, sanpham.promotionPrice)">
                                                <ion-icon name="cart-outline" class="icon_product-add"></ion-icon>
                                            </button>
                                            <router-link :to="{path: '/chi-tiet-san-pham/'+ sanpham.productID}" class="btn_product-view">Xem chi tiết </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tìm kiếm theo CateID -->
                    <div class="product-content" v-if="statusProduct == 'cateID'">
                        <div class="row">
                            <div class="col-sm-3" v-for="(sanpham, index) in productCateID.slice(0,9)" :key="index">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div class="percent-discount_product">Giảm <p class="number_discount_product">5</p>%</div> -->
                                        <div class="favorite-product">
                                            <ion-icon name="heart-outline" class="active_heart"></ion-icon>
                                        </div>
                                        <div class="img_height">
                                            <img class="product_img" :src="`${urlImage}${url}` + sanpham.image" alt="">
                                        </div>
                                        <p class="card-text">{{ sanpham.name }}</p>
                                        <div class="product_price">
                                            <p class="card-number_cost">{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                            <p class="card-number_price">{{ sanpham.promotionPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </p>
                                        </div>
                                        <div class="btn_selection">
                                            <button href="#" class="btn_product-add" @click="addProductCart(sanpham.productID,sanpham.image, sanpham.name, sanpham.promotionPrice)">
                                                <ion-icon name="cart-outline" class="icon_product-add"></ion-icon>
                                            </button>
                                            <router-link :to="{path: '/chi-tiet-san-pham/'+ sanpham.productID}" class="btn_product-view">Xem chi tiết </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tìm kiếm theo BrandID -->
                    <div class="product-content" v-if="statusProduct == 'brandID'">
                        <div class="row">
                            <div class="col-sm-3" v-for="(sanpham, index) in productBrandID.slice(0,9)" :key="index">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div class="percent-discount_product">Giảm <p class="number_discount_product">5</p>%</div> -->
                                        <div class="favorite-product">
                                            <ion-icon name="heart-outline" class="active_heart"></ion-icon>
                                        </div>
                                        <div class="img_height">
                                            <img class="product_img" :src="`${urlImage}${url}` + sanpham.image" alt="">
                                        </div>
                                        <p class="card-text">{{ sanpham.name }}</p>
                                        <div class="product_price">
                                            <p class="card-number_cost">{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                            <p class="card-number_price">{{ sanpham.promotionPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </p>
                                        </div>
                                        <div class="btn_selection">
                                            <button href="#" class="btn_product-add" @click="addProductCart(sanpham.productID,sanpham.image, sanpham.name, sanpham.promotionPrice)">
                                                <ion-icon name="cart-outline" class="icon_product-add"></ion-icon>
                                            </button>
                                            <router-link :to="{path: '/chi-tiet-san-pham/'+ sanpham.productID}" class="btn_product-view">Xem chi tiết </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sắp xếp theo AZ -->
                    <div class="product-content" v-if="statusProduct == 'AZ'">
                        <div class="row">
                            <div class="col-sm-3" v-for="(sanpham, index) in productAZ.slice(0,9)" :key="index">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div class="percent-discount_product">Giảm <p class="number_discount_product">5</p>%</div> -->
                                        <div class="favorite-product">
                                            <ion-icon name="heart-outline" class="active_heart"></ion-icon>
                                        </div>
                                        <div class="img_height">
                                            <img class="product_img" :src="`${urlImage}${url}` + sanpham.image" alt="">
                                        </div>
                                        <p class="card-text">{{ sanpham.name }}</p>
                                        <div class="product_price">
                                            <p class="card-number_cost">{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                            <p class="card-number_price">{{ sanpham.promotionPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </p>
                                        </div>
                                        <div class="btn_selection">
                                            <button href="#" class="btn_product-add" @click="addProductCart(sanpham.productID,sanpham.image, sanpham.name, sanpham.promotionPrice)">
                                                <ion-icon name="cart-outline" class="icon_product-add"></ion-icon>
                                            </button>
                                            <router-link :to="{path: '/chi-tiet-san-pham/'+ sanpham.productID}" class="btn_product-view">Xem chi tiết </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sắp xếp theo ZA -->
                    <div class="product-content" v-if="statusProduct == 'ZA'">
                        <div class="row">
                            <div class="col-sm-3" v-for="(sanpham, index) in productZA.slice(0,9)" :key="index">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div class="percent-discount_product">Giảm <p class="number_discount_product">5</p>%</div> -->
                                        <div class="favorite-product">
                                            <ion-icon name="heart-outline" class="active_heart"></ion-icon>
                                        </div>
                                        <div class="img_height">
                                            <img class="product_img" :src="`${urlImage}${url}` + sanpham.image" alt="">
                                        </div>
                                        <p class="card-text">{{ sanpham.name }}</p>
                                        <div class="product_price">
                                            <p class="card-number_cost">{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                            <p class="card-number_price">{{ sanpham.promotionPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </p>
                                        </div>
                                        <div class="btn_selection">
                                            <button href="#" class="btn_product-add" @click="addProductCart(sanpham.productID,sanpham.image, sanpham.name, sanpham.promotionPrice)">
                                                <ion-icon name="cart-outline" class="icon_product-add"></ion-icon>
                                            </button>
                                            <router-link :to="{path: '/chi-tiet-san-pham/'+ sanpham.productID}" class="btn_product-view">Xem chi tiết </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</template>

<script setup>
import { useStore } from "@/stores";
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
    const route = useRoute()
    const store = useStore()
    const dataProduct = ref([])
    const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
    const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
    const addCart = ref({})
    const updateCart = ref({})
    const category = ref([])
    const brands = ref({})
    const productCateID = ref([])
    const productBrandID = ref([])
    const statusProduct = ref("all")
    const productAZ = ref([])
    const productZA = ref([])
    const router = useRouter()
    onMounted(()=>{
        getDataProduct()
        GetDataCategory()
        GetDataBrand()
    })
    function getDataProduct(){
        statusProduct.value = "all"
        clearActiveClass()
        document.getElementById("all_arrange-name").classList.add("active_arrage")
        dataProduct.value = []
        axios.get("http://localhost:38448/api/SanPham/List").then((response) => {
            response.data.forEach((item)=>{
                if(item.status == 0){
                    dataProduct.value.push(item)
                }
            })
            // dataProduct.value = response.data
        })
        .catch((error) => {
            console.log("Lỗi gọi danh sách dữ liệu sản phẩm: " + error);
        });
    }

    function addProductCart(productID, image, productName, price) {
        if(localStorage.getItem('account') != null){
            showCartRight()
            axios.get("http://localhost:38448/api/GioHang/TimKiemAccountAndProduct/"+JSON.parse(localStorage.getItem('account')).ID + "/" + productID).then((response) => {
                if (response.data != "") {
                    let IDCart = 0;
                    response.data.forEach((item) => {
                        IDCart = item.cartID
                    })
                    updateCart.value = response.data[0];
                    updateCart.value.quantity += 1;
                    axios.put("http://localhost:38448/api/GioHang/Update/" + IDCart, updateCart.value).then(() => {
                        console.log("Update Thành Công");
                        store.$state.statusCart.status = !store.$state.statusCart.status
                        toast.success("Thêm sản phẩm vào giỏ hàng thành công", {
                                autoClose: 1000,
                            });
                    })
                } else {
                    addCart.value.AccountID = JSON.parse(localStorage.getItem("account")).ID
                    addCart.value.Image = image;
                    addCart.value.ProductName = productName;
                    addCart.value.Quantity = 1;
                    addCart.value.Price = price;
                    addCart.value.ProductID = productID;
                    axios.post("http://localhost:38448/api/GioHang/Store", addCart.value)
                        .then((response) => {
                            console.log(response);
                            store.$state.statusCart.status = !store.$state.statusCart.status
                            toast.success("Thêm sản phẩm vào giỏ hàng thành công", {
                                autoClose: 1000,
                            });
                        })
                        .catch((error) => {
                            console.log("Lỗi thêm mới sản phẩm vào giỏ hàng", +error);
                        })
                }
            })
        }else{
            toast.error("Bạn phải đăng nhập mới thêm được sản phẩm vào giỏ hàng!", {
                autoClose: 1000,
            });
                router.push("/dang-nhap")
            }
    }

    function showCartRight(){
            document.querySelector(".cart").style.right="0";
        }

    function GetDataCategory() {
        axios
        .get("http://localhost:38448/api/DanhMucSanPham/List")
        .then((response) => {
            response.data.forEach((item)=>{
                if(item.parentID == 0 && item.status == 0){
                    category.value.push(item);
                }
            })
            console.log(category.value);
        })
        .catch((error) => {
            console.log("Lỗi gọi danh sách dữ liệu danh muc: " + error);
        });
    }

    function GetDataBrand(){
        axios
        .get("http://localhost:38448/api/HangSanPham/List")
        .then((response) => {
          brands.value = response.data;
          console.log(brands.value);
        })
        .catch((error) => {
          console.log("Lỗi gọi danh sách dữ liệu hãng sản phẩm: " + error);
        });
    }

    function TimKiemSanPhamTheoDanhMucSanPham(cateID){
        statusProduct.value = "cateID"
        let element = event.target.closest('li')
        clearActiveClass()
        element.classList.add("active_arrage");
        axios.get("http://localhost:38448/api/SanPham/TimKiemTheoDanhMucSanPham/" + cateID).then((response)=>{
            productCateID.value = response.data;
        })
    }

    function TimKiemTheoHangSanPham(brandID){
        statusProduct.value = "brandID"
        let element = event.target.closest('li')
        clearActiveClass()
        element.classList.add("active_arrage");
        axios.get("http://localhost:38448/api/SanPham/TimKiemTheoHangSanPham/" + brandID).then((response)=>{
            productBrandID.value = response.data;
        })
    }

    function SapXepSanPhamAZTenSP(){
        const element = event.target.closest('div');
        clearActiveClass()
        element.classList.add("active_arrage")
        statusProduct.value = "AZ"
        axios.get("http://localhost:38448/api/SanPham/SapXepSanPhamAZTenSP").then((response)=>{
            productAZ.value = response.data;
        })
    }

    function SapXepSanPhamZATenSP(){
        const element = event.target.parentNode;
        clearActiveClass()
        element.classList.add("active_arrage")
        statusProduct.value = "ZA"
        axios.get("http://localhost:38448/api/SanPham/SapXepSanPhamZATenSP").then((response)=>{
            productZA.value = response.data;
        })
    }

    function clearActiveClass() {
        document.querySelectorAll('.category_sidebar ul li').forEach(item => {
            item.classList.remove('active_arrage');
        })
        document.querySelectorAll('.arrange-name').forEach(item => {
            item.classList.remove('active_arrage');
        })
    }

</script>

<style scoped>
.product {
    margin: 20px 0;

}

.sidebar-product {
    width: 100%;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: left;
}

.title_sidebar-product {
    font-size: 18px;
    color: rgb(47, 47, 47);
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
}

.icon_sidebar-product {
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3px;
}

.title_sidebar-product::after {
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.title_sidebar-product::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.category_sidebar {
    margin: 0;
}

.category_sidebar>ul {
    margin-bottom: 0;
}

.category_sidebar>ul>li {
    list-style: none;
    display: block;

}

.category_sidebar>ul>li.active_arrage{
    background-color: var(--primary-color);
}


.category_sidebar>ul>li.active_arrage > p{
    color: #fff;
}

.category_sidebar>ul>li:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.category_sidebar>ul>li>p:hover {
    color: #fff;

}

.category_sidebar>ul>li>p {
    text-decoration: none;
    color: rgb(103, 103, 103);
    font-size: 15px;
    display: block;
    padding: 10px 10px 10px 20px;
    margin: 0;
}

.show_selection-checkbox {
    /* display: inline-block; */
    padding-left: 10px;
}

.list-choose {
    display: inline;
}

.title_show-checkbox {
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 0px;
    color: blue;
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    text-transform: uppercase;
}

.btn_xoa {
    border: none;
    outline: none;
    background-color: blue;
    float: right;
    margin-right: 10px;
    color: #fff;
    padding: 3px 8px;
    border-radius: 2px;
    font-size: 14px;
}

.icon_show-checkbox {
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.value_checkbox {
    font-size: 13px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 3px 7px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    opacity: 0.8;

    line-height: 15px;
    margin-left: 2px;
}

.value_checkbox:hover {
    opacity: 1;
    cursor: pointer;
}

.close-value_checkbox {
    font-size: 10px;
}

.sidebar-product>h5 {
    font-size: 14px;
    padding: 10px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.selection_checkbox {
    height: 145px;
    overflow: hidden;
}

.selection_checkbox:hover {
    overflow-y: scroll;
    transition: ease 0.3s all;
}

.input_checkbox {
    display: inline;
}

.selection_checkbox label {

    display: inline-block;
    width: 90%;
    margin: 0;
    font-size: 13px;
    color: rgb(103, 103, 103);

}

#style-1::-webkit-scrollbar, #style-2::-webkit-scrollbar {
    width: 8px;
    padding-right: 10px;
}

#style-1::-webkit-scrollbar-thumb, #style-2::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: var(--primary-color);
}

.arrange {
    width: 100%;
    height: 40px;
    background-color: #dfe1e6;
    text-align: left;
}

.title-arrange {
    line-height: 30px;
    margin: 0;
    display: inline-block;
}

.title-arrange>p {
    font-size: 14px;
    padding: 5px 10px;
}

.arrange-name {
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.arrange-name>p {
    font-size: 14px;
    color: rgb(52, 52, 52);
    padding: 5px 10px;
    margin: 0;
}

.arrange-name>p:hover {
    cursor: pointer;
}

.arrange-name.active_arrage {
    background-color: var(--primary-color);
    border-radius: 3px;
    display: inline-block;
    line-height: 20px;
}

.arrange-name.active_arrage>p {
    margin: 0;
    color: #fff;
    padding: 5px 10px;
}

.card {
    position: relative;
    margin-bottom: 20px;
    height: 296px;
    margin: 20px 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card:hover .card-body {
    cursor: pointer;
}

.card:hover .icon_product-add {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    opacity: 1;

}

.card:hover .btn_product-view {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}

.card:hover .favorite-product {
    background-color: var(--primary-color);
}

.card-body {
    padding: 10px;
}

.percent-discount_product {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 212, 36, 0.9);
}

.number_discount_product {
    display: inline-block;
}

.percent-discount_product::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 0px 15px 20px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
}

.favorite-product {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    color: #fff;
}

.img_height {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.card-text {
    text-align: left;
    line-height: 15px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 5px 0;
}

.product_price {
    display: flex;
    justify-content: space-between;

}

.card-number_cost {
    font-size: 12px;
    text-decoration-line: line-through;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--primary-color);
}

.card-number_price {
    color: var(--primary-color);
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.btn_product-add {
    display: inline-block;
    /* width: 30%; */
    outline: none;
    border: none;
}

.btn_product-view {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 3px 15px;
    color: blue;
    text-decoration: none;
    color: #ccc;
}

.icon_product-add {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    padding: 3px 15px;
    display: block;
    border-radius: 5px;
    padding-top: 5px;
    background-color: var(--primary-color);
    opacity: 0.3;
}
</style>
