<template>
  <section>
    <div class="Danh_sach_tin_tuc_style">
      <div class="container">
        <div class="row">
          <div
            class="col-md-3">
            <div class="" style="padding: 10px 0; 
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            ">
              <h4 class="tieu_de_tin_tuc" @click="resetListPost()">Danh mục tin tức</h4>
              <div class="">
                <ul class="list__danh-muc-tin-tuc-style" v-for="item in listCatePost" :key="item">
                  <li class="item_danh-muc-tin-tuc" v-if="item.status == 0" @click="getPost(item.catePostID)"><p>{{ item.name }}</p></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9" v-if="statusValue == 0">
            <div class="" v-for="item in listPostAll" :key="item" style="margin: 8px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;">
              <div class="" >
                <div class="">
                  <div class="chi-tiet-tin-tuc">
                    <div class="hinh_anh-style">
                      <img :src="`${urlImage}${url}` + item.image" alt="">
                    </div>
                    <div class="mo-ta-ngan-tin-tuc-style">
                      <router-link :to="'chi-tiet-tin-tuc/' + item.postID" style="text-decoration: none;"><h2>{{ item.name}}</h2></router-link>
                      <p>{{ item.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9" v-if="statusValue != 0">
            <div class="" v-for="item in listPostItem" :key="item" style="margin: 8px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;">
              <div class="" >
                <div class="">
                  <div class="chi-tiet-tin-tuc">
                    <div class="hinh_anh-style">
                      <img :src="`${urlImage}${url}` + item.image" alt="">
                    </div>
                    <div class="mo-ta-ngan-tin-tuc-style">
                      <router-link :to="'chi-tiet-tin-tuc/' + item.postID" style="text-decoration: none;"><h2>{{ item.name}}</h2></router-link>
                      <p>{{ item.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref } from "vue";

  const listCatePost = ref({})
  const listPostAll = ref([])
  const statusValue = ref(0)
  const listPostItem = ref([])
  const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
  const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\tins\\"
  onMounted(()=>{
    getCatePost()
    getListPostAll()
  })

  function getCatePost(){
    axios.get("http://localhost:38448/api/DanhMucTin/List").then((response) => {
      listCatePost.value = response.data;      
      })
      .catch((error) => {
          console.log("Lỗi gọi danh sách dữ liệu danh muc tin tức: " + error);
      });
  }

  function getListPostAll(){
    axios.get("http://localhost:38448/api/Tin/List").then((response)=>{
      response.data.forEach((item)=>{
        if(item.status == 0){
          listPostAll.value.push(item)
        }
      })
      statusValue.value = 0;
    })
    .catch((error) => {
          console.log("Lỗi gọi danh sách dữ liệu danh sách tất cả tin tức: " + error);
      });
  }

  function getPost(id){
    listPostItem.value = []
    statusValue.value = id
    listPostAll.value.forEach(element => {
      if(element.catePostID == id){
        listPostItem.value.push(element)
      }
    });
  }

  function resetListPost(){
    statusValue.value = 0
    listPostItem.value = []
  }
</script>

<style scoped>
.mo-ta-ngan-tin-tuc-style {
    text-align: left;
    padding: 8px 20px;
}

.mo-ta-ngan-tin-tuc-style h2 {
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
    font-family: math;
}

.mo-ta-ngan-tin-tuc-style h2:hover {
  color: red;
  cursor: pointer;
}
 
.mo-ta-ngan-tin-tuc-style p {
  font-size: 15px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.chi-tiet-tin-tuc {
  display: flex;
  justify-content: flex-start;
  padding: 5ps 10px;
  /* height: 200px; */
}

.hinh_anh-style {
  display: flex;
  align-items: center;
}

.hinh_anh-style > img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.Danh_sach_tin_tuc_style {
  padding: 10px 0;
}
h4.tieu_de_tin_tuc {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

h4.tieu_de_tin_tuc:hover {
  cursor: pointer;
}

ul.list__danh-muc-tin-tuc-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.item_danh-muc-tin-tuc {
  padding: 5px 10px;
  text-align: left;
  font-size: 15px;
}
li.item_danh-muc-tin-tuc p {
  text-decoration: none;
  color: #000;
  display: block;
  padding-left: 5px;
  margin: 0;
}
.item_danh-muc-tin-tuc:hover {
  background: #ccc;
  cursor: pointer;
}
</style>
