<template>
  <div class="login__style">
    <div class="login">
          <div class="container">
              <div class="form-login">
                  <div class="left-col">
                    <div class="group-login">
                        <h4>Đăng nhập tài khoản</h4>
                        <form action="" class="style__form-login-client" @keyup.enter="CheckLogin()">
                            <label class="label__form-login-client__style" for="">Email <span style="color: red; font-size: 20px;">*</span></label>
                            <input class="input-email" type="email" placeholder="Email" v-model="accountLogin.name">
                            <label class="label__form-login-client__style" for="">Mật khẩu <span style="color: red; font-size: 20px;">*</span></label>
                            <input class="input-pass" type="password" placeholder="Mật khẩu" v-model="accountLogin.password">
                        </form>
                        <button type="text"  class="btn-login" @click="CheckLogin()">Đăng nhập</button>
                        <div class="" style="text-align: left;">
                            <a href="#" class="forgot-password">Quên mật khẩu?</a>
                        </div>
                        <span class="selection-span">Hoặc đăng nhập bằng</span>
                        <div class="btn-face">
                          <a href=""><ion-icon name="logo-facebook" class="icon-facebook"></ion-icon> Facebook</a>
                        </div>
                        <div class="btn-google">
                          <a href=""><ion-icon name="logo-google" class="icon-google"></ion-icon> Google</a>
                        </div>
                    </div>
                  </div>
                  <div class="right-col">
                    <h4>Quyền lợi với thành viên</h4>
                    <span class="list-member">- Vận chuyển siêu tốc</span>
                    <span class="list-member">- Sản phẩm đa dạng</span>
                    <span class="list-member">- Đổi trả dễ dàng</span>
                    <span class="list-member">- Tích điểm đổi quà.</span>
                    <router-link to="/dang-ky"  class="btn-registration">Đăng ký</router-link>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import {useStore} from "../../stores/index.js"
import axios from 'axios'
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    setup(){
        const accountLogin = ref({
            name: "",
            email: "",
            password: "",
            ID: 0
        })
        const router = useRouter()
        const store = useStore();
        const isFormEmpty = computed(() => {
            return !accountLogin.value.name.trim() || !accountLogin.value.password.trim();
            });
        function CheckLogin(){
            if (isFormEmpty.value) {
                toast.error("Vui lòng điền email và mật khẩu!", {
                autoClose: 1000,
                });
                return; // Stop execution if the form is empty
            }
            axios.get("http://localhost:38448/api/KhachHang/GetByIdString/"+ accountLogin.value.name).then((response)=> {
                if(response.status == 200 && response.data != ""){
                    let matkhau = null;
                    response.data.forEach((item) => {
                        matkhau = item.password
                    });
                    if(matkhau == accountLogin.value.password){
                        let data = {
                            name: "",
                            email: "",
                            ID: ""
                        }
                        response.data.forEach((item) => {
                            data.name = item.name;
                            data.email = item.email;
                            data.ID = item.accountID;
                        });
                        localStorage.setItem("account", JSON.stringify(data))
                        store.$state.ValueLogin.status = !store.$state.ValueLogin.status
                        router.push("/")
                        store.$state.statusCart.status = !store.$state.statusCart.status
                    }else {
                        toast.error("Tên đăng nhập hoặc mật khẩu không chính xác!", {
                            autoClose: 1000,
                        });
                    }
                }else {
                    toast.error("Tên đăng nhập hoặc mật khẩu không chính xác!", {
                        autoClose: 1000,
                    });
                }
            })
        }

        return{
            accountLogin,
            CheckLogin
        }
    }
}
</script>

<style>
    .login {
    margin: 30px;
}

.form-login {
    width: 700px;
    height: auto;
    border: 1px solid var(--primary-color);
    margin: auto;
    display: flex;
}

.left-col {
    padding: 40px 30px;
    width: 70%;
}

.group-login > h4 {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.style__form-login-client > label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.style__form-login-client > input {
    display: block;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    opacity: 0.5;
}

.btn-login, .btn-register {
    width: 100%;
    margin: 20px 0 5px;
    padding: 10px 10px;
    outline: none;
    text-align: center;
    font-size: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0.7;
    text-transform: capitalize;
}

.btn-login:hover, .btn-register:hover {
    opacity: 1;
}

.forgot-password {
    font-size: 11px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    text-align: left;
}

.selection-span {
    font-size: 13px;
    text-align: center;
    display: block;
    margin-top: 10px;
    position: relative;
}

.selection-span::before {
    content: "";
    width: 30%;
    height: 1.5px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;

}

.selection-span::after {
    content: "";
    width: 30%;
    height: 1.5px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    right: 0;
}

.right-col {
    width: 30%;
    background-color: var(--primary-color);
    padding: 40px 5px;
    text-align: left;
}

.btn-face {
    opacity: 0.7;
    position: relative;
    background-color: #05478e;
    padding: 5px 20px;
    line-height: 30px;
    display: inline-block;
    width: 130px;
    margin: 20px 30px;
}

.icon-facebook {
    font-size: 30px;
    background-color: #05478e;
    color: #fff;
    position: absolute;
    left: 10px;
    
}

.btn-face > a{
    font-size: 15px;
    color: #fff;
    padding-left: 24px;
    text-decoration: none;

}

.btn-face:hover {
    opacity: 1;
    cursor: pointer;
}

.btn-google {
    opacity: 0.7;
    position: relative;
    background-color: var(--primary-color);
    padding: 5px 20px;
    line-height: 30px;
    display: inline-block;
    width: 130px;
    margin-left: 74px;
}

.btn-google > a{
    font-size: 15px;
    color: #fff;
    padding-left: 25px;
    text-decoration: none;
}

.btn-google:hover {
    opacity: 1;
    cursor: pointer;
}


.icon-google {
    font-size: 30px;
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    left: 10px;

}

.list-member {
    display: block;
}

.right-col>h4 {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.btn-registration {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-top: 35px;
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 20px;
    border: 1px solid #fff;
    outline: none; 
    background-color: var(--primary-color);
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-registration:hover {
    background-color: rgba(240, 195, 12, 0.9);
    color: #000;
    text-decoration: none;
}

.list-member {
    padding-left: 10px;
    font-size: 14px;
    line-height: 60px;
    color: #fff;
}

.errorvalue {
    font-size: 12px;
    color: red;
    margin-bottom: 3px;
}
</style>