<template>
  <div class="" style="height: auto;">
    <slide-client/>
    <product-client-list/>
  </div>
</template>

<script>
import SlideClient from '@/components/clients/Slide/SlideClient.vue'
import ProductClientList from '@/components/clients/Slide/ProductClientList.vue'
export default {
  components: { SlideClient, ProductClientList },

}
</script>

<style>

</style>