<template>
  <section>
    <h3>Đơn hàng của tôi</h3>
    <div class="OrderTable__style">
      <table class="table table-bordered" style="font-size: 13px;">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã đơn hàng</th>
            <th>Ngày</th>
            <th>Trạng thái</th>
            <th>Giá trị đơn hàng</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(order, index) in listTotalOrder" :key="order">
            <td>{{ parseInt(index)+1 }}</td>
            <td><router-link :to="'thong-tin-chi-tiet-don-hang/' + order.orderID" @click="nextComponentRouter(order.orderID)">MHD{{ order.orderID }}DH</router-link></td>
            <td>{{new Date(order.orderDate).toLocaleDateString("vi-VN") }}</td>
            <td v-if="order.status == 0"><i class="fa-solid fa-circle-dot" style="color: #b22ea7;"></i> Chưa xác nhận</td>
            <td v-if="order.status == 1"><i class="fa-solid fa-circle-dot" style="color: #2eb24f;"></i> Đã xác nhận</td>
            <td v-if="order.status == 2"><i class="fa-solid fa-circle-dot" style="color: #d52410;"></i>Bị hủy</td>
            <td v-if="order.totalPrice != undefined">{{ order.totalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</td>
            <td v-if="order.totalPrice == undefined">{{ order.totalPrice}}</td>
            <td>
              <button class="btn btn-outline-danger" v-if="order.status == 0" @click="deleteDonHang(order.orderID)"><i class="fa-regular fa-trash-can"></i></button>
              <button class="btn btn-outline-danger" v-if="order.status == 1" disabled><i class="fa-regular fa-trash-can"></i></button> 
              <button class="btn btn-outline-danger" v-if="order.status == 2" disabled><i class="fa-regular fa-trash-can"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script setup>
import { useStore } from "@/stores";
import axios from "axios";
import { onMounted, ref, watch } from "vue";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

const orderData = ref([]);
const totalOrder = ref({});
const listTotalOrder = ref({});
const store = useStore()
onMounted(() => {
  getDataOrder();
});

function getDataOrder() {
  let IDKH = JSON.parse(localStorage.getItem("account")).ID;
  axios.get("http://localhost:38448/api/DonHang/List").then((response) => {
    response.data.forEach((item) => {
      if (item.accountID == IDKH) {
        orderData.value.push(item);
      }
    });
    console.log(orderData.value);
    getOrderDetail();
  });
}

function getOrderDetail() {
  axios.get("http://localhost:38448/api/ChiTietDonHang/List").then((response) => {
    const orderList = response.data;

    orderList.forEach((order) => {
      const orderID = order.orderID;
      const price = order.price;
      const quantity = order.quantity;

      if (orderID in totalOrder.value) {
        totalOrder.value[orderID] += price * quantity;
      } else {
        totalOrder.value[orderID] = price * quantity;
      }
    });

    mergeOrderDataAndTotalOrder();
  });
}

function mergeOrderDataAndTotalOrder() {
  listTotalOrder.value = [];

  orderData.value.forEach((order, index) => {
    const orderID = order.orderID;
    const totalPrice = totalOrder.value[orderID] || 0;

    const mergedOrder = {
      ...order,
      totalPrice: totalPrice
    };

    listTotalOrder.value.push(mergedOrder);
  });

  console.log(listTotalOrder.value);
}

function deleteDonHang(id){
  axios.delete("http://localhost:38448/api/DonHang/Delete/" + id).then(()=>{
    toast.success("Hủy đơn hàng thành công!", {
        autoClose: 1000,
    });
    deleteChiTietDonHang(id)
    location.reload()
  }).catch(()=>{
    toast.error("Lỗi xóa đơn hàng!", {
        autoClose: 1000,
    });
  })
}

function deleteChiTietDonHang(orderID){
  axios.delete("http://localhost:38448/api/ChiTietDonHang/RemoveListChiTietDonHang/" + orderID).then(()=>{
    console.log("Xóa chi tiết đơn hàng thành công");
  })
  .catch(()=>{
    console.log("Lỗi xóa chi tiết đơn hàng");
  })
}

function nextComponentRouter(orderID){
  if(sessionStorage.getItem("OrderIDRouter") != null){
    sessionStorage.removeItem("OrderIDRouter")
  }
  sessionStorage.setItem("OrderIDRouter", orderID)
}

watch(store.$state.statusOrder,()=>{
  console.log("xin chào 1")
  getDataOrder()
})

</script>



<style scoped>
.btn__delete-cart {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.btn__delete-cart:hover {
    background: red;
    color: #fff;
}
</style>