<template>
<div class="">
    <div class="product-details">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="single-product-img">
                                    <div class="gallery-top">
                                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2 gallery-top1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img :src="`${urlImage}${url}` + products.image" />
                                                </div>

                                            </div>
                                            <div class="swiper-button-next" style="background-color: #ccc; opacity: 0.3;"></div>
                                            <div class="swiper-button-prev" style="background-color: #ccc; opacity: 0.3;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="detail-top" style="text-align: left;">
                                    <h1 class="title-head">{{ products.name }}</h1>
                                    <div class="sapo-product-review-badge"></div>
                                    <div class="product-top">
                                        <div class="sku-product">
                                            <!-- <span >Thương hiệu: <span class="name-sku-product">{{ brandProductList }}</span></span> -->
                                        </div>
                                        <div class="group-power">
                                            <div class="price-box">
                                                <span class="special-price">{{ products.promotionPrice?.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) }}</span>
                                                <span class="old-price">Giá niêm yết: <del class="product-price-old"> {{ products.price?.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</del></span>
                                                <span class="save-price">Tiết kiệm <span class="price-product-save">10.000.000 <sup>đ</sup><span> so với giá thị trường</span></span></span>
                                            </div>
                                        </div>
                                        <div class="km-hot">
                                            <div class="box-km">
                                                <h2 class="title-km"><span>
                                                        <ion-icon class="icon-km" name="gift-outline"></ion-icon>
                                                    </span>Khuyến mãi - ưu đãi </h2>
                                                <div class="box-promotion">
                                                    <ul>
                                                        <li>Free ship nội thành</li>
                                                        <li>Tặng vô chờ giảm giá 3% với đơn hàng trên 1.000.000đ</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customer-btn-number">
                                            <div class="reduction-btn">
                                                <ion-icon class="icon-btn-reduction" name="remove-outline" @click="reduceNumber()"></ion-icon>
                                            </div>
                                            <div class="value-btn">
                                                <input type="number" min="1" max="999" value="1">
                                            </div>
                                            <div class="increase-btn">
                                                <ion-icon class="icon-btn-increase" name="add-outline" @click="increaseNumber()"></ion-icon>
                                            </div>
                                        </div>
                                        <div class="btn-buy">
                                            <button class="add_to_cart" @click="addProductCart()">Thêm vào giỏ <span>Cam kết hàng chính hãng</span></button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3">
                        <div class="details-right-box">
                            <div class="details-right-box-title">Thông tin hữu ích</div>
                            <div class="details-right-box-wrap">
                                <div class="care-details-box">
                                    <div class="care-details-item">
                                        <a href="">
                                            <span>
                                                <img src="//bizweb.dktcdn.net/100/429/689/themes/841362/assets/customer-support.png?1651194810904" alt="Trung tâm bảo hành">
                                            </span>
                                            <span class="txt-e-c">Trung tâm bảo hành</span>
                                        </a>
                                    </div>
                                    <div class="care-details-item">
                                        <a href="">
                                            <span>
                                                <img src="//bizweb.dktcdn.net/100/429/689/themes/841362/assets/delivery-truck.png?1651194810904" alt="Thông tin vận chuyển">
                                            </span>
                                            <span class="txt-e-c">Thông tin vận chuyển</span>
                                        </a>
                                    </div>
                                    <div class="care-details-item">
                                        <a href="">
                                            <span>
                                                <img src="//bizweb.dktcdn.net/100/429/689/themes/841362/assets/credit-card.png?1651194810904" alt="Hướng dẫn thanh toán">
                                            </span>
                                            <span class="txt-e-c">Hướng dẫn thanh toán</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="product-tab">
                    <div class="tabs-title">
                        <button class="tablinks active_tablink" @click="activeTab()">Chi tiết</button>
                        <button class="tablinks" @click="activeTab()">Hướng dẫn</button>
                        <button class="tablinks" @click="activeTab()">Đánh giá</button>
                        <div class="line"></div>
                    </div>
                    <div class="tabcontent active_tabcontent">
                        <div style="font-size: 14px; padding-left: 12px;" v-html="products.detail"></div>
                    </div>
                    <div class="tabcontent">
                        <h3>Hướng dẫn</h3>
                        <p></p>
                    </div>
                    <div class="tabcontent">
                        <h3>Đánh giá sản phẩm</h3>
                        <div>
                            <div class="product-review-body">
                                <h4 class="heading mb-1">Các khách hàng đã đánh giá sản phẩm</h4>
                                <ul class="user-info-wrap">
                                    <li v-for="item in listCommentProduct" :key="item">
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="https://pdp.edu.vn/wp-content/uploads/2021/05/hinh-anh-avatar-nam-1-600x600.jpg" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="meta">
                                                    <span><strong>{{ item.name }}</strong> - {{ new Date(item.createdDate).toLocaleDateString("vi-VN") }}</span>
                                                </div>
                                                <p class="short-desc mb-0">{{ item.detail }}</p>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                                <div class="feedback-area">
                                    <h2 class="heading mb-1">Thêm bình luận</h2>
                                    <p class="short-desc mb-3">Địa chỉ email của bạn sẽ không được công bố.</p>
                                    <form class="feedback-form pt-8" action="#">
                                        <div class="group-input">
                                            <div class="form-field ">
                                                <input type="text" v-model="addComment.name" name="name" placeholder="Your Name*" class="input-field input-name">
                                                <p class="pform"></p>
                                            </div>
                                            <div class="form-field ">
                                                <input type="text" v-model="addComment.email" name="email" placeholder="Your Email*" class="input-field input-email">
                                                <p class="pform"></p>
                                            </div>
                                            <div class="form-field">
                                                <input type="text" name="number" placeholder="Phone number" class="input-field input-phone">
                                                <p class="pform"></p>
                                            </div>
                                        </div>
                                        <div class="form-field mt-6">
                                            <textarea name="message" placeholder="Message"  v-model="addComment.detail" class="textarea-field"></textarea>
                                        </div>
                                        <div class="button-wrap mt-8">
                                            <button value="Gửi" class="btn-send-review" @click="addCommentProduct()" name="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import 'swiper/css';
import { onMounted, ref } from 'vue';
import axios from "axios";
import {  useRoute, useRouter } from 'vue-router'
import { useStore } from '@/stores';
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {

    setup() {
      const $ = document.querySelector.bind(document);
      const $$ = document.querySelectorAll.bind(document);
      const router = useRouter()
      const route = useRoute()
      const products = ref({})
      const brandProductList = ref({})
      const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
      const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
      const addCart = ref({})
      const updateCart = ref({})
      const store = useStore()
      const listCommentProduct = ref({})
      const addComment = ref({
        name: "",
        email: "",
        detail: "Sản phẩm tuyệt vời!",
        status: 0,
        createdDate: new Date(),
        updatedDate: new Date(),
        productID: 0
      })
      onMounted(()=>{
        GetDataProductDetail(route.params.id)
        starIcon()
        GetDataBrand(products.value.brandID)
        getCommentProduct();
      })

      function GetDataProductDetail(id){
        axios
          .get("http://localhost:38448/api/SanPham/GetById/" + `${id}`)
          .then((response) => {
              products.value = response.data;
              console.log(products.value);
          })
          .catch((error) => {
              console.log("Lỗi gọi danh sách dữ liệu sản phẩm: " + error);
          });
      }

      function GetDataBrand(id) {
            axios
                .get("http://localhost:38448/api/HangSanPham/" + `${id}`)
                .then((response) => {
                  brandProductList.value = response.data;
                })
                .catch((error) => {
                    console.log("Lỗi gọi danh sách dữ liệu hãng sản phẩm: " + error);
                });
        }

      function activeTab() {
        const tablinks = $$(".tablinks");
        const tabcontents = $$(".tabcontent");
        const linkActive = $(".active_tablink");
        const line = $(".line");

          linkActive.style.left = linkActive.offsetLeft + "px";
          line.style.width = linkActive.offsetWidth + "px";

          tablinks.forEach((tab, index) => {

              const tabcontent = tabcontents[index]
              tab.onclick = function () {
                  $('.tablinks.active_tablink').classList.remove('active_tablink')
                  $('.tabcontent.active_tabcontent').classList.remove('active_tabcontent')

                  line.style.left = this.offsetLeft + "px";
                  line.style.width = this.offsetWidth + "px";

                  this.classList.add("active_tablink")
                  tabcontent.classList.add("active_tabcontent")

              }
          })
      }

      function starIcon(){
        const starIcon = document.querySelectorAll(".your-review .active-star");
        starIcon.forEach(function(button, index){
          button.addEventListener("click",function(){
            for(var i = 0; i < 5; i++){
              if(i < index+1){
                  console.log(starIcon[i])
                starIcon[i].style.color = "#ef675d";
              }else{
                starIcon[i].style.color = "#454545";
              }
            }
          })
        });
      }

      function reduceNumber(){
        let valueNumber = document.querySelector(".customer-btn-number .value-btn input")
        var count = valueNumber.value;
          if(!isNaN(count)){
              if(count > 1){
                  count--;
              }
          }
          valueNumber.value = count

      }

      function increaseNumber(){
        let valueNumber = document.querySelector(".customer-btn-number .value-btn input")
          var count = valueNumber.value;
          if(!isNaN(count)){
              if(count <999){
                  count++;
              }
          }
          valueNumber.value = count
      }

      function showCartRight(){
            document.querySelector(".cart").style.right="0";
        }

      function addProductCart(){
        let valueNumber = document.querySelector(".customer-btn-number .value-btn input")
        var count = valueNumber.value;
        if(localStorage.getItem("account") != null){
            showCartRight()
            axios.get("http://localhost:38448/api/GioHang/TimKiemAccountAndProduct/"+JSON.parse(localStorage.getItem('account')).ID + "/" + route.params.id).then((response)=>{
                if(response.data == ""){
                    addCart.value.AccountID = JSON.parse(localStorage.getItem("account")).ID
                    addCart.value.Image = products.value.image;
                    addCart.value.ProductName = products.value.name;
                    addCart.value.Quantity = count;
                    addCart.value.Price = products.value.promotionPrice;
                    addCart.value.ProductID = route.params.id;
                    axios.post("http://localhost:38448/api/GioHang/Store", addCart.value)
                        .then((response) => {
                            console.log(response);
                            store.$state.statusCart.status = !store.$state.statusCart.status
                            toast.success("Thêm sản phẩm vào giỏ hàng thành công", {
                                autoClose: 1000,
                            });
                        })
                        .catch((error) => {
                            console.log("Lỗi thêm mới sản phẩm vào giỏ hàng", +error);
                        })

                }else{
                    let IDCart = 0;
                    response.data.forEach((item) => {
                        IDCart = item.cartID
                    })
                    updateCart.value = response.data[0];
                    updateCart.value.quantity += parseInt(count);
                    axios.put("http://localhost:38448/api/GioHang/Update/" + IDCart, updateCart.value).then(() => {
                        toast.success("Thêm sản phẩm vào giỏ hàng thành công", {
                                autoClose: 1000,
                            });
                            store.$state.statusCart.status = !store.$state.statusCart.status
                    })
                }
            })
            }else{
                toast.error("Bạn phải đăng nhập mới thêm được sản phẩm vào giỏ hàng!", {
                    autoClose: 1000,
                });
                router.push("/dang-nhap")
            }
        }

    function getCommentProduct(){
        axios.get("http://localhost:38448/api/BinhLuanSanPham/TimKiemTheoSanPham/" + route.params.id).then((response)=>{
            listCommentProduct.value = response.data;
            console.log(listCommentProduct.value);
        })
    }

    function addCommentProduct(){
        event.preventDefault()
        if(addComment.value.name != '' && addComment.value.email != '' && addComment.value.detail != ''){
            addComment.value.productID = parseInt(route.params.id)
            axios.post("http://localhost:38448/api/BinhLuanSanPham/Store", addComment.value).then(()=>{
                toast.success("Bạn bình luận sản phẩm thành công",{
                    autoClose: 1000,
                });
                getCommentProduct();
            })
            .catch(()=>{
                toast.error("Bạn bình luận sản phẩm thất bại",{
                    autoClose: 1000,
                })
            })
        }else{
            toast.error("Vui lòng điền thông tin vào form đầy đủ",{

            })
        }
    }

        return {
          products,
          GetDataProductDetail,
          activeTab, 
          starIcon,
          GetDataBrand,
          reduceNumber,
          increaseNumber,
          urlImage,
          url,
          brandProductList,
          addProductCart,
          listCommentProduct,
          getCommentProduct,
          addCommentProduct,
          addComment
        }
    }
}
</script>

<style>
.product-details {
    margin: 20px 0;
    padding: 10px 0;
}

.single-product-img {
    position: relative;
    height: 400px;
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.gallery-top {
    position: relative;
    display: block;
    border-radius: 5px;
    height: 300px;
    /* margin-bottom: 10px; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
    /* margin-bottom: 20px; */
}

.swiper.gallery-top1 {
    height: 270px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    margin: auto;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid red;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #eee;
}

/* ----------------------------------------- */
/* detail-top */
.title-head {
    font-size: 18px;
    color: #323c42;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sku-product {
    font-size: 14px;
}

.name-sku-product {
    font-weight: 600;
}

.price-box .special-price {
    font-size: 24px;
    font-weight: bold;
    color: #eb3e32;
}

.price-box .old-price {
    margin-left: 20px;
}

.price-box .old-price .product-price-old {
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    color: #3c3c3c;
}

.price-box .save-price {
    display: block;
    color: #33b530;
    font-size: 13px;
}

.price-box .save-price .product-price-save span {
    font-weight: normal;
    color: #33b530;
}

.km-hot {
    /* position: relative; */
    background: #f7f7f7;
    color: #000;
    padding: 10px 20px;

}

.km-hot .title-km {
    position: relative;
    background: #eb3e32;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px 5px 25px;
    display: inline-block;
    border-radius: 5px;
}

.km-hot .title-km span {
    width: 14px;
    height: 14px;
    position: relative;
}

.km-hot .title-km .icon-km {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    font-weight: bold;
    left: -20px;

}

.box-promotion>ul>li {
    list-style: none;
    position: relative;
    padding-left: 5px;
}

.box-promotion>ul>li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #33b530;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.customer-btn-number {
    display: flex;
    position: relative;
    margin: 20px 0;
}

.customer-btn-number .reduction-btn,
.increase-btn {
    width: 30px;
    display: inline-block;
    border: 1px solid #ccc;

    /* background-color: var(--primary-color); */
    /* text-align: center; */
}

.customer-btn-number .reduction-btn,
.increase-btn:hover {
    cursor: pointer;
}

.customer-btn-number .value-btn input {
    position: relative;
    outline: none;
    width: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
}

.icon-btn-increase {
    position: absolute;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    left: 85px;
}

.icon-btn-reduction {
    position: absolute;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
}

.btn-buy {
    display: flex;
}

.add_to_cart {
    background: #eb3e32;
    border: solid 1px #eb3e32;
    color: #fff;
    padding: 8px 20px;
    line-height: 18px;
    width: auto;
    border-radius: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    margin-right: 5px;
    opacity: 0.9;
}

.add_to_cart:hover {
    opacity: 1;
}

.btn-buy-now:hover {
    opacity: 1;

}

.add_to_cart span,
.btn-buy-now span {
    display: block;
    font-size: 11px;
    text-transform: none;
}

.btn-buy-now {
    opacity: 0.9;
    background: #0fa80f;
    border: solid 1px #0fa80f;
    color: #fff;
    padding: 8px 20px;
    line-height: 18px;
    width: auto;
    border-radius: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    width: 60%;
    margin-right: 5px;
}

.details-right-box {
    background-color: #fafafa;
    text-align: left;
}

.care-details-box {
    padding: 10px;
}

.care-details-item {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

.care-details-item a {
    text-decoration: none;
    background: transparent;
    color: #323c42;
    font-size: 14px;
    font-weight: 300;
}

.care-details-item a:hover {
    color: #ffb416;
    text-decoration: none;
    cursor: pointer;
}

.product-tab {}

.tabs-title {
    position: relative;
    padding-bottom: 10px;
}

.tabs-title>button {
    border: 1px solid var(--primary-color);
    font-size: 14px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    outline: none;
    padding: 5px 15px;
}

.tabs-title>button::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tablinks:hover {
    opacity: 1;
}

.tablinks {
    opacity: 0.8;
}

.tabs-title .line {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
}

.tabs-title .line::before {
    content: "";
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent var(--primary-color) transparent;
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.tablinks.active_tablink {
    opacity: 1;
    background-color: #ffb416;
    border: 1px solid #ffb416;
    color: #000;
}

.tabcontent {
    display: none;
    padding: 5px 10px;
    /* max-height: 400px; */
    border: 1px solid #ccc;
    /* overflow: hidden;
    overflow-y: scroll; */
}

.tabcontent>h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}

.tabcontent>p {
    font-size: 13px;
    text-align: justify;
}

.tabcontent.active_tabcontent {
    display: block;
}

.product-review-body {
    padding: 0 20px;
}

.product-review-body .heading {
    font-size: 15px;
    font-weight: 400;

}

.user-info-wrap>li {
    padding: 10px 0;
    position: relative;
    list-style: none;
}

.user-info-wrap>li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.user-info {
    display: flex;
}

.user-info>li {
    list-style: none;
}

.user-avatar>img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.user-comment {
    padding-left: 20px;
}

.rating-box>ul {
    display: flex;
}

.rating-box>ul>li {
    list-style: none;
}

.feedback-area>.heading {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Playfair Display';
}

.rating-box>span {
    font-size: 15px;
    padding-right: 20px;
}

.rating-box {
    display: flex;
}

.rating-box>ul>li>.icon-star-review {
    padding: 5px;
    font-size: 18px;

}

.rating-box>ul>li>.icon-star-review.active-star {
    color: #eb3e32;
    font-weight: bold;
}

.rating-box>ul>li>.icon-star-review:hover {
    cursor: pointer;
}

.group-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.form-field>input {
    padding: 5px 8px;
    width: 330px;
    outline: none;

}

.form-field>.pform {
    color: red;
    font-size: 11px;
    padding-left: 10px;
}

.form-field>textarea {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    outline: none;
}

.btn-send-review {
    outline: none;
    padding: 5px 15px;
    font-size: 15px;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    opacity: 0.8;
    margin-top: 20px;
}

.btn-send-review:hover {
    opacity: 1;
}

.product-tab {
  text-align: left;
}
</style>
