<template>
  <div class="" id="register__style_client">
    <div class="login">
          <div class="container">
              <div class="form-login">
                  <div class="left-col">
                    <div class="group-login">
                        <h4>Đăng ký tài khoản</h4>
                        <form action="" class="style__form-login-client" @keyup.enter="addCustomer()">
                            <label class="label__form-login-client__style" for="">Họ tên <span style="color: red; font-size: 20px;">*</span> </label>
                            <input class="input-name" type="text" v-model="customer.name" placeholder="Họ và tên" >
                            <p class="errorvalue"></p>
                            <label class="label__form-login-client__style" for="">Số điện thoại <span style="color: red; font-size: 20px;">*</span></label>
                            <input class="input-phone" type="text" v-model="customer.phone" placeholder="Số điện thoại">
                            <p class="errorvalue"></p>
                            <label class="label__form-login-client__style" for="">Email <span style="color: red; font-size: 20px;">*</span></label>
                            <input class="input-email" type="email" v-model="customer.email" placeholder="Email" >
                            <p class="errorvalue"></p>
                            <label class="label__form-login-client__style" for="">Mật khẩu <span style="color: red; font-size: 20px;">*</span></label>
                            <input class="input-pass" type="password" v-model="customer.password" placeholder="Mật khẩu">
                            <p class="errorvalue"></p>
                        </form>
                        <button type="text"  class="btn-register" @click="addCustomer()">Đăng ký</button>
                        <span class="selection-span">Hoặc đăng nhập bằng</span>
                        <div class="btn-face">
                          <a href=""><ion-icon name="logo-facebook" class="icon-facebook"></ion-icon> Facebook</a>
                        </div>
                        <div class="btn-google">
                          <a href=""><ion-icon name="logo-google" class="icon-google"></ion-icon> Google</a>

                        </div>
                    </div>
                  </div>
                  <div class="right-col">
                    <h4>Quyền lợi với thành viên</h4>
                    <span class="list-member">- Vận chuyển siêu tốc</span>
                    <span class="list-member">- Sản phẩm đa dạng</span>
                    <span class="list-member">- Đổi trả dễ dàng</span>
                    <span class="list-member">- Tích điểm đổi quà.</span>
                    <router-link to="/dang-nhap"  class="btn-registration">Đăng nhập</router-link>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import { ref  } from 'vue'
import axios from 'axios'
import { useRoute, useRouter } from 'vue-router'
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {

  setup(){
    const route = useRoute()
    const router = useRouter()
    const customer = ref({
      name: null,
      password: null,
      email: null,
      phone: null,
      sex: 0,
      age: 0,
      avatar: "undefined.jpg",
      address: ""
    })

    function addCustomer(){
      // Perform form validation
      if (!customer.value.name) {
        toast.error("Vui lòng nhập họ tên!", { autoClose: 2000 })
        return
      }
      const nameRegex = /^[^\d<>]+$/;
      if (!nameRegex.test(customer.value.name)) {
        toast.error("Họ tên không được chứa ký tự đặc biệt, số, hoặc dấu nháy!", { autoClose: 2000 });
        return;
      }

      if (!customer.value.phone) {
        toast.error("Vui lòng nhập số điện thoại!", { autoClose: 2000 })
        return
      } else if (!/^\d{10}$/.test(customer.value.phone)) {
        toast.error("Số điện thoại không hợp lệ!", { autoClose: 2000 })
        return
      }

      if (!customer.value.email) {
        toast.error("Vui lòng nhập email!", { autoClose: 2000 })
        return
      } else if (!/\S+@\S+\.\S+/.test(customer.value.email)) {
        toast.error("Email không hợp lệ!", { autoClose: 2000 })
        return
      }

      const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
      if (!passwordRegex.test(customer.value.password)) {
        toast.error("Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt!", { autoClose: 2000 });
        return;
      }

      if (!customer.value.password) {
        toast.error("Vui lòng nhập mật khẩu!", { autoClose: 2000 })
        return
      } else if (customer.value.password.length < 6) {
        toast.error("Mật khẩu phải chứa ít nhất 6 ký tự!", { autoClose: 2000 })
        return
      }
      axios.get("http://localhost:38448/api/KhachHang/GetByIdString/" + customer.value.email).then((response)=>{
        if(response.status == 200 && response.data != ""){
          toast.error("Email này đã tồn tại!", { autoClose: 1000 })
          return;
        }else {
          axios.post("http://localhost:38448/api/KhachHang/Store", customer.value).then((response)=>{
          console.log(response.data)
            toast.success("Đăng ký tài khoản thành công !", {
            autoClose: 1000,
          });
          router.push({ name: "LoginClient" })

        }).catch((error)=>{
            toast.error("Đăng ký tài khoản thất bại !", {
            autoClose: 1000,
          });
          console.log("Lỗi thêm mới khách hàng: "+error);
        })
        }
      })

      
    }
    
    return {
      customer,
      addCustomer
    }
  }
}
</script>

<style>

</style>