<template>
  <section>
      <div class="container">
        <div class="" style="padding: 30px 120px;">
            <div class="title__orderDetail-style">
                <h5>Chi tiết đơn hàng #<span style="color: #eb3e32;">MDH{{routeOrderID}}NC</span></h5>
                <p>Trạng thái thanh toán: <span class="status__order-style">Chưa thanh toán</span></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title__heading-style">
                        Địa chỉ giao hàng
                    </h4>
                    <div class="info__account div__style_info">
                        <p class="info_name">Tên người nhận: <span style="font-family: sans-serif; font-size: 15px; font-weight: 600;">{{ dataCustomer.name }}</span></p>
                        <p class="info_address">Địa chỉ: <span style="font-family: sans-serif;">{{ dataCustomer.address }}</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="title__heading-style">
                        Thanh toán
                    </h4>
                    <div class="div__style_info">
                        <p>Thanh toán khi giao hàng (COD)</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="title__heading-style">
                        Ghi chú
                    </h4>
                    <div class="div__style_info">
                        <p>Không có ghi chú</p>
                    </div>
                </div>
            </div>
            <div class="info__product-order">
                <div class="thead__info-product">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="text-align: left;">Sản phẩm</p>
                        </div>
                        <div class="col-md-2">
                            <p>Đơn giá</p>
                        </div>
                        <div class="col-md-2">
                            <p>Số lượng</p>
                        </div>
                        <div class="col-md-2">
                            <p>Thành tiền</p>
                        </div>
                    </div>
                </div>
                <div class="tbody__info-product">
                    <div class="row mt-1" v-for="item in dataListOrderDetail" :key="item">
                        <div class="col-md-6">
                            <div class="item__product-order-detail" style="text-align: left;">
                                <router-link :to="'/chi-tiet-san-pham/' + item.productID" class="link__chi-tiet"><img :src="`${urlImage}${url}` + item.image" alt="hình ảnh" width="80" height="80">    {{ item.productName }}</router-link>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item__product-order-detail">
                                <p style="text-align: right; padding-right: 30px;">{{ item.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item__product-order-detail">
                                <p>{{ item.quantity }}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="item__product-order-detail">
                                <p style="text-align: right; padding-right: 20px;">{{ (item.price * item.quantity).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info__pay">
                    <div class="mt-3" style="display: flex; justify-content: flex-end;">
                        <div class="" style="margin-right: 100px;">
                            <span>Khuyến mãi:  </span>
                        </div>
                        <div class="" style="width: 100px;">
                            <span>{{ parseInt(0).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                        </div>
                    </div>
                    <div class="mt-3" style="display: flex; justify-content: flex-end;">
                        <div class="" style="margin-right: 100px;">
                            <span>Phí vận chuyển:  </span>
                        </div>
                        <div class="" style="width: 100px;">
                            <span>{{ parseInt(40000).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                        </div>
                    </div>
                    <div class="mt-3" style="display: flex; justify-content: flex-end;">
                        <div class="" style="margin-right: 100px;">
                            <span>Tổng tiền:  </span>
                        </div>
                        <div class="" style="width: 100px;">
                            <span style="color: #eb3e32;">{{ (totalPrice + 40000).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref } from "vue";

const dataCustomer = ref({})
const dataListOrderDetail = ref({});
const routeOrderID = ref({});
const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
const totalPrice = ref(0);
onMounted(() => {
  getDataOrderDetail();
  getDataCustomer();
});

function getDataOrderDetail() {
  routeOrderID.value = sessionStorage.getItem("OrderIDRouter");
  axios
    .get(
      "http://localhost:38448/api/ChiTietDonHang/DanhSachOrderID/" +
        routeOrderID.value
    )
    .then((response) => {
      dataListOrderDetail.value = response.data;
      const imagePromises = dataListOrderDetail.value.map((item) =>
        getImageProduct(item.productID)
      );
      Promise.all(imagePromises).then((images) => {
        dataListOrderDetail.value.forEach((item, index) => {
          item.image = images[index];
          totalPrice.value += item.price * item.quantity;
        });
      });
    });
}

function getImageProduct(productID) {
  return axios
    .get("http://localhost:38448/api/SanPham/GetById/" + productID)
    .then((response) => {
      return response.data.image;
    });
}

function getDataCustomer(){
    if(localStorage.getItem("account") != null){
        axios.get("http://localhost:38448/api/KhachHang/GetById/" +JSON.parse(localStorage.getItem("account")).ID).then((response)=>{
            dataCustomer.value = response.data;
            console.log(dataCustomer.value);
        })
    }
}
</script>


<style scoped>
.title__orderDetail-style {
    text-align: left;

}
.title__orderDetail-style > h5 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.title__orderDetail-style > p {
    font-size: 13px;
}

span.status__order-style {
    color: #000;
    font-weight: 600;
    font-style: italic;
}

h4.title__heading-style {
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.div__style_info {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    height: 80px;
}

.div__style_info > p{
    font-family: sans-serif;
    padding: 5px;
    margin: 0px;
}

.info__product-order {
    margin: 20px 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.thead__info-product {
    border-bottom: 0.5px solid #ccc;
    padding-top: 5px;
    padding-left: 10px;
}

.item__product-order-detail {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    text-transform: capitalize;
}

.tbody__info-product {
    border-bottom: 0.5px solid #ccc;
    padding-top: 5px;
    padding-bottom: 10px;
} 

.info__pay {
    text-align: right;
    font-size: 15px;
    padding-right: 20px;
}

.link__chi-tiet {
    text-decoration: none;
    color: #000;
}

.link__chi-tiet:hover {
    color: #ebc118;
}
</style>