<template>
    <section>
        <ul class="breadcrumb">
            <li class="breadcrumb__item breadcrumb__item-firstChild">
                <a href="/admin" style="text-decoration: none; color: black">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title"> DashBoard </span>
                    </span>
                </a>
            </li>
            <li class="breadcrumb__item breadcrumb__item-firstChild">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title">Danh mục tin</span>
                </span>
            </li>
        </ul>
        <div class="m-1">
            <div class="col-lg-12 mb-4 shadow">
                <div class="card">
                    <div class="card-body text-start">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
                        </button>
                        <!-- Modal add category-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            <i class="fa-regular fa-list-ol" style="color: red"></i>
                                            Thêm mới danh mục tin
                                        </h5>
                                        <button type="button" id="btn__close-modal-add-category" class="btn-close"
                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <form action="">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="field__style">
                                                                <div class="label-field__style">
                                                                    <label for="">Tên danh mục</label>
                                                                </div>
                                                                <div class="input-field__style">
                                                                    <div class="icon__style-field_input">
                                                                        <i class="fa-regular fa-file-lines"></i>
                                                                    </div>
                                                                    <input type="text" v-model="postCateAdd.name"
                                                                        placeholder="Nhập tên danh mục" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="field__style">
                                                                <div class="label-field__style">
                                                                    <label for="">Tên danh mục seo</label>
                                                                </div>
                                                                <div class="input-field__style">
                                                                    <div class="icon__style-field_input">
                                                                        <i class="fa-regular fa-file-lines"></i>
                                                                    </div>
                                                                    <input type="text" v-model="postCateAdd.seoTitle"
                                                                        placeholder="Nhập tên không dấu viết liền" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="field__style">
                                                                <div class="label-field__style">
                                                                    <label for="">Trạng thái</label>
                                                                </div>
                                                                <div class="input-field__style">
                                                                    <div class="icon__style-field_input">
                                                                        <i
                                                                            class="fa-sharp fa-regular fa-shield-check"></i>
                                                                    </div>
                                                                    <select v-model="postCateAdd.status"
                                                                        class="form-select"
                                                                        aria-label="Default select example" name=""
                                                                        id="select__style-input">
                                                                        <option value="0">Công khai</option>
                                                                        <option value="1">Chưa công khai</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="field__style">
                                                                <div class="label-field__style">
                                                                    <label for="">Phân cấp</label>
                                                                </div>
                                                                <div class="input-field__style">
                                                                    <div class="icon__style-field_input">
                                                                        <i class="fa-regular fa-file-lines"></i>
                                                                    </div>
                                                                    <select v-model="postCateAdd.parentID"
                                                                        class="form-select"
                                                                        aria-label="Default select example" name=""
                                                                        id="select__style-input">
                                                                        <option selected value="0">
                                                                            Cấp cha
                                                                        </option>
                                                                        <option value="1">Cấp con</option>
                                                                        <option value="2">Cấp cháu</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="display: none">
                                                            <div class="field__style">
                                                                <div class="label-field__style">
                                                                    <label for="">Thời gian thêm</label>
                                                                </div>
                                                                <div class="input-field__style">
                                                                    <div class="icon__style-field_input">
                                                                        <i class="fa-regular fa-file-lines"></i>
                                                                    </div>
                                                                    <input type="date" v-model="postCateAdd.createdDate"
                                                                        placeholder="Nhập tên không dấu viết liền" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="display: none">
                                                            <div class="field__style">
                                                                <div class="label-field__style">
                                                                    <label for="">Thời gian cập nhật</label>
                                                                </div>
                                                                <div class="input-field__style">
                                                                    <div class="icon__style-field_input">
                                                                        <i class="fa-regular fa-file-lines"></i>
                                                                    </div>
                                                                    <input type="date" v-model="postCateAdd.updatedDate"
                                                                        placeholder="Nhập tên không dấu viết liền" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-3 text-end">
                                                            <button type="button" class="btn btn-secondary m-2"
                                                                data-bs-dismiss="modal">
                                                                Đóng
                                                            </button>
                                                            <button type="button" class="btn btn-success m-2"
                                                                @click="AddPostCate(new Date(), new Date())">
                                                                <i class="fa-regular fa-floppy-disk"></i> Thêm
                                                                mới
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table__style">
                <div class="col-lg-12 mb-4">
                    <div class="card" style="border: none">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="10px">STT</th>
                                        <th class="text-start">Tên danh mục</th>
                                        <th width="200px">Ngày tạo</th>
                                        <th width="200px">Trạng thái</th>
                                        <th width="200px">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(dmtin, index) in postCate" :key="index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td class="text-start">{{ dmtin.name }}</td>
                                        <td>
                                            {{
                          new Date(dmtin.createdDate).toLocaleDateString(
                            "vi-VN"
                          )
                        }}
                                        </td>
                                        <td v-if="dmtin.status == 0" class="text-start ps-3">
                                            <i class="fa-sharp fa-light fa-circle-dot" style="color: #27c431"></i>
                                            Công khai
                                        </td>
                                        <td v-if="dmtin.status == 1" class="text-start ps-3">
                                            <i class="fa-sharp fa-light fa-circle-dot" style="color: red"></i>
                                            Không công khai
                                        </td>
                                        <td>
                                            <div class="button__style-fuc">
                                                <div class="tool_tip_style_css">
                                                    <span class="tool_tip_text__style_css">Xem chi tiết</span>
                                                    <button class="btn btn-outline-info">
                                                        <i class="fa-light fa-eye-evil"></i>
                                                    </button>
                                                </div>
                                                <div class="tool_tip_style_css">
                                                    <span class="tool_tip_text__style_css">Chỉnh sửa</span>

                                                    <button class="btn btn-outline-warning"
                                                        @click="GetByIdPostCate(dmtin.catePostID)"
                                                        data-bs-toggle="modal"
                                                        :data-bs-target="'#postCateEdit' + dmtin.catePostID">
                                                        <i class="fa-light fa-marker"></i>
                                                    </button>
                                                    <!-- Modal edit category-->
                                                    <div v-if="postCateEdit" class="modal fade"
                                                        :id="'postCateEdit' + dmtin.catePostID" tabindex="-1"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        <i class="fa-light fa-pencil"
                                                                            style="color: #d31746"></i>
                                                                        Chỉnh sửa danh mục sản phẩm
                                                                    </h5>
                                                                    <button type="button"
                                                                        id="btn__close-modal-edit-category"
                                                                        class="btn-close" data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <form action="">
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="field__style">
                                                                                            <div
                                                                                                class="label-field__style">
                                                                                                <label for="">Tên danh
                                                                                                    mục</label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="input-field__style">
                                                                                                <div
                                                                                                    class="icon__style-field_input">
                                                                                                    <i
                                                                                                        class="fa-regular fa-file-lines"></i>
                                                                                                </div>
                                                                                                <input type="text"
                                                                                                    v-model="postCateEdit.name"
                                                                                                    placeholder="Nhập tên danh mục" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="field__style">
                                                                                            <div
                                                                                                class="label-field__style">
                                                                                                <label for="">Tên danh
                                                                                                    mục seo</label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="input-field__style">
                                                                                                <div
                                                                                                    class="icon__style-field_input">
                                                                                                    <i
                                                                                                        class="fa-regular fa-file-lines"></i>
                                                                                                </div>
                                                                                                <input type="text"
                                                                                                    v-model="
                                                      postCateEdit.seoTitle
                                                    " placeholder="Nhập tên không dấu viết liền" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="field__style">
                                                                                            <div
                                                                                                class="label-field__style">
                                                                                                <label for="">Trạng
                                                                                                    thái</label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="input-field__style">
                                                                                                <div
                                                                                                    class="icon__style-field_input">
                                                                                                    <i
                                                                                                        class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                                </div>
                                                                                                <select v-model="
                                                      postCateEdit.status
                                                    " class="form-select" aria-label="Default select example" name=""
                                                                                                    id="select__style-input">
                                                                                                    <option value="0">
                                                                                                        Công khai
                                                                                                    </option>
                                                                                                    <option value="1">
                                                                                                        Chưa công khai
                                                                                                    </option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="field__style">
                                                                                            <div
                                                                                                class="label-field__style">
                                                                                                <label for="">Phân
                                                                                                    cấp</label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="input-field__style">
                                                                                                <div
                                                                                                    class="icon__style-field_input">
                                                                                                    <i
                                                                                                        class="fa-regular fa-file-lines"></i>
                                                                                                </div>
                                                                                                <select v-model="
                                                      postCateEdit.parentID
                                                    " class="form-select" aria-label="Default select example" name=""
                                                                                                    id="select__style-input">
                                                                                                    <option value="0">
                                                                                                        Cấp cha
                                                                                                    </option>
                                                                                                    <option value="1">
                                                                                                        Cấp con
                                                                                                    </option>
                                                                                                    <option value="2">
                                                                                                        Cấp cháu
                                                                                                    </option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6"
                                                                                        style="display: none">
                                                                                        <div class="field__style">
                                                                                            <div
                                                                                                class="label-field__style">
                                                                                                <label for="">Thời gian
                                                                                                    thêm</label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="input-field__style">
                                                                                                <div
                                                                                                    class="icon__style-field_input">
                                                                                                    <i
                                                                                                        class="fa-regular fa-file-lines"></i>
                                                                                                </div>
                                                                                                <input type="date"
                                                                                                    v-model="
                                                      postCateEdit.createdDate
                                                    " placeholder="Nhập tên không dấu viết liền" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6"
                                                                                        style="display: none">
                                                                                        <div class="field__style">
                                                                                            <div
                                                                                                class="label-field__style">
                                                                                                <label for="">Thời gian
                                                                                                    cập nhật</label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="input-field__style">
                                                                                                <div
                                                                                                    class="icon__style-field_input">
                                                                                                    <i
                                                                                                        class="fa-regular fa-file-lines"></i>
                                                                                                </div>
                                                                                                <input type="date"
                                                                                                    v-model="
                                                      postCateEdit.updatedDate
                                                    " placeholder="Nhập tên không dấu viết liền" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="mt-3 text-end">
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary m-2"
                                                                                            data-bs-dismiss="modal">
                                                                                            Đóng
                                                                                        </button>
                                                                                        <button type="button"
                                                                                            class="btn btn-success m-2"
                                                                                            @click="
                                                  UpdatePostCate(
                                                    postCateEdit.catePostID,
                                                    new Date()
                                                  )
                                                ">
                                                                                            <i
                                                                                                class="fa-regular fa-floppy-disk"></i>
                                                                                            Cập nhật
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tool_tip_style_css">
                                                    <span class="tool_tip_text__style_css">Xóa</span>
                                                    <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                                        :data-bs-target="
                                '#deleteCategory' + dmtin.catePostID
                              ">
                                                        <i class="fa-light fa-trash-can"></i>
                                                    </button>
                                                    <div class="modal fade" :id="'deleteCategory' + dmtin.catePostID"
                                                        tabindex="-1" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        <i class="fa-regular fa-bell-on"
                                                                            style="color: #eacb06"></i>
                                                                        THÔNG BÁO
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>
                                                                        <i class="fa-regular fa-triangle-exclamation"
                                                                            style="color: #d51515"></i>
                                                                        Bạn có chắc chắn muốn xóa danh mục
                                                                        <strong>{{ dmtin.name }}</strong>
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        id="close__modal-delete-category-style"
                                                                        data-bs-dismiss="modal">
                                                                        <i class="fa-light fa-trash-can-xmark"
                                                                            style="color: #fcfcfc"></i>
                                                                        Hủy
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary"
                                                                        @click="DeletePostCate(dmtin.catePostID)">
                                                                        <i class="fa-sharp fa-regular fa-thumbs-up"
                                                                            style="color: #f2f3f1"></i>
                                                                        Xác nhận
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tool_tip_style_css">
                                                    <span class="tool_tip_text__style_css">Tin tức</span>
                                                    <router-link :to="'tin-tuc/' + dmtin.catePostID">
                                                        <button class="btn btn-outline-info" @click="nextComponent(dmtin.catePostID)">
                                                        <i class="fa-light fa-hand-point-right"></i>
                                                    </button>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import {useStore} from "../../../stores/index.js"
    import {
        onMounted,
        ref
    } from "vue";
    import axios from "axios";
    import {
    toast
} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
    export default {
        setup() {
            const store = useStore();
            const postCate = ref({});
            const postCateAdd = ref({
                name: null,
                status: 0,
                seoTitle: null,
                parentID: 0,
                createdDate: null,
                updatedDate: null,
            });
            const postCateEdit = ref({
                name: null,
                status: null,
                seoTitle: null,
                parentID: null,
                createdDate: null,
                updatedDate: null,
            });
            let editDialog = false;
            onMounted(() => {
                GetDataPostCate();
            });

            function GetDataPostCate() {
                axios
                    .get("http://localhost:38448/api/DanhMucTin/List")
                    .then((response) => {
                        postCate.value = response.data;
                    })
                    .catch((error) => {
                        console.log("Lỗi gọi danh sách dữ liệu danh mục tin: " + error);
                    });
            }

            function AddPostCate(createdDate, updatedDate) {
                postCateAdd.value.createdDate = createdDate;
                postCateAdd.value.updatedDate = updatedDate;
                if (!postCateAdd.value.name || postCateAdd.value.name.trim() === '') {
                    toast.error('Vui lòng nhập tên danh mục tin tức');
                    return;
                }

                const specialCharactersPattern = /[<>.?&^%$#@!~+]/;
                if (specialCharactersPattern.test(postCateAdd.value.name)) {
                    toast.error('Tên danh mục tin tức không được chứa ký tự đặc biệt');
                    return;
                }

                // Kiểm tra trường SEO title
                const seoTitlePattern = /^[a-zA-Z0-9-]+$/;
                if (postCateAdd.value.seoTitle && !seoTitlePattern.test(postCateAdd.value.seoTitle)) {
                    toast.error('SEO title không hợp lệ');
                    return;
                }
                axios
                    .post(
                        "http://localhost:38448/api/DanhMucTin/Store",
                        postCateAdd.value
                    )
                    .then(() => {
                        toast.success("Thêm mới danh mục tin tức thành công!")
                        location.reload();
                    })
                    .catch(() => {
                        toast.error("Xóa danh mục tin tức thất bại!")

                    });
            }

            function DeletePostCate(id) {
                axios
                    .delete("http://localhost:38448/api/DanhMucTin/Delete/" + id)
                    .then(() => {
                        toast.success("Xóa danh mục tin tức thành công!")
                        GetDataPostCate();
                        location.reload();
                    })
                    .catch(() => {
                        toast.error("Xóa danh mục tin tức thất bại!")
                    });
            }

            function GetByIdPostCate(id) {
                axios
                    .get("http://localhost:38448/api/DanhMucTin/GetById/" + id)
                    .then((response) => {
                        postCateEdit.value = response.data;
                    })
                    .catch((error) => {
                        console.log("Loi get by id category: " + error);
                    });
            }

            function UpdatePostCate(id, updatedDate) {
                postCateEdit.value.updatedDate = updatedDate;
                if (!postCateEdit.value.name || postCateEdit.value.name.trim() === '') {
                    toast.error('Vui lòng nhập tên danh mục tin tức');
                    return;
                }

                const specialCharactersPattern = /[<>.?&^%$#@!~+]/;
                if (specialCharactersPattern.test(postCateEdit.value.name)) {
                    toast.error('Tên danh mục tin tức không được chứa ký tự đặc biệt');
                    return;
                }

                // Kiểm tra trường SEO title
                const seoTitlePattern = /^[a-zA-Z0-9-]+$/;
                if (postCateEdit.value.seoTitle && !seoTitlePattern.test(postCateEdit.value.seoTitle)) {
                    toast.error('SEO title không hợp lệ');
                    return;
                }
                axios
                    .put(
                        "http://localhost:38448/api/DanhMucTin/Update/" + id,
                        postCateEdit.value
                    )
                    .then(() => {
                        toast.success("Cập nhật danh mục tin tức thành công!")
                        location.reload();
                    })
                    .catch(() => {
                        toast.error("Cập nhật danh mục tin tức thất bại!")
                    });
            }

            function nextComponent(id) {
                store.$state.CateID = id;
                localStorage.setItem("CatePostID", id)
            }
            return {
                postCate,
                postCateAdd,
                postCateEdit,
                editDialog,
                AddPostCate,
                DeletePostCate,
                GetByIdPostCate,
                UpdatePostCate,
                nextComponent
            };
        },
    };
</script>

<style>

</style>