

/* Top admin */

.header-top__style {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon__header-top {
    font-size: 22px;
    padding: 5px;
    margin: 10px;
    position: relative;
}

.icon__header-top:hover {
    cursor: pointer;
}

.count-notice-email,.count-notice-notification {
    position: absolute;
    top: 2px;
    right: -4px;
    padding: 1px 4px;
    color: #fff;
    background-color: #2c3e50;
    font-size: 12px;
    line-height: 12px;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
}
/* 
.count-notice-notification {
    position: absolute;
    top: 2px;
    right: -4px;
    padding: 1px 4px;
    color: #fff;
    background-color: #2c3e50;
    font-size: 12px;
    line-height: 12px;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
} */

.profile_content {
    position: relative;
    height: 100%;
    padding: 0 10px;
    margin-right: 30px;
}

.profile {
    height: 100%;
}

.profile_details {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_details > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profile_details:hover .project_info {
    display: block;
    cursor: pointer;
}

.project_info {
    height: auto;
    width: 130px;
    background: #fff;
    position: absolute;
    bottom: -60px;
    right: -20px;
    border-radius: 4px;
    font-size: 13px;
    display: none;
}

.project_info::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -16px;
    left: 0;
}

.project_info > .name, .project_info > .role {
    padding: 5px;
}

.project_info > .name:hover, .project_info > .role:hover  {
    background-color: #ccc;
}

/* End Top admin */

/* Category */

.button__style-fuc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table__style {
    height: calc(96vh - 200px); 
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 5px;
}

.label-field__style {
    text-align: left;
}

.label-field__style > label {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    padding: 5px;
}

.input-field__style {
    display: flex;
    align-items: center;
}

.icon__style-field_input i {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.input-field__style input{
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    outline: none;
}

.input-field__style #select__style-input {
    /* padding: 9px 10px; */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    outline: none;
}
/* End Category */