
.breadcrumb {
    margin-top: 16px;
}

.breadcrumb_style {
    display: flex;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 40px;
    transform: translateY(-50%);
    z-index: 1;
    justify-content: center;
    }
    
    
    .breadcrumb__item {
    height: 100%;
    background-color: white;
    color: #252525;
    font-family: 'Oswald', sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    margin: 5px 10px;
    padding: 5px 40px;
    cursor: pointer;
    }
    
    
    .breadcrumb__item:hover {
    background: #e7e7e7;
    color: #000;
    }
    
    
    .breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(21deg);  
    }
    
    .breadcrumb__title {
    font-size: 16px;
    text-overflow: ellipsis;  
    overflow: hidden;
    white-space: nowrap;  
    }