* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 76px;
    background: #fff;
    padding: 6px 14px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    z-index: 10;
}

.sidebar.active__style-side-bar {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #000;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.sidebar.active__style-side-bar .logo_content .logo {
    opacity: 1;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    
}

.sidebar #btn__style-side-bar {
    position: absolute;
    color: #000;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    transform: translateX(-50%);
}

.sidebar.active__style-side-bar #btn__style-side-bar {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
    height: 90%;
    overflow-x: hidden;
}

/* .sidebar ul:hover ~ .sidebar ul::-webkit-scrollbar-thumb {
    overflow: visible;
} */

.sidebar ul::-webkit-scrollbar {
    width: 7px;
    height: 30px;
    padding-right: 10px;
}

/* .sidebar ul::-webkit-scrollbar-thumb {
    overflow: hidden;
    border-radius: 12px;
    background-color: #0d6efd;
} */

.sidebar ul li {
    position: relative;
    list-style: none;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 5px;
}

.sidebar ul li input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1d31;
    padding-left: 50px;
    font-size: 18px;
    color: #000;
}

.sidebar ul li .bx-search-alt {
    position: absolute;
    z-index: 99;
    color: #000;
    font-size: 22px;
    transform: translateX(10px);
}

.sidebar.active__style-side-bar ul li .bx-search-alt {
    transform: unset;
}

.sidebar ul li a {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #ccc;
}

.a__style-side-bar.active-a__style-side-bar {
    color: #11101d;
    background: #ccc;
}

.sidebar ul li i {
    text-align: center;
    height: 50px;
    min-width: 50x;
    border-radius: 12px;
    line-height: 50px;
    margin-right: 20px;
    transform: translateX(80%);
}

.sidebar.sidebar.active__style-side-bar ul li i {
    transform: unset;
}

.sidebar .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active__style-side-bar .link_name {
    opacity: 1;
    pointer-events: auto;
}
/*  */

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 76px);
    left: 76px;
    transition: all 0.5s ease;
    background-color: #b5afaf5c;
}

.home_content .text {
    margin: 12px;
    font-size: 25px;
    color: #1d1d31;
}

.sidebar.active__style-side-bar ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}
