:root {
    --primary-color: #EB3E32;
	--text-color: #323C42;
	--font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

/* Header */


.app {
    /* overflow: hidden; */
}

/* Header */
.header {
    padding: 10px 0;
    height: 65px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

.logo {
    text-decoration: none;
    display: block;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.slogan {
    display: block;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.logo:hover {
    text-decoration: none;
    color: var(--primary-color);
    
}

.slogan:hover{
    text-decoration: none;
    color: #000;

}

.img-logo:hover {
    text-decoration: none;
    cursor: pointer;
}

.search-input {
    
    width: 330px;
    height:40px;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 5px 20px;

}

.btn-search {
    position: absolute;
    top: 30%;
    left: 90%;
    font-size: 20px;

}

.theme-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-search {
    position: relative;
}

.contact-phone p,.contact-account-header p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    display: inline-block;
    white-space: nowrap;
}

.contact-phone a {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 700;

}

.contact-account-header {
    text-align: left;
}

.contact-account-header a {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
}

.header .contact-phone {
    display: grid;
    padding-left: 50px;
    position: relative;
    top: 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    line-height: 20px;
    margin-left: 10px;
    background-image: url(//bizweb.dktcdn.net/100/429/689/themes/841362/assets/call.svg?1636425247473);
}

.header .contact-account-header {
    display: grid;
    padding-left: 50px;
    position: relative;
    top: 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    line-height: 20px;
    margin-left: 10px;
    background-image: url("//bizweb.dktcdn.net/100/429/689/themes/841362/assets/users.svg?1636425247473");
}

.group-account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.group-account li{
    list-style: none;
}

.group-account a {
    position: relative;
}


.icon__wishlist_header,.icon__icon_cart,.icon__icon-campare {
    font-size: 16px;
    color: #000;
    width: 25px;
    height: 25px;
}
.group-account .headerWishlistCount,.headerCartlistCount,.headerComparelistCount{
    position: absolute;
    left: 23px;
    font-size: 12px;
    background-color: var(--primary-color);
    font-weight: 600;
    width: 17px;
    height: 17px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

/* End Header */

/* Nav-Main */
.nav_main {
    height: 42px;
    background-color: var(--primary-color);
}

.title-menu {
    position: relative;
}

.list-menu-header {
    padding: 0;
    z-index: 100;
}

.title-menu:hover .list-menu-header {
    cursor: pointer;
    display: block;
}

.title-menu::after {
    content: "";
    height: 20px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}


.title-menu > a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 42px;
    padding-left: 30px;
    display: block;
}

.title-menu .menu-icon {
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 0;
}

.nav-header_linkPhone {
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/03/icon_Gach-24x24.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.nav-link_sanitary_equipment {
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/03/tbvs-24x24.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.nav_link__content_right1-size {
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/03/icon_kichthuoc-24x24.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
}

.nav_link__content_right1-space {
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/02/icon_khonggian-24x24.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
}


.list-menu-header {
    position: absolute;
    top: 42px;
    left: 0;
    display: none;
    width: 275px;
    min-height: 150px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nav-header_item {
    padding: 5px 0 5px 20px;
    list-style: none;
    width: 100%;
}

a.nav-header_link{
    font-size: 14px;
    text-decoration: none;
    color: #323c42;
    padding: 6px 35px 6px 40px;
    line-height: 24px;
    display: block;
    text-transform:capitalize;
}

.icon__nav-header_link {
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
    font-size: 15px;
}

.nav-header_item {
    position: relative;
    
}


.nav-header_item:hover {
    background-color: #fdaa00;
    cursor: pointer;
}

.nav-header_item:hover .sub-menu_1 {
    display: block;
}

.nav-header_item:hover .sub-menu_laptop{
    display: block;
}

.sub-menu_1 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 275px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.sub-menu_laptop {
    display: none;
    position: absolute;
    z-index: 1;
    top: -46px;
    left: 275px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.ul-content_right1 {
    height: auto;
    width: 1000px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    
}


.li-content_right1 {
    display: inline-block;
    list-style: none;
    padding: 15px 20px;
    margin-left: -12px;
}

.a-content_right1 {
    display: block;
    text-transform: uppercase;
    color: #323c42;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 5px 36px;
    text-decoration: none;
    
}

.li-content_right1:hover .a-content_right1{
    color: #fdaa00;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
}

.li-content_right2 {
    list-style: none;
    padding: 3px 20px;
}

.li-content_right2:hover{
    cursor: pointer;
    background-color: #dad3d38f;
}

.li-content_right2:hover .a-content_right2 {
    color: #000;
    text-decoration: underline;
}

.a-content_right2 {
    text-transform: capitalize;
    font-size: 14px;
    color: rgb(164, 156, 156);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}

.nav-link_computerComponents {
    background-image: url(//bizweb.dktcdn.net/thumb/icon/100/429/689/collections/icon2.png?v=1623549042517);
    background-repeat: no-repeat;
}

.nav-link_phoneComponents {
    background-repeat: no-repeat;
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/03/son-24x24.png);
}

.nav_header_linkLaptop {
    background-repeat: no-repeat;
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/03/icon_ngoimau-24x24.png);
}

.nav-link_glassBrick {
    background-repeat: no-repeat;
    background-image: url(https://dongtamshop.com/wp-content/uploads/2023/03/icon_glass-block-24x24.png);
}

/* bg-header-nav */
.header-nav_ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 42px;
}

.header-nav_item {
    list-style: none;
    display: inline-block;
    padding: 0 14px;
    position: relative;
    
}

.header-nav_item:hover {
    background-color: #fdaa00;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.active__tab {
    background-color: #fdaa00;

}

.header-nav_item:hover a.header-nav_link {
    color: #000;
    text-decoration: none;
}

.header-nav_item:hover .list-product {
    display: block;
}

.header-nav_link {
    /* padding: 0 10px 0 20px; */
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    display: block;
    
}

.list-product {
    z-index: 101;
    position: absolute;
    width: 250px;
    background-color: #fff;
    left: -10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   display: none;
}

.list-product>li {
    list-style: none;
}

.list-product>li>a {
    display: block;
    color: #323c42;
    padding: 0px 15px 0px 40px;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    background-color: #fff;
    font-weight: 500;
    text-align: left;
}

.list-product>li>a:hover {
    background-color: #fdaa00;
}

.product_img {
    width: inherit;
    height: 140px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

/* Footer */
.footer {
    background-color: rgb(41, 40, 40);
    margin-top: 20px;
    padding: 30px 0;
    margin-bottom: 0;
}

.heading-footer {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.text-footer {
    font-size: 15px;
    line-height: 8px;
    font-weight: 300;
    color: rgb(172, 170, 170);
}

.form_footer {
    display: flex;
}

.input-email_footer {
    width: 75%;
    padding: 5px 20px 5px 30px;
    outline: none;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 14px;
}

.btn_footer {
    font-size: 15px;
    color: #fff;
    border: none;
    width: 25%;
    display: inline-block;
    outline: none;
    background-color: var(--primary-color);
}

.name_footer-shop  {
    text-align: center;
    font-size: 12px;
    color: var(--primary-color);
}