.tool_tip_style_css {
    position: relative;
    display: inline-block;
  }
  
  .tool_tip_style_css .tool_tip_text__style_css {
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    background-color: #666;
    color: #ccc;
    text-align: center;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 2px;
    position: absolute;
    z-index: 4;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tool_tip_style_css .tool_tip_text__style_css::before {
    content: "";
    z-index: 2;
    border-width: 10px 16px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    bottom: -70%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tool_tip_style_css:hover .tool_tip_text__style_css {
    visibility: visible;
  }