#TOP-ADMIN-STYLE {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    /* background: rgb(34,34,7); */
    /* background: linear-gradient(76deg, rgba(34,34,7,1) 0%, rgba(200,196,138,0.8827906162464986) 0%, rgba(112,9,121,0.6615021008403361) 49%, rgba(204,204,204,0.5550595238095238) 80%); */
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}