<template>
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Chi tiết đơn hàng</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <div class="info__product-order">
                            <div class="thead__info-product">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p style="text-align: left;">Sản phẩm</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Đơn giá</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Số lượng</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Tổng tiền</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tbody__info-product">
                                <div class="row mt-1" v-for="item in dataListOrderDetail" :key="item">
                                    <div class="col-md-6">
                                        <div class="item__product-order-detail" style="text-align: left;">
                                            <img :src="`${urlImage}${url}` + item.image" alt="hình ảnh" width="80" height="80"> {{ item.productName }}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="item__product-order-detail">
                                            <p style="text-align: right; padding-right: 30px;">{{ item.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="item__product-order-detail">
                                            <p>{{ item.quantity }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="item__product-order-detail">
                                            <p style="text-align: right; padding-right: 20px;">{{ (item.price * item.quantity).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info__pay">
                                <div class="mt-3" style="display: flex; justify-content: flex-end;">
                                    <div class="" style="margin-right: 100px;">
                                        <span>Khuyến mãi: </span>
                                    </div>
                                    <div class="" style="width: 100px;">
                                        <span>{{ parseInt(0).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                                    </div>
                                </div>
                                <div class="mt-3" style="display: flex; justify-content: flex-end;">
                                    <div class="" style="margin-right: 100px;">
                                        <span>Phí vận chuyển: </span>
                                    </div>
                                    <div class="" style="width: 100px;">
                                        <span>{{ parseInt(40000).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                                    </div>
                                </div>
                                <div class="mt-3" style="display: flex; justify-content: flex-end;">
                                    <div class="" style="margin-right: 100px;">
                                        <span>Tổng tiền: </span>
                                    </div>
                                    <div class="" style="width: 100px;">
                                        <span style="color: #eb3e32;">{{ (totalPrice + 40000).toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="" style="text-align: right; padding-top: 30px; ">
                            <button class="btn btn-outline-secondary" @click="backComponent()"><i class="fa-regular fa-hand-point-left" style="color: #4475ca;"></i> Quay lại</button>
                            <button v-if="orderEdit.status == 0" class="btn btn-outline-success" style="margin-left: 10px;" @click="pheDuyetDonHang(routeOrderID)"><i class="fa-regular fa-thumbs-up" style="color: rgb(29, 215, 76);"></i> Phê duyệt</button>
                            <button v-if="orderEdit.status != 0" class="btn btn-outline-success" disabled style="margin-left: 10px;" @click="pheDuyetDonHang(routeOrderID)"><i class="fa-regular fa-thumbs-up" style="color: rgb(29, 215, 76);"></i> Phê duyệt</button>
                            <button type="button" v-if="orderEdit.status == 0" class="btn btn btn-outline-warning" style="margin-left: 10px;" @click="huyBoDonHang(routeOrderID)"><i class="fa-regular fa-thumbs-down" style="color: rgb(236, 39, 79);"></i> Hủy đơn</button>
                            <button type="button" v-if="orderEdit.status != 0" class="btn btn btn-outline-warning" style="margin-left: 10px;" disabled><i class="fa-regular fa-thumbs-down" style="color: rgb(236, 39, 79);"></i> Hủy đơn</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script setup>
import router from "@/router";
import axios from "axios";
import {
    onMounted,
    ref
} from "vue";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

const dataListOrderDetail = ref({});
const routeOrderID = ref({});
const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
const totalPrice = ref(0);
const orderEdit = ref({})
onMounted(() => {
    getDataOrderDetail();
});

function getDataOrderDetail() {
    routeOrderID.value = sessionStorage.getItem("OrderIDRouterAdmin");
    getByIDDonHang(routeOrderID.value)
    axios
        .get(
            "http://localhost:38448/api/ChiTietDonHang/DanhSachOrderID/" +
            routeOrderID.value
        )
        .then((response) => {
            dataListOrderDetail.value = response.data;
            const imagePromises = dataListOrderDetail.value.map((item) =>
                getImageProduct(item.productID)

            );
            Promise.all(imagePromises).then((images) => {
                dataListOrderDetail.value.forEach((item, index) => {
                    item.image = images[index];
                    totalPrice.value += item.price * item.quantity;
                });
            });
        });
}

function getImageProduct(productID) {
    return axios
        .get("http://localhost:38448/api/SanPham/GetById/" + productID)
        .then((response) => {
            return response.data.image;
        });
}

function backComponent(){
        router.push("/admin/don-hang")
    }

function getByIDDonHang(orderID){
axios.get("http://localhost:38448/api/DonHang/GetByID/" + orderID).then((response) => {
    orderEdit.value = response.data;
    console.log(orderEdit.value);
});
}

function pheDuyetDonHang(id) {
  orderEdit.value.status = 1;
  axios.put("http://localhost:38448/api/DonHang/Update/" + id, orderEdit.value).then((response) => {
    console.log(response.data);
    toast.success("Phê duyệt đơn hàng thành công!", {
        autoClose: 1000,
    });
  }).catch(()=>{
    toast.error("Lỗi phê duyệt đơn hàng!", {
        autoClose: 1000,
    });
  })
} // Thêm dấu đóng ngoặc nhọn để kết thúc hàm pheDuyetDonHang

function huyBoDonHang(id) {
  orderEdit.value.status = 2;
  axios.put("http://localhost:38448/api/DonHang/Update/" + id, orderEdit.value).then((response) => {
    console.log(response.data);
    toast.success("Phê duyệt đơn hàng thành công!", {
        autoClose: 1000,
    });
  }).catch(()=>{
    toast.error("Lỗi phê duyệt đơn hàng!", {
        autoClose: 1000,
    });
  });
}
</script>

<style scoped>
.info__product-order {
    margin: 20px 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.thead__info-product {
    border-bottom: 0.5px solid #ccc;
    padding-top: 5px;
    padding-left: 10px;
}

.item__product-order-detail {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    text-transform: capitalize;
}

.tbody__info-product {
    border-bottom: 0.5px solid #ccc;
    padding-top: 5px;
    padding-bottom: 10px;
}

.info__pay {
    text-align: right;
    font-size: 15px;
    padding-right: 20px;
}
</style>
