<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Danh sách khách hàng</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>STT</th>
                                  <th>Mã đơn hàng</th>
                                  <th>Ngày</th>
                                  <th>Giá trị đơn hàng</th>
                                  <th>Trạng thái</th>
                                  <th width="120px">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in listTotalOrder" :key="index">
                                  <td>{{ index + 1 }}</td>
                                  <td>
                                    <router-link :to="'chi-tiet-don-hang/' + item.orderID" @click="nextComponentRouter(item.orderID)">MDH{{ item.orderID }}DH</router-link>
                                  </td>
                                  <td>{{new Date(item.orderDate).toLocaleDateString("vi-VN") }}</td>
                                  <td v-if="item.totalPrice != undefined">{{ item.totalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</td>
                                  <td v-if="item.totalPrice == undefined">{{ item.totalPrice}}</td>
                                  <td v-if="item.status == 0"><i class="fa-solid fa-circle-dot" style="color: #b22ea7;"></i> Chưa xác nhận</td>
                                  <td v-if="item.status == 1"><i class="fa-solid fa-circle-dot" style="color: #2eb24f;"></i> Đã xác nhận</td>
                                  <td v-if="item.status == 2"><i class="fa-solid fa-circle-dot" style="color: #d52410;"></i> Bị hủy</td>
                                  <td>
                                    <div class="button__style-fuc">
                                      <div class="tool_tip_style_css">
                                        <span class="tool_tip_text__style_css">Phê duyệt</span>
                                        <button v-if="item.status == 0" class="btn btn-outline-success" data-bs-toggle="modal" :data-bs-target="'#approve' + item.orderID" @click="getByIDDonHang(item.orderID)">
                                          <i class="fa-regular fa-thumbs-up" style="color: #1dd74c;"></i>
                                        </button>
                                        <button v-if="item.status == 1" disabled class="btn btn-outline-success" data-bs-toggle="modal" :data-bs-target="'#approve' + item.orderID" @click="getByIDDonHang(item.orderID)">
                                          <i class="fa-regular fa-thumbs-up" style="color: #1dd74c;"></i>
                                        </button> 
                                        <button v-if="item.status == 2" disabled class="btn btn-outline-success" data-bs-toggle="modal" :data-bs-target="'#approve' + item.orderID" @click="getByIDDonHang(item.orderID)">
                                          <i class="fa-regular fa-thumbs-up" style="color: #1dd74c;"></i>
                                        </button>     
                                        <div class="modal fade" :id="'approve' + item.orderID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">
                                                          <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                          THÔNG BÁO PHÊ DUYỆT ĐƠN HÀNG
                                                      </h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <p>
                                                          <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                          Bạn có chắc chắn phê duyệt đơn hàng này: 
                                                          <strong>MDH{{ item.orderID }}DH</strong>
                                                      </p>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                          <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                          Hủy
                                                      </button>
                                                      <button type="button" class="btn btn-primary" @click="pheDuyetDonHang(item.orderID )">
                                                          <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                          Xác nhận
                                                      </button>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>                                             
                                    </div>
                                    <div class="tool_tip_style_css">
                                        <span class="tool_tip_text__style_css">Hủy đơn</span>
                                        <button v-if="item.status == 0" class="btn btn-outline-warning" data-bs-toggle="modal" :data-bs-target="'#cancelOrder' + item.orderID" @click="getByIDDonHang(item.orderID)">
                                          <i class="fa-regular fa-thumbs-down" style="color: #ec274f;"></i>
                                        </button>
                                        <button v-if="item.status == 1" disabled class="btn btn-outline-warning" data-bs-toggle="modal" :data-bs-target="'#cancelOrder' + item.orderID" @click="getByIDDonHang(item.orderID)">
                                          <i class="fa-regular fa-thumbs-down" style="color: #ec274f;"></i>
                                        </button>    
                                        <button v-if="item.status == 2" disabled class="btn btn-outline-warning" data-bs-toggle="modal" :data-bs-target="'#cancelOrder' + item.orderID" @click="getByIDDonHang(item.orderID)">
                                          <i class="fa-regular fa-thumbs-down" style="color: #ec274f;"></i>
                                        </button>    
                                        <div class="modal fade" :id="'cancelOrder' + item.orderID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">
                                                          <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                          THÔNG BÁO HỦY ĐƠN
                                                      </h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <p>
                                                          <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                          Bạn có chắc chắn hủy đơn hàng này: 
                                                          <strong>MDH{{ item.orderID }}DH</strong>
                                                      </p>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                          <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                          Hủy
                                                      </button>
                                                      <button type="button" class="btn btn-primary" @click="huyDonHang(item.orderID )">
                                                          <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                          Xác nhận
                                                      </button>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>                                              
                                    </div>
                                    </div>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script setup>
import { useStore } from "@/stores";
import axios from "axios";
import { onMounted, ref } from "vue";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
const orderData = ref({})
const totalOrder = ref({});
const listTotalOrder = ref({});
const orderEdit = ref({})
const store = useStore()

onMounted(()=>{
  getDataOrder()
})

function getDataOrder() {
  axios.get("http://localhost:38448/api/DonHang/List").then((response) => {
    orderData.value = response.data;
    getOrderDetail()
  });
}

function getOrderDetail() {
  axios.get("http://localhost:38448/api/ChiTietDonHang/List").then((response) => {
    const orderList = response.data;

    orderList.forEach((order) => {
      const orderID = order.orderID;
      const price = order.price;
      const quantity = order.quantity;

      if (orderID in totalOrder.value) {
        totalOrder.value[orderID] += price * quantity;
      } else {
        totalOrder.value[orderID] = price * quantity;
      }
    });

    mergeOrderDataAndTotalOrder();
  });
}

function mergeOrderDataAndTotalOrder() {
  listTotalOrder.value = [];

  orderData.value.forEach((order) => {
    const orderID = order.orderID;
    const totalPrice = totalOrder.value[orderID] || 0;

    const mergedOrder = {
      ...order,
      totalPrice: totalPrice
    };

    listTotalOrder.value.push(mergedOrder);
  });

  console.log(listTotalOrder.value);
}

function getByIDDonHang(orderID){
  axios.get("http://localhost:38448/api/DonHang/GetByID/" + orderID).then((response) => {
    orderEdit.value = response.data;
    console.log(orderEdit.value);
  });
}

function pheDuyetDonHang(id){
  orderEdit.value.status = 1
  store.$state.statusOrder.status = !store.$state.statusOrder.status
  axios.put("http://localhost:38448/api/DonHang/Update/" + id, orderEdit.value).then((response)=>{
    console.log(response.data);
    location.reload();
    toast.success("Phê duyệt đơn hàng thành công!", {
        autoClose: 1000,
    });
  }).catch(()=>{
    toast.error("Lỗi phê duyệt đơn hàng!", {
        autoClose: 1000,
    });
    location.reload();
  })
}

function huyDonHang(id){
  
  orderEdit.value.status = 2
  axios.put("http://localhost:38448/api/DonHang/Update/" + id, orderEdit.value).then((response)=>{
    console.log(response.data);
    toast.success("Phê duyệt đơn hàng thành công!", {
        autoClose: 1000,
    });
    store.$state.statusOrder.status = !store.$state.statusOrder.status
    location.reload();

  }).catch(()=>{
    toast.error("Lỗi phê duyệt đơn hàng!", {
        autoClose: 1000,
    });
    location.reload();

  })
}

function nextComponentRouter(orderID){
  if(sessionStorage.getItem("OrderIDRouterAdmin") != null){
    sessionStorage.removeItem("OrderIDRouterAdmin")
  }
  sessionStorage.setItem("OrderIDRouterAdmin", orderID)
}
</script>

<style>

</style>