<template>
<div>
    <section class="section_hot_product">
        <div class="container">
            <div class="heading_product">
                <h3 class="product_hot-index">Sản phẩm nổi bật</h3>
            </div>
            <div class="row">
                <div class="col-sm-2" v-for="(sanpham, index) in dataProduct" :key="index">
                    <!-- Chia hàng (row) thành 6 cột (col-sm-2) -->
                    <div class="card">
                        <!-- Hiển thị sản phẩm tại vị trí index -->
                        <div class="card-body">
                            <!-- <div class="percent-discount_product">Giảm <p class="number_discount_product">5</p>%</div> -->
                            <div class="favorite-product">
                                <ion-icon name="heart-outline" class="active_heart"></ion-icon>
                            </div>
                            <div class="img_height">
                                <img class="product_img" :src="`${urlImage}${url}` + sanpham.image" alt="">
                            </div>
                            <p class="card-text">{{ sanpham.name }}</p>
                            <div class="product_price">
                                <p class="card-number_cost">{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</p>
                                <p class="card-number_price">{{ sanpham.promotionPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }} </p>
                            </div>
                            <div class="btn_selection">
                                <button class="btn_product-add" @click="addProductCart(sanpham.productID,sanpham.image, sanpham.name, sanpham.promotionPrice)">
                                    <ion-icon name="cart-outline" class="icon_product-add"></ion-icon>
                                </button>
                                <router-link :to="{path: '/chi-tiet-san-pham/'+ sanpham.productID}" class="btn_product-view">Xem chi tiết </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
import axios from 'axios'
import {
    onMounted,
    ref
} from 'vue'
import {useStore} from "./../../../stores/index.js"
import { useRouter } from 'vue-router'
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    setup() {
        const dateNow = new Date()
        const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
        const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"
        const categoryShow = ref({})
        const dataProduct = ref({})
        const categoryProductList = ref({})
        const countNumberCart = ref(0)
        const dataCart = ref({})
        const sumPrice = ref(0)
        const addCart = ref({})
        const updateCart = ref({})
        const store = useStore();
        const router = useRouter()
        onMounted(() => {
            getData();
            GetDataCategory()
            checkCategoryOnShow()
            getDataCart()
        })

        function isHotProduct(hotDate) {
            const currentDate = new Date().toISOString().split('T')[0];
            return currentDate === hotDate.split('T')[0];
        }

        function GetDataCategory() {
            axios
                .get("http://localhost:38448/api/DanhMucSanPham/List")
                .then((response) => {
                    categoryProductList.value = response.data;
                })
                .catch((error) => {
                    console.log("Lỗi gọi danh sách dữ liệu danh muc: " + error);
                });
        }

        function getData() {
            axios.get("http://localhost:38448/api/SanPham/ListSanPhamTrangIndex").then((response) => {
                    dataProduct.value = response.data
                })
                .catch((error) => {
                    console.log("Lỗi gọi danh sách dữ liệu sản phẩm: " + error);
                });
        }

        function checkCategoryOnShow() {
            if (categoryProductList.value.status == 0) {
                categoryShow.value = categoryProductList.value.name;
                console.log(categoryShow.value);
            }
        }

        function getDataCart(){
        axios.get("http://localhost:38448/api/GioHang/List")
            .then((response) => {
                dataCart.value = response.data
                sumPrice.value = 0
                dataCart.value.forEach((item)=>{
                    sumPrice.value += parseInt(item.price) * parseInt(item.quantity);
                })
                console.log(sumPrice.value);
            })
    }

        function addProductCart(productID, image, productName, price) {
            if(localStorage.getItem('account') != null){
                showCartRight()
            axios.get("http://localhost:38448/api/GioHang/TimKiemAccountAndProduct/"+JSON.parse(localStorage.getItem('account')).ID + "/" + productID).then((response) => {
                if (response.data != "") {
                    let IDCart = 0;
                    response.data.forEach((item) => {
                        IDCart = item.cartID
                    })
                    updateCart.value = response.data[0];
                    updateCart.value.quantity += 1;
                    axios.put("http://localhost:38448/api/GioHang/Update/" + IDCart, updateCart.value).then(() => {
                        console.log("Update Thành Công");
                        getDataCart()
                        toast.success("Thêm sản phẩm vào giỏ hàng thành công", {
                                autoClose: 1000,
                            });
                store.$state.statusCart.status = !store.$state.statusCart.status;

                    })
                } else {
                    addCart.value.AccountID = JSON.parse(localStorage.getItem("account")).ID
                    addCart.value.Image = image;
                    addCart.value.ProductName = productName;
                    addCart.value.Quantity = 1;
                    addCart.value.Price = price;
                    addCart.value.ProductID = productID;
                    axios.post("http://localhost:38448/api/GioHang/Store", addCart.value)
                        .then((response) => {
                            console.log(response);
                            getDataCart()
                            store.$state.statusCart.status = !store.$state.statusCart.status
                            toast.success("Thêm sản phẩm vào giỏ hàng thành công", {
                                autoClose: 1000,
                            });
                        })
                        .catch((error) => {
                            console.log("Lỗi thêm mới sản phẩm vào giỏ hàng", +error);
                        })
                }
            })

            }else{
            toast.error("Bạn phải đăng nhập mới thêm được sản phẩm vào giỏ hàng!", {
                autoClose: 1000,
            });
                router.push("/dang-nhap")
            }
        }

        function showCartRight(){
            document.querySelector(".cart").style.right="0";
        }

        return {
            dateNow,
            urlImage,
            url,
            categoryShow,
            dataProduct,
            categoryProductList,
            getData,
            GetDataCategory,
            checkCategoryOnShow,
            countNumberCart,
            isHotProduct,
            addCart,
            updateCart,
            addProductCart,
        }
    }
}
</script>

<style scoped>
.btn_product-add {
    display: inline-block;
    /* width: 30%; */
    outline: none;
    border: none;
}

.heading_product {
    margin: 20px 0 30px;
    position: relative;
    text-align: left;
}

.product_hot-index {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline;
    background-color: var(--primary-color);
    padding: 10px;
    color: #fff;
    border-radius: 5px 5px 0 0;

}

.product_hot-index::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -9px;
    left: 0;
}

/* card product */

.col-sm-2 {
    padding-right: 5px;
}

.card {
    position: relative;
    margin-bottom: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card:hover .card-body {
    cursor: pointer;
}

.card:hover .icon_product-add {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    opacity: 1;

}

.card:hover .btn_product-view {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}

.card:hover .favorite-product {
    background-color: var(--primary-color);
}

.card-body {
    padding: 10px;
}

.percent-discount_product {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 212, 36, 0.9);
}

.number_discount_product {
    display: inline-block;
}

.percent-discount_product::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 20px;
    border-width: 0px 15px 20px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
}

.favorite-product {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    color: #fff;
}

.img_height {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.product_img {
    width: inherit;
    height: 140px;
    margin: 0;
    padding: 0;
    object-fit: contain;

}

.card-text {
    text-align: left;
    line-height: 15px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 5px 0;
}

.product_price {
    display: flex;
    justify-content: space-between;

}

.card-number_cost {
    font-size: 12px;
    text-decoration-line: line-through;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--primary-color);
}

.card-number_price {
    color: var(--primary-color);
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.btn_product-add {
    display: inline-block;
    /* width: 30%; */
    outline: none;
    border: none;
}

.btn_product-view {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 3px 15px;
    color: blue;
    text-decoration: none;
    color: #ccc;
}

.icon_product-add {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    padding: 3px 10px;
    display: block;
    border-radius: 5px;
    padding-top: 5px;
    background-color: var(--primary-color);
    opacity: 0.3;
}
</style>
