<template>
  <div class="select_slider">   
           <div class="container">
               <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                 <ol class="carousel-indicators">
                 <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                 <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                 <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block w-100 slide_img" src="https://dongtamshop.com/wp-content/uploads/2021/09/Ngoi-trang-men-2023-1.jpg" alt="First slide">
                 </div>
                 <div class="carousel-item">
                   <img class="d-block w-100 slide_img" src="https://dongtamshop.com/wp-content/uploads/2021/09/dongtamshop-keo-dan-gach-scaled.jpg" alt="Second slide">
                 </div>
                 <div class="carousel-item">
                   <img class="d-block w-100 slide_img" src="https://dongtamshop.com/wp-content/uploads/2021/09/BST-Langbiang_Dongtam1-1.jpg" alt="Third slide">
                 </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
             </div>
           </div> 
       </div>
</template>

<script>
export default {

}
</script>

<style>
.slide_img {
    width: 100%;
    height: 376px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
</style>