<template>
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Danh sách tin tức</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="col-lg-12 mb-4 shadow">
            <div class="card">
                <div class="card-body text-start">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
                    </button>
                    <!-- Modal add category-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <i class="fa-regular fa-list-ol" style="color: red"></i>
                                        Thêm mới tin tức
                                    </h5>
                                    <button type="button" id="btn__close-modal-add-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên tin tức</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="postNewAdd.name" placeholder="Nhập tên tin tức" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên tin tức seo</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="postNewAdd.seoTitle" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Ngày đăng tin</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="postNewAdd.hot" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Avatar tin</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="file" @change="onFileUpload()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Mô tả ngắn</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="postNewAdd.description" placeholder="Mô tả ngắn gọn" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Trạng thái</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="postNewAdd.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0">Công khai</option>
                                                                    <option value="1">Chưa công khai</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="field__style mt-2">
                                                            <ckeditor :editor="editor" v-model="postNewAdd.detail"></ckeditor>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian thêm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="postNewAdd.createdDate" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian cập nhật</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="postNewAdd.updatedDate" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-end">
                                                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button type="button" class="btn btn-success m-2" @click="AddNewPost('2023-06-01T08:40:52.58', '2023-06-01T08:40:52.58')">
                                                            <i class="fa-regular fa-floppy-disk"></i> Thêm mới
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10px">STT</th>
                                    <th class="text-start">Tên tin tức</th>
                                    <th width="200px">Ngày tạo</th>
                                    <th width="200px">Trạng thái</th>
                                    <th width="150px">Hình ảnh</th>
                                    <th width="200px">Ngày đăng tin</th>
                                    <th width="200px">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(tin, index) in post" :key="index">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td class="text-start">{{ tin.name }}</td>
                                    <!-- <td>
                      <div v-html="tin.detail"></div>                     
                    </td> -->
                                    <td>
                                        {{
                          new Date(tin.createdDate).toLocaleDateString(
                            "vi-VN"
                          )
                        }}
                                    </td>
                                    <td v-if="tin.status == 0" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: #27c431"></i>
                                        Công khai
                                    </td>
                                    <td v-if="tin.status == 1" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: red"></i>
                                        Không công khai
                                    </td>
                                    <td>
                                        <img style="width: 150px;" :src="`${urlImage}${url}`+tin.image" alt="">
                                    </td>
                                    <td>{{ new Date(tin.hot).toLocaleDateString("vi-VN") }}</td>
                                    <td>
                                        <div class="button__style-fuc">
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xem chi tiết</span>
                                                <button class="btn btn-outline-info">
                                                    <i class="fa-light fa-eye-evil"></i>
                                                </button>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Chỉnh sửa</span>

                                                <button class="btn btn-outline-warning" @click="GetByIdPostCate(tin.postID)" data-bs-toggle="modal" :data-bs-target="'#postEditData' + tin.postID">
                                                    <i class="fa-light fa-marker"></i>
                                                </button>
                                                <!-- Modal edit post-->
                                                <div v-if="postEditData" class="modal fade" :id="'postEditData' + tin.postID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-light fa-pencil" style="color: #d31746"></i>
                                                                    Chỉnh sửa tin tức
                                                                </h5>
                                                                <button type="button" id="btn__close-modal-edit-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <form action="">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Tên tin tức</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="postEditData.name" placeholder="Nhập tên tin tức" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Tên tin tức seo</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="postEditData.seoTitle" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Trạng
                                                                                                thái</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <select v-model="postEditData.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0">
                                                                                                    Công khai
                                                                                                </option>
                                                                                                <option value="1">
                                                                                                    Chưa công khai
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Ngày đăng tin</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="postEditData.hot" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Avatar tin</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="file" id="cap_nhat_input_avatar" @change="onFileUploadUpdate()"/>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Mô tả ngắn</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="postEditData.description" placeholder="Mô tả ngắn gọn" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="field__style mt-2">
                                                                                        <ckeditor :editor="editor" v-model="postEditData.detail"></ckeditor>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: none">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian
                                                                                                thêm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="postEditData.createdDate" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: none">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian
                                                                                                cập nhật</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="postEditData.updatedDate" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mt-3 text-end">
                                                                                    <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                                                        Đóng
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-success m-2" @click="CapNhatTinTuc(postEditData.postID)">
                                                                                        <i class="fa-regular fa-floppy-disk"></i>
                                                                                        Cập nhật
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xóa</span>
                                                <button class="btn btn-outline-danger" data-bs-toggle="modal" :data-bs-target="
                                '#deleteCategory' + tin.postID
                              ">
                                                    <i class="fa-light fa-trash-can"></i>
                                                </button>
                                                <div class="modal fade" :id="'deleteCategory' + tin.postID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                                    THÔNG BÁO
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                                    Bạn có chắc chắn muốn xóa danh mục
                                                                    <strong>{{ tin.name }}</strong>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                                    <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                                    Hủy
                                                                </button>
                                                                <button type="button" class="btn btn-primary" @click="deletePost(tin.postID)">
                                                                    <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                                    Xác nhận
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import {
    useStore
} from "../../../stores/index.js"
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import {
    onMounted,
    ref
} from 'vue'
import axios from 'axios'
import moment from 'moment';
import {
    toast
} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    setup() {
        const store = useStore();
        const editor = ref(ClassicEditor);
        const post = ref([])
        const postNewAdd = ref({
            name: '',
            seoTitle: "",
            status: 0,
            image: '',
            hot: null,
            description: null,
            detail: null,
            createdDate: null,
            updatedDate: null,
            cateID: 1,
        })
        const postEditData = ref({
            postID: 0,
            name: '',
            seoTitle: "",
            status: 0,
            image: null,
            hot: null,
            description: null,
            detail: null,
            createdDate: null,
            updatedDate: null,
            catePostID: 1,
        })
        const FILE = ref(null)
        const CateIDStore = ref({})
        const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
        const url = "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\tins\\"
        onMounted(() => {
            GetDataPost()
        })

        function GetDataPost() {
            CateIDStore.value = localStorage.getItem("CatePostID")
            console.log(CateIDStore.value);
            axios.get("http://localhost:38448/api/Tin/List")
                .then((response) => {
                    response.data.forEach(element => {
                        if (element.catePostID == CateIDStore.value) {
                            post.value.push(element);
                            console.log(post.value);
                        }
                    });
                })
                .catch((error) => {
                    console.log("Lỗi gọi danh sách dữ liệu tin: " + error);
                });
        }

        function AddNewPost(createdDate, updatedDate) {
            postNewAdd.value.createdDate = createdDate;
            postNewAdd.value.updatedDate = updatedDate;
            postNewAdd.value.catePostID = CateIDStore.value;
            var formData = new FormData();
            for (var key in postNewAdd.value) {
                console.log(key);
                formData.append(key, postNewAdd.value[key])
            }
            formData.append("fileUpload", postNewAdd.value.image)
            axios
                .post(
                    "http://localhost:38448/api/Tin/Store-image",
                    formData
                )
                .then(() => {
                    toast.success("Thêm mới tin tức thành công!")
                    location.reload();
                })
                .catch(() => {
                    toast.error("Thêm mới tin tức thất bại!")

                });
        }

        function onFileUpload() {
            postNewAdd.value.image = event.target.files[0];
        }

        function deletePost(id) {
            axios
                .delete("http://localhost:38448/api/Tin/Delete/" + id)
                .then(() => {
                    toast.success("Xóa tin tức thành công!")

                    location.reload();
                })
                .catch(() => {
                    toast.error("Xóa tin tức thất bại!")
                });
        }

        function GetByIdPostCate(id) {
            axios.get("http://localhost:38448/api/Tin/GetById/" + id)
                .then((response) => {
                    postEditData.value = response.data;
                    // postEditData.value = {
                    //     postID: responseData.postID,
                    //     name: responseData.name,
                    //     seoTitle: responseData.seoTitle,
                    //     status: responseData.status,
                    //     image: responseData.image,
                    //     hot: moment(responseData.hot).format("YYYY-MM-DD"),
                    //     description: responseData.description,
                    //     detail: responseData.detail,
                    //     createdDate: responseData.createdDate,
                    //     updatedDate: responseData.updatedDate,
                    //     catePostID: responseData.catePostID,
                    // };
                })
                .catch((error) => {
                    console.log("Lỗi getByID tin tức: " + error);
                });
        }

        function CapNhatTinTuc(id){
            let formData = new FormData();
            let fileInput = document.querySelector('#cap_nhat_input_avatar');
            if (fileInput.files.length > 0) {
                formData.append("fileUpload", postEditData.value.avatar);
            }else {
                formData.append("image", postEditData.value.avatar);
            }
            formData.append("name", postEditData.value.name);
            formData.append("seoTitle", postEditData.value.seoTitle);
            formData.append("status", postEditData.value.status);
            formData.append("hot", postEditData.value.hot);
            formData.append("description", postEditData.value.description);
            formData.append("detail", postEditData.value.detail);
            formData.append("catePostID", postEditData.value.catePostID);
            formData.append("createdDate", postEditData.value.createdDate);
            formData.append("updatedDate", '2023-06-01T08:40:52.58');
            
            axios.put("http://localhost:38448/api/Tin/Update/" + id, formData)
            .then(()=>{
                toast.success("Cập nhật tin tức thành công!")
            })
            .catch(()=>{
                toast.error("Cập nhật tin tức thất bại!")

            })
        }

        function onFileUploadUpdate() {
        console.log(event.target.files[0]);
        postEditData.value.avatar = event.target.files[0];
      }
        return {
            post,
            postNewAdd,
            postEditData,
            editor,
            FILE,
            urlImage,
            url,
            GetDataPost,
            AddNewPost,
            onFileUpload,
            deletePost,
            GetByIdPostCate,
            CapNhatTinTuc,
            onFileUploadUpdate
        }
    }
}
</script>

<style>

</style>
