<template>
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Danh sách sản phẩm</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="col-lg-12 mb-4 shadow">
            <div class="card">
                <div class="card-body text-start">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-sharp fa-regular fa-octagon-plus"></i> Thêm mới
                    </button>
                    <!-- Modal add category-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <i class="fa-regular fa-list-ol" style="color: red"></i>
                                        Thêm mới sản phẩm
                                    </h5>
                                    <button type="button" id="btn__close-modal-add-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên sản phẩm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="addProduct.name" placeholder="Nhập tên sản phẩm" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Tên sản phẩm seo</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="addProduct.seoTitle" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Giá sản phẩm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="text" v-model="addProduct.price" placeholder="Nhập giá sản phẩm" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Giá khuyến mãi</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="number" v-model="addProduct.promotionPrice" placeholder="Giá khuyến mãi" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Số lượng sản phẩm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="number" v-model="addProduct.quantity" placeholder="Số sản phẩm trong kho" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Bảo hành (tháng)</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="number" v-model="addProduct.warranty" placeholder="Thời gian bảo hành" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian đăng</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="addProduct.hot" placeholder="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Trạng thái</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="addProduct.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0">Công khai</option>
                                                                    <option value="1">Chưa công khai</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Danh mục sản phẩm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="addProduct.cateID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0" selected>--Chọn danh mục --
                                                                    </option>
                                                                    <option v-for="item in categoryProductList" :key="item" :value="item.cateID">
                                                                        {{ item.name }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Hãng sản phẩm</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="addProduct.brandID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0">-- Chọn hãng sản phẩm</option>
                                                                    <option v-for="item in brandProductList" :key="item" :value="item.brandID">{{ item.name }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Nhà cung cấp</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <select v-model="addProduct.supplierID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                    <option value="0">-- Chọn hãng sản phẩm</option>
                                                                    <option v-for="item in supplierList" :key="item" :value="item.supplierID">{{ item.name }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Mô tả ngắn</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <textarea type="date" v-model="addProduct.description" placeholder="Mô tả ngắn" style="width: 100%;outline: none;border: 1px solid #ccc;border-radius: 5px;margin: 0 6px;height: 38px;padding: 5px;">
                                                                    </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Ảnh chính</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                </div>
                                                                <input multiple type="file" @change="onFileUpload()" placeholder="Số sản phẩm trong kho" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="">
                                                            <div class="label-field__style">
                                                                <label for="">Mô tả chi tiết</label>
                                                                <ckeditor :editor="editor" v-model="addProduct.detail"></ckeditor>
                                                            </div>
                                                            <div class="input-field__style">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian thêm mới</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="addProduct.createDate" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="display: none">
                                                        <div class="field__style">
                                                            <div class="label-field__style">
                                                                <label for="">Thời gian cập nhật</label>
                                                            </div>
                                                            <div class="input-field__style">
                                                                <div class="icon__style-field_input">
                                                                    <i class="fa-regular fa-file-lines"></i>
                                                                </div>
                                                                <input type="date" v-model="addProduct.updateDate" placeholder="Nhập tên không dấu viết liền" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-end">
                                                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button type="button" class="btn btn-success m-2" @click="AddProductNew(new Date().toISOString(), new Date().toISOString())">
                                                            <i class="fa-regular fa-floppy-disk"></i> Thêm
                                                            mới
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10px">STT</th>
                                    <th class="text-start">Tên sản phẩm</th>
                                    <th width="100px">Hình ảnh</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày chỉnh sửa</th>
                                    <th>Giá</th>
                                    <th width="170px">Trạng thái</th>
                                    <th width="200px">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(sanpham, index) in product" :key="index">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td class="text-start">{{ sanpham.name }}</td>
                                    <td>
                                        <img style="width: 100px; height: 100px; object-fit: cover" :src="`${urlImage}${url}` + sanpham.image" alt="">
                                    </td>
                                    <td>
                                        {{new Date(sanpham.createDate).toLocaleDateString("vi-VN")}}
                                    </td>
                                    <td>
                                        {{new Date(sanpham.updateDate).toLocaleDateString("vi-VN")}}
                                    </td>
                                    <td>{{ sanpham.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}
                                    </td>
                                    <td v-if="sanpham.status == 0" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: #27c431"></i>
                                        Công khai
                                    </td>
                                    <td v-if="sanpham.status == 1" class="text-start ps-3">
                                        <i class="fa-sharp fa-light fa-circle-dot" style="color: red"></i>
                                        Không công khai
                                    </td>
                                    <td>
                                        <div class="button__style-fuc">
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xem chi tiết</span>
                                                <router-link :to="'san-pham-chi-tiet/' + sanpham.productID">
                                                    <button class="btn btn-outline-info">
                                                        <i class="fa-light fa-eye-evil"></i>
                                                    </button>
                                                </router-link>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Chỉnh sửa</span>

                                                <button class="btn btn-outline-warning" @click="GetByIdProduct(sanpham.productID)" data-bs-toggle="modal" :data-bs-target="'#editProduct' + sanpham.productID">
                                                    <i class="fa-light fa-marker"></i>
                                                </button>
                                                <div class="modal fade" :id="'editProduct' + sanpham.productID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-regular fa-list-ol" style="color: red"></i>
                                                                    Thêm mới sản phẩm
                                                                </h5>
                                                                <button type="button" id="btn__close-modal-add-category" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <form action="">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Tên sản phẩm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="editProduct.name" placeholder="Nhập tên sản phẩm" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Tên sản phẩm seo</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="editProduct.seoTitle" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Giá sản phẩm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="text" v-model="editProduct.price" placeholder="Nhập giá sản phẩm" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Giá khuyến mãi</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="number" v-model="editProduct.promotionPrice" placeholder="Giá khuyến mãi" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Số lượng sản phẩm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="number" v-model="editProduct.quantity" placeholder="Số sản phẩm trong kho" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Bảo hành (tháng)</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="number" v-model="editProduct.warranty" placeholder="Thời gian bảo hành" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian đăng</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="editProduct.hot" placeholder="" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Trạng thái</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <select v-model="editProduct.status" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0">Công khai</option>
                                                                                                <option value="1">Chưa công khai</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Danh mục sản phẩm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <select v-model="editProduct.cateID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0" selected>--Chọn danh mục --
                                                                                                </option>
                                                                                                <option v-for="item in categoryProductList" :key="item" :value="item.cateID">
                                                                                                    {{ item.name }}</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Hãng sản phẩm</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <select v-model="editProduct.brandID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0">-- Chọn hãng sản phẩm</option>
                                                                                                <option v-for="item in brandProductList" :key="item" :value="item.brandID">{{ item.name }}</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Nhà cung cấp</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <select v-model="editProduct.supplierID" class="form-select" aria-label="Default select example" name="" id="select__style-input">
                                                                                                <option value="0">-- Chọn hãng sản phẩm</option>
                                                                                                <option v-for="item in supplierList" :key="item" :value="item.supplierID">{{ item.name }}</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Mô tả ngắn</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <textarea type="date" v-model="editProduct.description" placeholder="Mô tả ngắn" style="width: 100%;outline: none;border: 1px solid #ccc;border-radius: 5px;margin: 0 6px;height: 38px;padding: 5px;">
                                                                                                </textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Ảnh chính</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-sharp fa-regular fa-shield-check"></i>
                                                                                            </div>
                                                                                            <input multiple type="file" id="input_update_hinh_anh" @change="capNhatHinhAnh()" placeholder="Số sản phẩm trong kho" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Mô tả chi tiết</label>
                                                                                            <ckeditor :editor="editor" v-model="editProduct.detail"></ckeditor>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: none">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian thêm mới</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="editProduct.createDate" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: none">
                                                                                    <div class="field__style">
                                                                                        <div class="label-field__style">
                                                                                            <label for="">Thời gian cập nhật</label>
                                                                                        </div>
                                                                                        <div class="input-field__style">
                                                                                            <div class="icon__style-field_input">
                                                                                                <i class="fa-regular fa-file-lines"></i>
                                                                                            </div>
                                                                                            <input type="date" v-model="editProduct.updateDate" placeholder="Nhập tên không dấu viết liền" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mt-3 text-end">
                                                                                    <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                                                                                        Đóng
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-success m-2" @click="UpdateProduct(editProduct.productID, new Date().toISOString())">
                                                                                        <i class="fa-regular fa-floppy-disk"></i> Cập nhật
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tool_tip_style_css">
                                                <span class="tool_tip_text__style_css">Xóa</span>
                                                <button class="btn btn-outline-danger" data-bs-toggle="modal" :data-bs-target="'#delete' + sanpham.productID">
                                                    <i class="fa-light fa-trash-can"></i>
                                                </button>
                                                <div class="modal fade" :id="'delete' + sanpham.productID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    <i class="fa-regular fa-bell-on" style="color: #eacb06"></i>
                                                                    THÔNG BÁO
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    <i class="fa-regular fa-triangle-exclamation" style="color: #d51515"></i>
                                                                    Bạn có chắc chắn muốn xóa sản phẩm
                                                                    <strong>{{ sanpham.name }}</strong>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" id="close__modal-delete-category-style" data-bs-dismiss="modal">
                                                                    <i class="fa-light fa-trash-can-xmark" style="color: #fcfcfc"></i>
                                                                    Hủy
                                                                </button>
                                                                <button type="button" class="btn btn-primary" @click="DeleteProduct(sanpham.productID)">
                                                                    <i class="fa-sharp fa-regular fa-thumbs-up" style="color: #f2f3f1"></i>
                                                                    Xác nhận
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script setup>
import {
    onMounted,
    ref
} from 'vue';
import axios from "axios";
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
const editor = ref(ClassicEditor);
const product = ref({});
const addProduct = ref({
    name: null,
    seoTitle: null,
    status: 0,
    image: null,
    listImages: "rỗng",
    price: null,
    promotionPrice: 0,
    quantity: 0,
    warranty: 0,
    hot: null,
    description: null,
    detail: null,
    createDate: null,
    updateDate: null,
    cateID: 0,
    brandID: 0,
    supplierID: 0
})
const editProduct = ref({
    name: null,
    seoTitle: null,
    status: 0,
    image: null,
    listImages: [],
    price: 0,
    promotionPrice: 0,
    quantity: 0,
    warranty: 0,
    hot: null,
    description: null,
    detail: null,
    createDate: null,
    updateDate: null,
    cateID: 0,
    brandID: 0,
    supplierID: 0
})
const categoryProductList = ref({})
const brandProductList = ref({})
const supplierList = ref({})
const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=");
const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\";
onMounted(() => {
    GetDataProduct()
    GetDataCategory()
    GetDataBrand()
    GetDataSupplier()
})

function GetDataCategory() {
    axios
    .get("http://localhost:38448/api/DanhMucSanPham/List")
    .then((response) => {
        categoryProductList.value = response.data;
        console.log(response.data.cateID);
    })
    .catch((error) => {
        console.log("Lỗi gọi danh sách dữ liệu danh muc: " + error);
    });
}

function GetDataBrand() {
    axios
    .get("http://localhost:38448/api/HangSanPham/List")
    .then((response) => {
        brandProductList.value = response.data;
    })
    .catch((error) => {
        console.log("Lỗi gọi danh sách dữ liệu hãng sản phẩm: " + error);
    });
}

function GetDataSupplier() {
    axios
    .get("http://localhost:38448/api/NhaCungCap/List")
    .then((response) => {
        supplierList.value = response.data;
    })
    .catch((error) => {
        console.log("Lỗi gọi danh sách nhà cung cấp: " + error);
    });
}

function GetDataProduct() {
    axios
    .get("http://localhost:38448/api/SanPham/List")
    .then((response) => {
        product.value = response.data;
        console.log(product.value);
    })
    .catch((error) => {
        console.log("Lỗi gọi danh sách dữ liệu sản phẩm: " + error);
    });
}

function AddProductNew(createDate, updateDate) {
    addProduct.value.createDate = createDate;
    addProduct.value.updateDate = updateDate;
    if (!addProduct.value.name || addProduct.value.name.trim() === '') {
    toast.error('Vui lòng nhập tên sản phẩm');
    return;
  }

  const specialCharactersPattern = /[<>.?&^%$#@!~+]/;
  if (specialCharactersPattern.test(addProduct.value.name)) {
    toast.error('Tên sản phẩm không được chứa ký tự đặc biệt');
    return;
  }

  // Kiểm tra trường giá sản phẩm
  if (!addProduct.value.price || isNaN(addProduct.value.price) || addProduct.value.price <= 0) {
    toast.error('Vui lòng nhập giá sản phẩm hợp lệ');
    return;
  }

  // Kiểm tra trường số lượng sản phẩm
  if (!addProduct.value.quantity || isNaN(addProduct.value.quantity) || addProduct.value.quantity <= 0) {
    toast.error('Vui lòng nhập số lượng sản phẩm hợp lệ');
    return;
  }

  // Kiểm tra trường danh mục sản phẩm
  if (!addProduct.value.cateID || isNaN(addProduct.value.cateID) || addProduct.value.cateID <= 0) {
    toast.error('Vui lòng chọn danh mục sản phẩm');
    return;
  }

  // Kiểm tra trường hãng sản phẩm
  if (!addProduct.value.brandID || isNaN(addProduct.value.brandID) || addProduct.value.brandID <= 0) {
    toast.error('Vui lòng chọn hãng sản phẩm');
    return;
  }

  // Kiểm tra trường nhà cung cấp
  if (!addProduct.value.supplierID || isNaN(addProduct.value.supplierID) || addProduct.value.supplierID <= 0) {
    toast.error('Vui lòng chọn nhà cung cấp');
    return;
  }

  // Kiểm tra trường hình ảnh sản phẩm
  if (!addProduct.value.image) {
    toast.error('Vui lòng chọn hình ảnh sản phẩm');
    return;
  }

  // Kiểm tra trường SEO title
  const seoTitlePattern = /^[a-zA-Z0-9-]+$/;
  if (addProduct.value.seoTitle && !seoTitlePattern.test(addProduct.value.seoTitle)) {
    toast.error('SEO title không hợp lệ');
    return;
  }

  // Kiểm tra trường mô tả sản phẩm
  if (!addProduct.value.description || addProduct.value.description.trim() === '') {
    toast.error('Vui lòng nhập mô tả sản phẩm');
    return;
  }

  // Kiểm tra trường chi tiết sản phẩm
  if (!addProduct.value.detail || addProduct.value.detail.trim() === '') {
    toast.error('Vui lòng nhập chi tiết sản phẩm');
    return;
  }
  
  if (addProduct.value.price === null || addProduct.value.price < 0) {
    toast.error('Giá sản phẩm không được nhập số âm')
    return
  }

  if (addProduct.value.quantity === null || addProduct.value.quantity < 0) {
    toast.error('Số lượng sản phẩm không được nhập số âm')
    return
  }

  if (addProduct.value.promotionPrice === null || addProduct.value.promotionPrice < 0) {
    toast.error('Số lượng sản phẩm không được nhập số âm')
    return
  }

  if (addProduct.value.warranty === null || addProduct.value.warranty < 0) {
    toast.error('Thời gian bảo hành không được nhập số âm')
    return
  }

    var formData = new FormData();
    for(var key in addProduct.value){
        formData.append(key, addProduct.value[key])
    }
    formData.append("fileUpload", addProduct.value.image)
    axios
    .post(
        "http://localhost:38448/api/SanPham/Store-image", 
        formData
    )
    .then(() => {
        toast.success("Thêm mới sản phẩm thành công!", {
            autoClose: 1000,
        });
        GetDataProduct();
        location.reload();
    })
    .catch(() => {
        toast.error("Thêm mới sản phẩm thất bại!", {
            autoClose: 1000,
        });
    });
}

function onFileUpload(){
    addProduct.value.image =  event.target.files[0];
}

function capNhatHinhAnh(){
    editProduct.value.image =  event.target.files[0];
}

function GetByIdProduct(id){
    axios.get("http://localhost:38448/api/SanPham/GetByID/"+ id).then((response)=>{
        editProduct.value = response.data
    })
}

function UpdateProduct(productID, updateDate){
    editProduct.value.updateDate = updateDate;
    if (!editProduct.value.name || editProduct.value.name.trim() === '') {
    toast.error('Vui lòng nhập tên sản phẩm');
    return;
  }

  const specialCharactersPattern = /[<>.?&^%$#@!~+]/;
  if (specialCharactersPattern.test(editProduct.value.name)) {
    toast.error('Tên sản phẩm không được chứa ký tự đặc biệt');
    return;
  }

  // Kiểm tra trường giá sản phẩm
  if (!editProduct.value.price || isNaN(editProduct.value.price) || editProduct.value.price <= 0) {
    toast.error('Vui lòng nhập giá sản phẩm hợp lệ');
    return;
  }

  // Kiểm tra trường số lượng sản phẩm
  if (!editProduct.value.quantity || isNaN(editProduct.value.quantity) || editProduct.value.quantity <= 0) {
    toast.error('Vui lòng nhập số lượng sản phẩm hợp lệ');
    return;
  }

  // Kiểm tra trường danh mục sản phẩm
  if (!editProduct.value.cateID || isNaN(editProduct.value.cateID) || editProduct.value.cateID <= 0) {
    toast.error('Vui lòng chọn danh mục sản phẩm');
    return;
  }

  // Kiểm tra trường hãng sản phẩm
  if (!editProduct.value.brandID || isNaN(editProduct.value.brandID) || editProduct.value.brandID <= 0) {
    toast.error('Vui lòng chọn hãng sản phẩm');
    return;
  }

  // Kiểm tra trường nhà cung cấp
  if (!editProduct.value.supplierID || isNaN(editProduct.value.supplierID) || editProduct.value.supplierID <= 0) {
    toast.error('Vui lòng chọn nhà cung cấp');
    return;
  }

  // Kiểm tra trường hình ảnh sản phẩm
  if (!editProduct.value.image) {
    toast.error('Vui lòng chọn hình ảnh sản phẩm');
    return;
  }

  // Kiểm tra trường SEO title
  const seoTitlePattern = /^[a-zA-Z0-9-]+$/;
  if (editProduct.value.seoTitle && !seoTitlePattern.test(editProduct.value.seoTitle)) {
    toast.error('SEO title không hợp lệ');
    return;
  }

  // Kiểm tra trường mô tả sản phẩm
  if (!editProduct.value.description || editProduct.value.description.trim() === '') {
    toast.error('Vui lòng nhập mô tả sản phẩm');
    return;
  }

  // Kiểm tra trường chi tiết sản phẩm
  if (!editProduct.value.detail || editProduct.value.detail.trim() === '') {
    toast.error('Vui lòng nhập chi tiết sản phẩm');
    return;
  }
  
  if (editProduct.value.price === null || editProduct.value.price < 0) {
    toast.error('Giá sản phẩm không được nhập số âm')
    return
  }

  if (editProduct.value.quantity === null || editProduct.value.quantity < 0) {
    toast.error('Số lượng sản phẩm không được nhập số âm')
    return
  }

  if (editProduct.value.promotionPrice === null || editProduct.value.promotionPrice < 0) {
    toast.error('Số lượng sản phẩm không được nhập số âm')
    return
  }

  if (editProduct.value.warranty === null || editProduct.value.warranty < 0) {
    toast.error('Thời gian bảo hành không được nhập số âm')
    return
  }
    let formData = new FormData();
    formData.append('updateDate', updateDate);
    let fileInput = document.getElementById("input_update_hinh_anh");
    
    if(fileInput.files.length > 0){
        formData.append("fileUpload", editProduct.value.image)
    }else{
        formData.append("image", editProduct.value.image)
    }
    for(var key in addProduct.value){
        formData.append(key, editProduct.value[key])
    }
    axios.put("http://localhost:38448/api/SanPham/Update/"+ productID, formData).then(()=>{
        toast.success("Cập nhật sản phẩm thành công!", {
            autoClose: 1000,
        });
        location.reload();
    }).catch(()=>{
        toast.error("Cập nhật sản phẩm thất bại!", {
            autoClose: 1000,
        });
    })
}

function DeleteProduct(id){
    axios.delete("http://localhost:38448/api/SanPham/Delete/"  + id).then(()=>{
        toast.success("Xóa sản phẩm thành công!", {
            autoClose: 1000,
        });
        location.reload();
    }).catch(()=>{
        toast.error("Xóa sản phẩm thất bại!", {
            autoClose: 1000,
        });
    })
}
</script>

<style>
@import url("../../../assets/css/style.breadcrumb.css");
</style>
