<template>
  <section>
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <a href="/admin" style="text-decoration: none; color: black">
                <span class="breadcrumb__inner">
                    <span class="breadcrumb__title"> DashBoard </span>
                </span>
            </a>
        </li>
        <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Thông tin sản phẩm</span>
            </span>
        </li>
    </ul>
    <div class="m-1">
        <div class="table__style">
            <div class="col-lg-12 mb-4">
                <div class="card" style="border: none">
                    <div class="card-body">
                        <div class="info__customer pt-3">
                        <div class="row">
                          <div class="col-md-5">
                            <img v-if="dataProduct.avatar != ''" :src="`${urlImage}${url}` + dataProduct.image" alt="" style="; object-fit: contain; width: 500px; height: 450px; text-align: center; border-radius: 8px; border: 0.5px solid #ccc;">                           
                          </div>
                          <div class="col-md-2" style="text-align: left; padding-left: 20px;">
                            <p>Tên sản phẩm</p>
                            <p>Tên seo</p>
                            <p>Giá sản phẩm</p>
                            <p>Giá khuyến mãi</p>
                            <p>Số lượng sản phẩm</p>
                            <p>Thời gian bảo hàng</p>
                            <p>Ngày đăng sản phẩm</p>
                            <p>Trạng thái</p>
                            <p>Danh mục sản phẩm</p>
                            <p>Hãng sản phẩm</p>
                            <p>Nhà cung cấp</p>
                            <p>Mô tả ngắn</p>
                          </div>
                          <div class="col-md-5" style="text-align: left;">
                            <p>: {{ dataProduct.name }}</p>
                            <p>: {{ dataProduct.seoTitle }}</p>
                            <p>: {{ dataProduct.price}}</p>
                            <p>: {{ dataProduct.promotionPrice }}</p>
                            <p>: {{ dataProduct.quantity }}</p>
                            <p>: {{ dataProduct.warranty }} (tháng)</p>
                            <p>: {{ new Date(dataProduct.hot).toLocaleDateString("vi-VN") }}</p>
                            <p v-if="dataProduct.status == 0">: Công khai</p>
                            <p v-if="dataProduct.status == 1">: Ẩn</p>
                            <p>: {{ categoryProductList.name }}</p>
                            <p>: {{ brandProductList.name }}</p>
                            <p>: {{ supplierList.name }}</p>
                            <p>: {{ dataProduct.description }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="" style="text-align: right; padding-right: 30px;">
                        <button class="btn btn-outline-secondary" @click="backComponent()"><i class="fa-regular fa-hand-point-left" style="color: #4475ca;"></i> Quay lại</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script setup>
    import axios from "axios";
    import { onMounted, ref } from "vue";
    import { useRoute, useRouter } from "vue-router";

    const router = useRouter();
    const route = useRoute();
    const dataProduct = ref({})
    const categoryProductList = ref({})
    const brandProductList = ref({})
    const supplierList = ref({})
    const urlImage = ref("http://localhost:38448/api/SanPham/GetImageByPath?path=")
    const url =  "D:\\University_documents_DaiNam\\Year4\\Semester2\\DoAnTotNghiep2023\\BackEnd\\wwwroot\\images\\sanphams\\"

    onMounted(()=>{
        getByIDCustomer(route.params.id)
    })
    function getByIDCustomer(id){
        axios.get("http://localhost:38448/api/SanPham/GetByID/" + id).then((response)=>{
        dataProduct.value = response.data;
        GetDataCategory(dataProduct.value.cateID)
        GetDataBrand(dataProduct.value.brandID)
        GetDataSupplier(dataProduct.value.supplierID)
        }).catch((error)=>{
        console.log("Lỗi danh sách sản phẩm getByID ", error);
        })
    }

    function GetDataCategory(id) {
        axios
            .get("http://localhost:38448/api/DanhMucSanPham/GetByID/" + id)
            .then((response) => {
                categoryProductList.value = response.data;
                console.log(response.data);
            })
            .catch((error) => {
                console.log("Lỗi gọi danh sách dữ liệu danh muc: " + error);
            });
    }

    function GetDataBrand(id) {
        axios
            .get("http://localhost:38448/api/HangSanPham/GetByID/" +id)
            .then((response) => {
                brandProductList.value = response.data;
            })
            .catch((error) => {
                console.log("Lỗi gọi danh sách dữ liệu hãng sản phẩm: " + error);
            });
    }

    function GetDataSupplier(id) {
        axios
            .get("http://localhost:38448/api/NhaCungCap/GetByID/" +id)
            .then((response) => {
                supplierList.value = response.data;
            })
            .catch((error) => {
                console.log("Lỗi gọi danh sách nhà cung cấp: " + error);
            });
    }

    function backComponent(){
        router.push("/admin/san-pham")
    }
</script>

<style>

</style>